{% extends 'mainsite/base.html' %}{% block content %}{% load static %}{% load i18n %}

<body class="body indexEnterWindow">
    <div class="specialty-body">
        <div class="specialty-header">
            <div class="specialty-header-box-background">
                <div class="box-background-ImgSVG-h2CLONE">
                    <h2 class="box-background-ImgSVG-h2" id="id_title">{{ speciality.faculty }}</h2>
                </div>
                <div class="box-background-ImgSVG-h1CLONE">
                    <h1 class="box-background-ImgSVG-h1">{{ speciality.title}}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="specialty-all">
        <div class="specialty-all-BOXh1">
            <h1 class="specialty-all-h1 LangText-incomig-specialty1">{% translate "LangStaticname62" %} <br>{% translate "LangStaticname63" %}</h1>
            <p class="specialty-all-text">{{ speciality.description }}</p>
        </div>
        <div class="specialty-all-CardLink">
            <div class=" ">
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart1 sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-text LangText-incomig-specialty2">
                        {% translate "LangStaticname64" %}
                    </div>
                    <div class="specialty-all-CardLink-grey-answer">
                        <h1>{{ speciality.time_edu}}</h1>
                    </div>
                </div>
            </div>
            <div class=" ">
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart1 sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-text LangText-incomig-specialty3">
                        {% translate "LangStaticname65" %}
                    </div>
                    <div class="specialty-all-CardLink-grey-answer">
                        <h1>{{ speciality.type_edu }}</h1>
                    </div>
                </div>
            </div>
            <div class=" ">
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart1 sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-text LangText-incomig-specialty4">
                        {% translate "LangStaticname66" %}
                    </div>
                    <div class="specialty-all-CardLink-grey-answer">
                        <h1>{{ speciality.day_tipe }}</h1>
                    </div>
                </div>
            </div>
            <div class="one">
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart1 sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-text LangText-incomig-specialty5">
                        {% translate "LangStaticname67" %}
                    </div>
                    <div class="specialty-all-CardLink-grey-answer">
                        <h1>{{ speciality.price }}{% translate "LangStaticname68" %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="specialty-all top130">
        <div class="specialty-all-BOXh1">
            <h1 class="specialty-all-h1 LangText-incomig-specialty6">{% translate "LangStaticname69" %}</h1>
            <div class="specialty-all-exam">
                <div class="specialty-all-exam-content">
                    <div class="ProgramVstuplenie" alt=""> </div>
                    <a href="https://abiturientu.kai.ru/programmy-vstupitel-nyh-ispytanij">{% translate "LangStaticname70" %}</a>
                </div>
                <div class="specialty-all-exam-content">
                    <div alt="" class="DemoTest"> </div>

                    <a href="https://abiturientu.kai.ru/demo-versii-testov">{% translate "LangStaticname71" %}</a>
                </div>
                <div class="specialty-all-exam-content">
                    <div  alt="" class="RaspisanieIspit"> </div>

                    <a href="https://abiturientu.kai.ru/raspisanie-vstupitel-nyh-ispytanij">{% translate "LangStaticname72" %}</a>

                </div>
            </div>
        </div>
        <div class="specialty-all-CardLink" style="column-gap: 25px;">
            <div class="one">
                {% if speciality.exam_one == "MATH" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-MATH sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp ">
                        <h1 class="LangText-incomig-specialty8"> {% translate "LangStaticname73" %}</h1>
                    </div>
                </div>
                {% elif speciality.exam_one == "RUSS" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-RUSS sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp text-cart-center">
                        <h1 class="LangText-incomig-specialty9"> {% translate "LangStaticname74" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_one == "CHEM" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-CHEM sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty10"> {% translate "LangStaticname75" %}</h1>
                    </div>
                </div>
                {% elif speciality.exam_one == "PHYS" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-PHYS sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty11"> {% translate "LangStaticname76" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_one == "SOCL" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-SOCL sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty12"> {% translate "LangStaticname77" %}</h1>
                    </div>
                </div>
                {% elif speciality.exam_one == "INFO" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-INFO  sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty13"> {% translate "LangStaticname78" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_one == "FRLN" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-FRLN  sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp text-cart-center">
                        <h1 class="LangText-incomig-specialty14"> {% translate "LangStaticname79" %} </h1>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="two">
                {% if speciality.exam_two == "MATH" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-MATH sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp ">
                        <h1 class="LangText-incomig-specialty8"> {% translate "LangStaticname73" %}</h1>
                    </div>
                </div>
                {% elif speciality.exam_two == "RUSS" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-RUSS sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp text-cart-center">
                        <h1 class="LangText-incomig-specialty9"> {% translate "LangStaticname74" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_two == "CHEM" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-CHEM sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty10"> {% translate "LangStaticname75" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_two == "PHYS" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-PHYS sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty11"> {% translate "LangStaticname76" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_two == "SOCL" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-SOCL sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty12"> {% translate "LangStaticname77" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_two == "INFO" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-INFO  sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty13"> {% translate "LangStaticname78" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_two == "FRLN" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-FRLN  sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp text-cart-center">
                        <h1 class="LangText-incomig-specialty14"> {% translate "LangStaticname79" %} </h1>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="three">
                {% if speciality.exam_three == "MATH" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-MATH sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp ">
                        <h1 class="LangText-incomig-specialty8"> {% translate "LangStaticname73" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_three == "RUSS" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-RUSS sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp text-cart-center">
                        <h1 class="LangText-incomig-specialty9"> {% translate "LangStaticname74" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_three == "CHEM" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-CHEM sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty10"> {% translate "LangStaticname75" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_three == "PHYS" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-PHYS sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty11"> {% translate "LangStaticname76" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_three == "SOCL" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-SOCL sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty12"> {% translate "LangStaticname77" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_three == "INFO" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-INFO  sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty13"> {% translate "LangStaticname78" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_three == "FRLN" %}
                <div class="weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-FRLN  sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp text-cart-center">
                        <h1 class="LangText-incomig-specialty14"> {% translate "LangStaticname79" %} </h1>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="specialty-all top130">
        <div class="specialty-all-BOXh1" style="display: grid;gap: 25px;">
            <div>
                <h1 class="specialty-all-h1 LangText-incomig-specialty15"></h1>
                <p class="specialty-all-text LangText-incomig-specialty16" style="width: 664px;text-align: inherit;">
                </p>
            </div>
            <div class="specialty-all-text2">
                <p>{% translate "LangStaticname80" %}</p>
                <div class="specialty-naprav-block" style="margin-left: 5px;">
                    <div class="{{ speciality.direction_choice }}-specialty">
                        df
                    </div>
                </div>
            </div>
            <div class="specialty-all-text2" style="margin-left: 5px;">
                <p>{% translate "LangStaticname81" %}</p>
                <div class="specialty-naprav-block">
                    <div class="{{ speciality.direction_choice }}-specialty-kafed">
                        sd
                    </div>
                </div>
            </div>
        </div>
        <div class="specialty-building">
            <div class="{{ speciality.direction_choice }} specialty-buildingKAI cursor">
                <div class="specialty-buildingKAI-picture">
                    <div class="specialty-buildingKAI-pic"></div>
                    <div class="specialty-buildingKAI-title">
                        <div class="{{ speciality.direction_choice }}-specialty-place">
                        </div>

                    </div>
                    <div class="specialty-buildingKAI-mapAdress">
                        <a id="{{ speciality.direction_choice }}-url">{% translate "LangStaticname82" %}
                            <img src='{% static "mainsite/img/incoming/incoming-left.svg" %}' alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="specialty-all top130 specialty-all-Key-disiplin">
        <div class="specialty-all-BOXh1">
            <div>
                <h1 class="specialty-all-h1 LangText-incomig-specialty17">{% translate "LangStaticname83" %}</h1>
            </div>
        </div>
        <div class="specialty-all-BOXh1">
            {% for triadkey in last_n %}
            <div class="specialty-all-Key-naprav">
                <div class="specialty-naprav-block">
                    <div>
                        <p>{{ triadkey.title }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="haveyouQuestion">
        <div class="haveyouQuestion_boxh1">
            <h1 class="haveyouQuestion_h1 Lang-standart49">{% translate "LangStaticname84" %}</h1>
        </div>
        <div class="haveyouQuestion_boxes">

            <div class="haveyouQuestion_boxe_center haveyouQuestion_boxes3 cursor" onclick="location.href='/faq'">
                <div class="haveyouQuestion_boxe_h1Box boxe_h1Box_center">

                    <img src='{% static "mainsite/img/incoming/question.svg" %}' alt="" style="margin-bottom:50px;">
                    <h3 class="haveyouQuestion_boxe_h1 Lang-standart51 specialty-question-text-color">{% translate "LangStaticname85" %}
                        <br>{% translate "LangStaticname86" %}
                    </h3>
                </div>
                <div class="haveyouQuestion_boxe_center haveyouQuestion_boxes3 cursor" style="display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    align-items: center;">
                    <div>
                        <p class="haveyouQuestion_boxe_h1 specialty-question-text-color"
                            style="text-align: inherit; color: #FFFF;">{% translate "LangStaticname87" %}<br>{% translate "LangStaticname88" %}
                            <br>{% translate "LangStaticname89" %} <br>{% translate "LangStaticname90" %}</p>
                    </div>
                    <div>
                        <button class="haveyouQuestion_article">
                            <div style="color:#383838;">{% translate "LangStaticname91" %}</div>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <script src="{% static 'mainsite/js/registration/UrlmapsAdress.js' %}"></script>
        <script>
            var x = "{{ speciality.direction_choice }}-url";

            switch (x) {
                case ("First-building-url"):
                    document.getElementById("First-building-url").href = "https://go.2gis.com/01zrow";
                    console.log("Первое Здание!");
                    break;
                case ("Second-building-url"):
                    document.getElementById("Second-building-url").href = "https://go.2gis.com/obc5vy";
                    console.log("Второе Здание!");
                    break;
                case ("Third-building-url"):
                    document.getElementById("Third-building-url").href = "https://go.2gis.com/cyfft9";
                    console.log("Второе Здание!");
                    break;
                case ("Fifth-building-url"):
                    document.getElementById("Fifth-building-url").href = "https://go.2gis.com/ku84vh";

                    console.log("Второе Здание!");
                    break;
                case ("Seven-building-url"):
                    document.getElementById("Seven-building-url").href = "https://go.2gis.com/f4pcs";
                    console.log("Второе Здание!");
                    break;
                case ("Eighth-building-url"):
                    document.getElementById("Eighth-building-url").href = "https://go.2gis.com/ywdjjo";
                    console.log("Второе Здание!");
                    break;
                default:
                    console.log("Ошибка!");
                    break;
            }
        </script>
    </div>

</body>
{% endblock %}