@media screen and (min-width:100px) and (max-width:281px) {
    .content,
    #phone_hend,
    #phone_hend_extra{
        width: 280px;
    }

    .main_icon_logo_flexbox {
        width: 36.497px;
        height: 36px;
    }

    .main_icon_logo_phone {
        width: 36px;
    }

    .phone_header_home_ico, 
    .phone_header_question_ico, 
    .phone_header_notice_ico,
    .phone_header_presen_ico {
        width: 30px;
        height: 30px;
    }

    .footer_slade1_icon{
        max-width: 100%;
        width: 30px;
        height: 30px;
    }

    .phone_footer_slade1{
        width: 37%;
    }

    .phone_footer_slade2{
        width: 24%;
    }

    .phone_footer_slade3{
        width: 22%;
    }

    .footer_slade1_icon_text{
        margin-left: 15%;
    }
    .footer_slade1_icon_text h1, 
    .phone_footer_slade3_adres h1,
    .phone_footer_slade2_h h1, 
    .phone_footer_slade2_namber1, 
    .phone_footer_slade2_namber2,
    .phone_footer_slade3_ulisa {
        font-size: 5px;
    }

    .phone_footer_upon p,
    .phone_footer_slade2_link{
        font-size: 4px;
    }

    .phone_footer_slade2_link{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    }

    .footer_boxs_links_box_plot{
        width: 25px;
        height: 23px;
    }
/**********************320***не отредактирован*/


    .slide1_burron_Bxtex{
        font-size: 10.4px;
    }
    .slide1_burron_BxtexPodfac{
        font-size: 10.4px;
    }
    .news_block_phone {
        width: 137px;
    }

    .news_block_img_phone {
        width: 137px;
        height: 137px;
        border-radius: 7px;
    }


    .footer_mainText {
        font-weight: 500;
        font-size: 6px;
        line-height: 134.69%;
        text-align: right;
        letter-spacing: 0.03em;
    }

    .helpText {
        font-weight: 400;
        font-size: 6px;
        line-height: 134.69%;
        text-align: right;
        letter-spacing: 0.03em;
    }

    .Memo_box_textInf_text {
        font-size: 6px;
        font-weight: 500;

    }

    .main_icon_logo_phoneText {
        font-weight: 400;
        font-size: 6px;
        font-family: var(--font-averta-cy);
        color: #000;
        margin-left: 15px;
    }

    .footer_FM1_text {
        color: #B7B7B7;
        font-size: 4px;
        font-family: var(--font-inter);
    }

    .link_FM2Text_p {
        color: #B7B7B7;
        font-size: 4px;
        font-family: var(--font-inter);
    }

    
    /**************Page incomig************/
    .phone-specialty-body {
        margin-top: 20px;
    }
    
    .phone-specialty-box2-title {
        margin-top: 15px;
        font-size: 14px;
    }
    
    .phone-specialty-box2-title {
        padding: 10px;
    }
    
    .phone-specialty-box2-title-text {
        font-weight: 600;
    }
    
    /* .phone-specialty-box3-card {
        gap: 10px;
        margin: .5% 2.2% 0 4.5%;
    } */
    
    .LangText-incomig-specialty2,
    .LangText-incomig-specialty3,
    .LangText-incomig-specialty4,
    .LangText-incomig-specialty5,
    .LangText-incomig-specialty6,
    .LangText-incomig-specialty7,
    .LangText-incomig-specialty8,
    .LangText-incomig-specialty9,
    .LangText-incomig-specialty10,
    .LangText-incomig-specialty11,
    .LangText-incomig-specialty12,
    .LangText-incomig-specialty13,
    .LangText-incomig-specialty14 {
        font-weight: 700;
        font-size: 7px;
        line-height: 10px;
    
    }
    
    .specialty-all-CardLink {
        column-gap: 8px;
        row-gap: 8px;
    }
    
    .phone-weHAve_new_boxStart_img {
        border-radius: 3px;
    }
    
    .specialty-all-exam-content {
        width: 169px;
        height: 28px;
        margin-top: 5px;
        gap: 5px;
    }
    
    .RaspisanieIspit-phone,
    .DemoTest-phone,
    .ProgramVstuplenie-phone {
        width: 21px;
        height: 20px;
    }
    
    
    
    .First-building .specialty-buildingKAI-pic,
    .Second-building .specialty-buildingKAI-pic,
    .Third-building .specialty-buildingKAI-pic,
    .Fifth-building .specialty-buildingKAI-pic,
    .Seventh-building .specialty-buildingKAI-pic,
    .Eighth-building .specialty-buildingKAI-pic {
        width: 127.1px;
        height: 125px;
    }
    
    .specialty-all-BOXh1 {
        width: 80%;
        display: flex;
        gap: 2%;
        flex-direction: column;
    }
    
    .specialty-naprav-block-font-size {
        font-size: 10px;
    }
    
    .phone-haveyouQuestion_boxes {
        gap: 35px;
    }
    
    .haveyouQuestion_boxe_center {
        width: 293.33px;
        height: 165px;
    }
    
    .phone-boxe_h1Box_center {
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: 11px;
    }
    
    .phone-question-icon {
        width: 116px;
        height: 90px;
    }
    
    .phone-haveyouQuestion_boxes3 {
        gap: 20px;
    }
    
    .phone-haveyouQuestion_article {
        border-radius: 4px;
        padding: 3.4px 3.4px 3.4px 3.4px;
    }
    
    .phone-haveyouQuestion_article div {
        font-size: 11px;
    }
    
    .phone-haveyouQuestion_boxe_h1 {
        font-weight: 800;
        font-size: 11px;
        line-height: 116.1%;
    }
    
    .phone-haveyouQuestion_boxes {
        width: 293.33px;
        height: 165px;
    }
    
    .phone-specialty-all-Key-naprav {
        padding: 5px;
        gap: 45px;
    }
    
    .phone-specialty-header-box-background {
        width: 404px;
        height: 146px;
        border-radius: 3px;
    }
    
    .phone-box-background-ImgSVG-h2 {
        font-weight: 400;
        font-size: 10px;
        line-height: 160.1%;
    }
    
    .phone-box-background-ImgSVG-h1 {
        font-weight: 700;
        font-size: 12px;
        line-height: 154.19%;
    }
    
    .phone-specialty-box2,
    .phone-specialty-box3,
    .phone-specialty-body {
        max-width: 94.5%;
        width: 302.4px;
    }
    
    .phone-specialty-building {
        grid-gap: 75px;
    }
    
    .box-background-ImgSVG-h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 154.19%;
    }
    
    .specialty-all {
        width: 90%;
        gap: 3%;
    }
    
    .specialty-all-CardLink-boxStart1,
    .specialty-all-CardLink-boxStart2,
    .specialty-all-CardLink-boxStart3,
    .specialty-all-CardLink-boxStart4 {
        min-width: 260px;
        width: 280px;
        height: 317px;
    }
    
    .specialty-all-CardLink-boxStart-MATH,
    .specialty-all-CardLink-boxStart-RUSS,
    .specialty-all-CardLink-boxStart-CHEM,
    .specialty-all-CardLink-boxStart-PHYS,
    .specialty-all-CardLink-boxStart-SOCL,
    .specialty-all-CardLink-boxStart-INFO,
    .specialty-all-CardLink-boxStart-FRLN {
        /* min-width: 260px; */
        width: 58.66px;
        height: 58px;
        border-radius: 5px;
    }
    
    .specialty-all-text {
        /* margin-top: 25px; */
        font-weight: 400;
        font-size: 10px;
        line-height: 202.6%;
    }
    
    .box-center {
        gap: 10%;
    }
    
    .top130 {
        margin-top: 130px;
    }
    
    .buildingKAI-text-profesion {
        border-radius: 14px;
        padding: 12px 12px 12px 12px;
    }
    
    .specialty-buildingKAI-title {
        width: 120px;
        height: 25px;
        font-weight: 500;
        font-size: 9px;
        line-height: 152.02%;
    }
    
    .buildingKAI-text-title {
        font-weight: 500;
        font-size: 9px;
        line-height: 31px;
    }
    
    .buildingKAI-text-profesion div {
        font-weight: 500;
        font-size: 16px;
        line-height: 123.19%;
    }
    
    .box_boxText_twoBTNBox_button {
        border-radius: 14px;
        padding: 10px 25px 10px 35px;
        margin-top: 30px;
    }
    
    .specialty-all-text2 {
        font-weight: 400;
        font-size: 10px;
        gap: 2px;
    }
    
    .specialty-nb1,
    .specialty-naprav-block div {
        padding: 1.2px 1.2px 1.2px 1.2px;
        gap: 10px;
        /* border-radius: 5px;
        border: var(--phone-specialty-naprav-block); */
        background-color: var(--bg-color);
    }

    .specialty-naprav-block{
        border: var(--phone-specialty-naprav-block);
        border-radius: 5px;
    }
    
    .specialty-all-exam{
        gap: 16px;
    }
    
    #Second-building-url{
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }

    .specialty_box_picture_text_phone{
        display: none;
    }

    .main_icon_logo_flexbox {
        width: 36px;
        height: 36px;
    }

    .main_icon_logo_phone {
        width: 36px;
    }

    .phone_header_home_ico,
    .phone_header_question_ico,
    .phone_header_notice_ico,
    .chageColor_phone, 
    .phone_header_presen_ico {
        width: 30px;
        height: 30px;
    }
    .phone_header_home_get_ico{
        width: 20px;
        height: 20px;
    }
    .footer_slade1_icon {
        max-width: 100%;
        width: 30px;
        height: 30px;
    }

    .phone_footer_slade1 {
        width: 37%;
    }

    .phone_footer_slade2 {
        width: 24%;
    }

    .phone_footer_slade3 {
        width: 22%;
    }

    .footer_slade1_icon_text {
        margin-left: 15%;
    }

    .footer_slade1_icon_text h1,
    .phone_footer_slade3_adres h1,
    .phone_footer_slade2_h h1,
    .phone_footer_slade2_namber1,
    .phone_footer_slade2_namber2,
    .phone_footer_slade3_ulisa {
        font-size: 5px;
    }

    .slade1_text {
        font-size: 7px;
    }

    .phone_footer_upon p,
    .phone_footer_slade2_link {
        font-size: 4px;
    }

    .phone_footer_slade2_link {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

    }

    .footer_boxs_links_box_plot {
        width: 25px;
        height: 23px;
    }

    .Lang-standart32,
    .Lang-standart27,
    .Lang-phone-standart01 {
        font-size: 17px;
    }


    /**********************320***не отредактирован*/
    .slide1_text .Lang-standart84_1 {
        font-size: 34px;
    }

    .slide1_burron_Bxtex {
        font-size: 10.4px;
    }

    .slide1_burron_BxtexPodfac {
        font-size: 10.4px;
    }

    .news_block_phone {
        width: 120px;
    }

    .news_block_img_phone {
        width: 120px;
        height: 120px;
        border-radius: 7px;
    }


    .footer_mainText {
        font-weight: 500;
        font-size: 6px;
        line-height: 134.69%;
        text-align: right;
        letter-spacing: 0.03em;
    }

    .helpText {
        font-weight: 400;
        font-size: 6px;
        line-height: 134.69%;
        text-align: right;
        letter-spacing: 0.03em;
    }

    .Memo_box_textInf_text {
        font-size: 6px;
        font-weight: 500;

    }

    .main_icon_logo_phoneText {
        font-weight: 400;
        font-size: 6px;
        font-family: var(--font-averta-cy);
        color: #000;
        margin-left: 15px;
    }

    .footer_FM1_text {
        color: #B7B7B7;
        font-size: 4px;
        font-family: var(--font-inter);
    }

    .link_FM2Text_p {
        color: #B7B7B7;
        font-size: 4px;
        font-family: var(--font-inter);
    }
    .news_title-phone{
        height: 24px;
    }

    .about_IMO{
        width: 250px;
    }

    .AircraftIndustry1_phone {
        width: 160px;
        height: 100px;
    }

    .AircraftEngines_phone {
        width: 96px;
        height: 100px;
    }

    .infocommunicationTechnologies_phone {
        width: 96px;
        height: 100px;
    }

    .AircraftIndustry2_phone {
        width: 160px;
        height: 100px;
    }

    .AircraftIndustry3_phone {
        width: 160px;
        height: 100px;
    }

    .AircraftOperation1_phone {
        width: 96px;
        height: 100px;
    }

    .compositTechnologi_phone {
        width: 96px;
        height: 100px;
    }

    .shipbuilding_phone {
        width: 160px;
        height: 100px;
    }

    /* text-size    */

    .specialty_box_picture_text_phone {
        font-size: 8px;
    }

    #collapse {
        width: 200px;
        height: 55px;
        margin-top: 190px;
        margin-right: 140px;
    }
    /* .pop-up_form-down{
        height: 95px;
    } */

    .faq_content_phone {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .faq_block1_phone {
        padding-top: 50px;
        text-align: center;
    }

    .faq_form h1 {
        font-size: 28px;
        text-align: center;
    }

    .faq_form p {
        text-align: center;
        font-size: 12px;
    }

    .verification-mail_phone {
        margin-top: 25px;
        margin-bottom: 25px;

    }

    .verification-mail-field_phone {
        font-size: 15px;
        width: 280px;
        height: 50px;
    }

    .phone-specialty-box2-text p {
        font-weight: 400;
        font-size: 10px;
        line-height: 160.6%;
    }

    .specialty-buildingKAI-mapAdress a{
        font-family: var(--font-averta-demo-PE);
        font-style: normal;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }

    .specialty-buildingKAI-picture {
        display: grid;
        justify-items: start;
        align-content: center;
        grid-gap: 20px;
    }

    .phone-specialty-all-CardLink-boxStart1 {
        width: 65px;
        height: 75px;
        border-radius: 10px;
    }

    .phone-specialty-all{
        width: 94.5%;
        margin: 6.5% 2.2% 0 4.5%;
    }

    

.LangText-incomig-specialty2,
.LangText-incomig-specialty3,
.LangText-incomig-specialty4,
.LangText-incomig-specialty5,
.phone-specialty-all-CardLink-grey-answer h1 {
    font-weight: 500;
    font-size: 6px;
    line-height: 160.1%;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.phone-specialty-body {
    margin-top: 20px;
}

.phone-specialty-box2-title {
    margin-top: 15px;
}

.phone-specialty-box2-title {
    padding: 10px;
}

.phone-specialty-box2-title-text {
    font-weight: 600;
    color: var(--Profil-p);
}


.LangText-incomig-specialty2,
.LangText-incomig-specialty3,
.LangText-incomig-specialty4,
.LangText-incomig-specialty5,
.LangText-incomig-specialty6,
.LangText-incomig-specialty7,
.LangText-incomig-specialty8,
.LangText-incomig-specialty9,
.LangText-incomig-specialty10,
.LangText-incomig-specialty11,
.LangText-incomig-specialty12,
.LangText-incomig-specialty13,
.LangText-incomig-specialty14 {
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;

}

.specialty-all-CardLink {
    column-gap: 8px;
    row-gap: 8px;
}

.phone-weHAve_new_boxStart_img {
    border-radius: 3px;
}

.specialty-all-exam-content {
    width: 169px;
    height: 28px;
    margin-top: 5px;
    gap: 5px;
}

.RaspisanieIspit-phone,
.DemoTest-phone,
.ProgramVstuplenie-phone {
    width: 21px;
    height: 20px;
}



.First-building .specialty-buildingKAI-pic,
.Second-building .specialty-buildingKAI-pic,
.Third-building .specialty-buildingKAI-pic,
.Fifth-building .specialty-buildingKAI-pic,
.Seventh-building .specialty-buildingKAI-pic,
.Eighth-building .specialty-buildingKAI-pic {
    width: 143px;
    height: 142px;
}

.specialty-all-BOXh1 {
    width: 80%;
}

.specialty-naprav-block-font-size {
    font-size: 10px;
}

.phone-haveyouQuestion_boxes {
    gap: 35px;
}

.haveyouQuestion_boxe_center {
    width: 320px;
    height: 200px;
}

.phone-boxe_h1Box_center {
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 11px;
}

.phone-question-icon {
    width: 116px;
    height: 90px;
}

.phone-haveyouQuestion_boxes3 {
    gap: 20px;
}

.phone-haveyouQuestion_article {
    border-radius: 14px;
    padding: 3.4px 3.4px 3.4px 3.4px;
}

.phone-haveyouQuestion_article div {
    font-size: 11px;
}

.phone-haveyouQuestion_boxe_h1 {
    font-weight: 800;
    font-size: 11px;
    line-height: 116.1%;
}

.phone-haveyouQuestion_boxes {
    width: 300px;
    height: 200px;
}

.phone-specialty-all-Key-naprav {
    padding: 5px;
    gap: 45px;
}

.phone-specialty-header-box-background {
    width: 340px;
    height: 146px;
    border-radius: 3px;
}

.phone-box-background-ImgSVG-h2 {
    font-weight: 400;
    font-size: 10px;
    line-height: 160.1%;
}

.phone-box-background-ImgSVG-h1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 154.19%;
}

.phone-specialty-box2,
.phone-specialty-box3,
.phone-specialty-body {
    max-width: 95%;
    width: 340px;
}

.phone-specialty-building {
    grid-gap: 75px;
}

.box-background-ImgSVG-h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 154.19%;
}

.specialty-all {
    width: 90%;
    gap: 3%;
}

.specialty-all-CardLink-boxStart1,
.specialty-all-CardLink-boxStart2,
.specialty-all-CardLink-boxStart3,
.specialty-all-CardLink-boxStart4 {
    min-width: 260px;
    width: 280px;
    height: 317px;
}

.specialty-all-CardLink-boxStart-MATH,
.specialty-all-CardLink-boxStart-RUSS,
.specialty-all-CardLink-boxStart-CHEM,
.specialty-all-CardLink-boxStart-PHYS,
.specialty-all-CardLink-boxStart-SOCL,
.specialty-all-CardLink-boxStart-INFO,
.specialty-all-CardLink-boxStart-FRLN {
    /* min-width: 260px; */
    width: 66px;
    height: 64px;
    border-radius: 6px;
}

/* .specialty-all-text {
    margin-top: 25px; 
    font-weight: 400;
    font-size: 10px;
    line-height: 202.6%;
} */

.box-center {
    gap: 10%;
}

.top130 {
    margin-top: 130px;
}

.buildingKAI-text-profesion {
    border-radius: 14px;
    padding: 12px 12px 12px 12px;
}

.specialty-buildingKAI-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 152.02%;
}

.buildingKAI-text-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
}

.buildingKAI-text-profesion div {
    font-weight: 500;
    font-size: 16px;
    line-height: 123.19%;
}

.box_boxText_twoBTNBox_button {
    border-radius: 14px;
    padding: 10px 25px 10px 35px;
    margin-top: 30px;
}

.specialty-all-text2 {
    font-weight: 400;
    font-size: 10px;
}

.specialty-nb1,
.specialty-naprav-block div {
    padding: 12px 14px;
    gap: 10px;
    border-radius: 14px;
}

.specialty-all-exam{
    gap: 16px;
}

#Second-building-url{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

.phone_.footer_boxs_links_box_l{
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
}
