@media screen and (max-width:375px) {
    .slide1_burron_Bxtex{
        font-size: 12px;
    }
    .slide1_burron_BxtexPodfac{
        font-size: 12px;
    }
    .news_block_phone {
        width: 183px;
    }

    .news_block_img_phone {
        width: 183px;
        height: 183px;
    }


    .phone_header_home_ico {
        width: 39px;
        height: 38px;
    }

    .phone_header_question_ico {
        width: 39px;
        height: 38px;
    }

    .phone_header_notice_ico {
        width: 39px;
        height: 38px;
    }

    .phone_header_presen_ico {
        width: 39px;
        height: 38px;
    }

    .main_icon_logo_flexbox {
        width: 48.5px;
        height: 50px;
    }

    .main_icon_logo {
        width: 50px;
    }

    /*///////////////////////////////////////330*425/360///////*/


    .footer_mainText {
        font-size: 7px;
    }

    .helpText {
        font-size: 7px;
    }

    .Memo_box_textInf_text {
        font-size: 7px;
    }

    .main_icon_logo_phoneText {
        font-size: 7px;
    }

    .footer_FM1_text {
        font-size: 5px;
    }

    .link_FM2Text_p {
        font-size: 5px;
    }

    .phone_footer {
        max-width: 100%;
    }

    .footer_slade1_icon_text h1 {
        font-size: 7px;
    }

    /* .footer_slade1_icon_text {
        width: 102px;
    } */

    .phone_footer_slade2_h h1 {
        font-size: 7px;
    }

    .phone_footer_slade3_adres h1 {
        font-size: 7px;
    }

    .phone_footer_slade2_namber1 {
        font-size: 7px;
    }

    .phone_footer_slade2_namber2 {
        font-size: 7px;
    }

    .phone_footer_slade3_ulisa {
        font-size: 7px;
    }

    .phone_footer_slade2_link a {
        font-size: 5px;
    }

    .footer_slade1_icon {
        width: 30px;
        height: 27px;
    }

    .footer_boxs_links_box_l {
        width: 15.3px;
        height: 14.2px;
    }

    .footer_boxs_links_box_plot {
        width: 30px;
        height: 27px;
    }

    .phone_footer_slade2 {
        width: 98px;
    }

    .phone_footer_upon p {
        font-size: 5px;
    }

    .base_content_slade1 {
        width: 100%;
    }

    .slide1_text .Lang-standart84_1 {
        font-size: 42.5px;
    }

    .slide1_text {
        width: 342.4px;
    }

    .base_content_slade3 {
        width: 357px;
    }

    .Lang-standart27 {
        font-size: 24px;
    }

    .news_list_a {
        width: 162px;
    }

    .news_block_img {
        width: 162px;
        height: 164px;
    }

    .news_title {
        height: 28.4px;
    }

    .news_title_h3 {
        font-size: 9.5px;
    }

    .news-KAI-block p {
        font-size: 5px;
    }

    .news-date {
        font-size: 5px;
    }

    .about_IMO {
        width: 357px;
        margin-top: 30px;
    }

    .box_aboutIMO_ImgSVG {
        margin-top: 24px;
    }

    .Lang-standart32 {
        font-size: 20px;
    }

    .Lang-standart33 {
        font-size: 8px;
    }

    .box_aboutIMO_text_Inf_INGSVG {
        width: 84px;
        height: 84px;
    }

    .box_aboutIMO_ImgSVG_background {
        width: 357px;
        height: 87px;
        border-radius: 19px;
    }

    .Lang-standart34 {
        font-size: 14px;
    }

}

@media screen and (max-width: 375px) {

    .main_icon_logo_flexbox {
        width: 40px;
        height: 40px;
    }

    .phone_header_presen_ico {
        width: 34px;
        height: 34px;
    }

    .phone_header_question_ico {
        width: 34px;
        height: 34px;
    }

    .phone_header_notice {
        width: 34px;
        height: 34px;
    }

    .phone_header_home {
        width: 34px;
        height: 34px;
    }
}
