@media screen and (min-width:551px) and (max-width:591px) {
    .content,
    #phone_hend,
    #phone_hend_extra{
        width: 590px;
    }
    .main_icon_logo_flexbox {
        width: 90px;
        height: 90px;
    }

    .main_icon_logo_phone {
        width: 90px;
    }

    .phone_header_home_ico, 
    .phone_header_question_ico, 
    .phone_header_notice_ico,
    .phone_header_presen_ico {
        width: 70px;
        height: 70px;
    }

  
    .footer_slade1_icon{
        max-width: 100%;
        width: 53px;
        height: 50px;
    }

    .phone_footer_slade1{
        width: 37%;
    }

    .phone_footer_slade2{
        width: 24%;
    }

    .phone_footer_slade3{
        width: 22%;
    }

    .footer_slade1_icon_text{
        margin-left: 5%;
    }
    .footer_slade1_icon_text h1, 
    .phone_footer_slade3_adres h1,
    .phone_footer_slade2_h h1, 
    .phone_footer_slade2_namber1, 
    .phone_footer_slade2_namber2,
    .phone_footer_slade3_ulisa {
        font-size: 17px;
    }

    .phone_footer_upon p,
    .phone_footer_slade2_link a{
        font-size: 10px;
    }

    
    .footer_boxs_links_box_plot {
        width: 58px;
        height: 42px;
    }

/**********************360***не отредактирован*/

    .news_block_phone {
        width: 320px;
    }

    .news_block_img_phone {
        width: 320px;
        height: 320px;
    }

    /*  raschet */
    .Lang-standart84_1 {
        font-size: 60px;
    }

    .slide1_text {
        width: 387px;
    }

    .slade_specialty_box_displayFlex_litleBox {
        width: 650px;
    }

    .AircraftIndustry1 {
        width: 385px;
    }

    .standartStyleForimgSp {
        width: 230px;
    }


    .phone_footer_slade1_down {
        width: 184px;
    }

    /*///////////////////////////////////////////////////////////////////*/


    .footer_mainText,
    .helpText,
    .Memo_box_textInf_text,
    .main_icon_logo_phoneText  {
        font-size: 10px;
    }

    .footer_FM1_text,
    .link_FM2Text_p,
    .phone_footer_upon p  {
        font-size: 8px;
    }

    .footer_boxs_links_box_l {
        width: 37px;
        height: 30px;
    }

    .footer_boxs_links_box_plot {
        width: 71px;
        height: 55px;
    }


    .phone_footer_upon p {
        font-size: 12px;
    }

    .base_content_slade1 {
        width: 100%
    }

    .slide1_text .Lang-standart84_1 {
        font-size: 60px;
    }

    .slide1_burron_Bxtex,
    .slide1_burron_BxtexPodfac{
        font-size: 25px;
    }


    .Lang-standart27{
        font-size: 50px;
    }

    .slide1_text {
        width: 500px;
    }

    .base_content_slade3 {
        width: 403px;
    }

    .news_list_a {
        width: 320px;
    }

    .news_block_img {
        width: 183px;
        height: 185.4px;
    }

    .news_title {
        height: 32px;
    }

    .news_title_h3 {
        font-size: 11px;
    }

    .news-KAI-block p,
    .news-date {
        font-size: 12px;
    }



    .about_IMO {
        width: 100%;
        margin-top: 33.4px;
    }

    .box_aboutIMO_ImgSVG {
        margin-top: 26.7px;
    }

    .Lang-standart32 {
        font-size: 50px;
    }

    .Lang-standart33 {
        font-size: 15px;
    }

    .box_aboutIMO_text_Inf_INGSVG {
        width: 200px;
    }

    .box_aboutIMO_ImgSVG_background {
        width: 691px;
        border-radius: 16px;
    }

    .Lang-standart34 {
        font-size: 50px;
    }


    /**************Page incomig************/
    .phone-specialty-body {
        margin-top: 20px;
    }
    
    .phone-specialty-box2-title {
        margin-top: 15px;
    }
    
    .phone-specialty-box2-title {
        padding: 10px;
    }
    
    .phone-specialty-box2-title-text {
        font-weight: 600;
    }
    
    /* .phone-specialty-box3-card {
        margin-top: 10px;
        gap: 30px;
    } */
    
    .LangText-incomig-specialty2,
    .LangText-incomig-specialty3,
    .LangText-incomig-specialty4,
    .LangText-incomig-specialty5,
    .LangText-incomig-specialty6,
    .LangText-incomig-specialty7,
    .LangText-incomig-specialty8,
    .LangText-incomig-specialty9,
    .LangText-incomig-specialty10,
    .LangText-incomig-specialty11,
    .LangText-incomig-specialty12,
    .LangText-incomig-specialty13,
    .LangText-incomig-specialty14 {
        font-weight: 700;
        font-size: 10px;
        line-height: 10px;
    
    }
    
    .specialty-all-CardLink {
        column-gap: 10px;
        row-gap: 10px;
    }
    
    .phone-weHAve_new_boxStart_img {
        border-radius: 6px;
    }
    
    .specialty-all-exam-content {
        width: 216px;  /*    */
        height: 28px;
        margin-top: 5px;
        gap: 5px;
    }
    
    .RaspisanieIspit-phone,
    .DemoTest-phone,
    .ProgramVstuplenie-phone {
        width: 21px;
        height: 20px;
    }
    
    
    
    .First-building .specialty-buildingKAI-pic,
    .Second-building .specialty-buildingKAI-pic,
    .Third-building .specialty-buildingKAI-pic,
    .Fifth-building .specialty-buildingKAI-pic,
    .Seventh-building .specialty-buildingKAI-pic,
    .Eighth-building .specialty-buildingKAI-pic {
        width: 143px;
        height: 142px;
    }
    
    .specialty-all-BOXh1 {
        width: 80%;
    }
    
    .specialty-naprav-block-font-size {
        font-size: 10px;
    }
    
    .phone-haveyouQuestion_boxes {
        gap: 35px;
    }
    
    .haveyouQuestion_boxe_center {
        width: 379px;
        height: 200px;
    }
    
    .phone-boxe_h1Box_center {
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: 11px;
    }
    
    .phone-question-icon {
        width: 116px;
        height: 90px;
    }
    
    .phone-haveyouQuestion_boxes3 {
        gap: 20px;
    }
    
    .phone-haveyouQuestion_article {
        border-radius: 14px;
        padding: 3.4px 3.4px 3.4px 3.4px;
    }
    
    .phone-haveyouQuestion_article div {
        font-size: 11px;
    }
    
    .phone-haveyouQuestion_boxe_h1 {
        font-weight: 800;
        font-size: 11px;
        line-height: 116.1%;
    }
    
    .phone-haveyouQuestion_boxes {
        width: 379px;
        height: 200px;
    }
    
    .phone-specialty-all-Key-naprav {
        padding: 5px;
        gap: 45px;
    }
    
    .phone-specialty-header-box-background {
        width: 404px;
        height: 146px;
        border-radius: 3px;
    }
    
    .phone-box-background-ImgSVG-h2 {
        font-weight: 400;
        font-size: 10px;
        line-height: 160.1%;
    }
    
    .phone-box-background-ImgSVG-h1 {
        font-weight: 700;
        font-size: 16.5px;
        line-height: 154.19%;
    }
    
    .phone-specialty-box2,
    .phone-specialty-box3,
    .phone-specialty-body {
        max-width: 95%;
        width: 404px;
    }
    
    .phone-specialty-building {
        grid-gap: 75px;
    }
    
    .box-background-ImgSVG-h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 154.19%;
    }
    
    .specialty-all {
        width: 90%;
        gap: 3%;
    }
    
    .specialty-all-CardLink-boxStart1,
    .specialty-all-CardLink-boxStart2,
    .specialty-all-CardLink-boxStart3,
    .specialty-all-CardLink-boxStart4 {
        min-width: 260px;
        width: 280px;
        height: 317px;
    }
    
    .specialty-all-CardLink-boxStart-MATH,
    .specialty-all-CardLink-boxStart-RUSS,
    .specialty-all-CardLink-boxStart-CHEM,
    .specialty-all-CardLink-boxStart-PHYS,
    .specialty-all-CardLink-boxStart-SOCL,
    .specialty-all-CardLink-boxStart-INFO,
    .specialty-all-CardLink-boxStart-FRLN {
        /* min-width: 260px; */
        width: 66px;
        height: 64px;
        border-radius: 6px;
    }
    
    .specialty-all-text {
        margin-top: 25px;
        font-weight: 400;
        font-size: 10px;
        line-height: 202.6%;
    }
    
    .box-center {
        gap: 10%;
    }
    
    .top130 {
        margin-top: 130px;
    }
    
    .buildingKAI-text-profesion {
        border-radius: 14px;
        padding: 12px 12px 12px 12px;
    }
    
    .specialty-buildingKAI-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 152.02%;
    }
    
    .buildingKAI-text-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 31px;
    }
    
    .buildingKAI-text-profesion div {
        font-weight: 500;
        font-size: 16px;
        line-height: 123.19%;
    }
    
    .box_boxText_twoBTNBox_button {
        border-radius: 14px;
        padding: 10px 25px 10px 35px;
        margin-top: 30px;
    }
    
    .specialty-all-text2 {
        font-weight: 400;
        font-size: 10px;
    }
    
    .specialty-nb1,
    .specialty-naprav-block div {
        padding: 12px 14px;
        gap: 10px;
        border-radius: 14px;
    }
    
    .specialty-all-exam{
        gap: 16px;
    }
    
    #Second-building-url{
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }

    .main_icon_logo_flexbox {
        width: 56px;
        height: 56px;
    }

    .main_icon_logo_phone {
        width: 56px;
    }

    .phone_header_home_ico,
    .phone_header_question_ico,
    .phone_header_notice_ico,
    .chageColor_phone, 
    .phone_header_presen_ico {
        width: 44px;
        height: 44px;
    }

    .phone_header_home_get_ico{
        width: 34px;
        height: 34px;
    }


    .footer_slade1_icon {
        max-width: 100%;
        width: 42px;
        height: 38px;
    }

    .phone_footer_slade1 {
        width: 37%;
    }

    .phone_footer_slade2 {
        width: 24%;
    }

    .phone_footer_slade3 {
        width: 22%;
    }

    .footer_slade1_icon_text {
        margin-left: 5%;
    }

    .footer_slade1_icon_text h1,
    .phone_footer_slade3_adres h1,
    .phone_footer_slade2_h h1,
    .phone_footer_slade2_namber1 p,
    .phone_footer_slade2_namber2 p,
    .phone_footer_slade3_ulisa {
        font-size: 8px;
    }

    .slade1_text {
        font-size: 14px;
    }

    .phone_footer_upon p,
    .phone_footer_slade2_link a {
        font-size: 6px;
    }


    .footer_boxs_links_box_plot {
        width: 27px;
        height: 25px;
    }

    /**********************360***не отредактирован*/

    .slide1_burron_Bxtex {
        font-size: 16px;
    }

    .slide1_burron_BxtexPodfac {
        font-size: 16px;
    }

    .news_block_phone {
        width: 183px;
    }

    .news_block_img_phone {
        width: 183px;
        height: 183px;
    }

    /*///////////////////////////////////////////////////////////////////*/

    .footer_mainText,
    .helpText,
    .Memo_box_textInf_text,
    .main_icon_logo_phoneText {
        font-size: 8px;
    }

    .footer_FM1_text,
    .link_FM2Text_p,
    .phone_footer_upon p {
        font-size: 5.3px;
    }

    .footer_slade1_icon {
        width: 33.5px;
        height: 31px;
    }

    .footer_boxs_links_box_l {
        width: 17.4px;
        height: 16px;
    }

    .footer_boxs_links_box_plot {
        width: 33.4px;
        height: 31px;
    }

    .phone_footer_slade2 {
        width: 111px;
    }


    .base_content_slade1 {
        width: 100%;
    }

    .slide1_text .Lang-standart84_1 {
        font-size: 48px;
    }

    .slide1_text {
        width: 100%;
    }

    .base_content_slade3 {
        width: 403px;
    }

    .Lang-standart27 {
        font-size: 27px;
    }

    .news_list_a {
        width: 183px;
    }

    .news_block_img {
        width: 183px;
        height: 185.4px;
    }

    .news_title-phone {
        height: 32px;
    }

    .news_title_h3 {
        font-size: 11px;
    }

    .news-KAI-block p,
    .news-date {
        font-size: 5.4px;
    }



    .about_IMO {
        width: 403px;
        margin-top: 33.4px;
    }

    .box_aboutIMO_ImgSVG {
        margin-top: 26.7px;
    }

    .Lang-standart32 {
        font-size: 23px;
    }

    .Lang-standart33 {
        font-size: 9.4px;
    }

    .box_aboutIMO_text_Inf_INGSVG {
        width: 95px;
        height: 95px;
    }

    .box_aboutIMO_ImgSVG_background {
        width: 302px;
        height: 74px;
        border-radius: 16px;
    }

    .Lang-standart34 {
        font-size: 12px;
    }
    .Lang-standart32,
    .Lang-standart27,
    .Lang-phone-standart01 {
        font-size: 22px;
    }



    

.LangText-incomig-specialty2,
.LangText-incomig-specialty3,
.LangText-incomig-specialty4,
.LangText-incomig-specialty5,
.phone-specialty-all-CardLink-grey-answer h1 {
    font-weight: 500;
    font-size: 6px;
    line-height: 160.1%;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.phone-specialty-body {
    margin-top: 20px;
}

.phone-specialty-box2-title {
    margin-top: 15px;
}

.phone-specialty-box2-title {
    padding: 10px;
}

.phone-specialty-box2-title-text {
    font-weight: 600;
    color: var(--Profil-p);
}


.LangText-incomig-specialty2,
.LangText-incomig-specialty3,
.LangText-incomig-specialty4,
.LangText-incomig-specialty5,
.LangText-incomig-specialty6,
.LangText-incomig-specialty7,
.LangText-incomig-specialty8,
.LangText-incomig-specialty9,
.LangText-incomig-specialty10,
.LangText-incomig-specialty11,
.LangText-incomig-specialty12,
.LangText-incomig-specialty13,
.LangText-incomig-specialty14 {
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;

}

.specialty-all-CardLink {
    column-gap: 8px;
    row-gap: 8px;
}

.phone-weHAve_new_boxStart_img {
    border-radius: 3px;
}

.specialty-all-exam-content {
    width: 169px;
    height: 28px;
    margin-top: 5px;
    gap: 5px;
}

.RaspisanieIspit-phone,
.DemoTest-phone,
.ProgramVstuplenie-phone {
    width: 21px;
    height: 20px;
}



.First-building .specialty-buildingKAI-pic,
.Second-building .specialty-buildingKAI-pic,
.Third-building .specialty-buildingKAI-pic,
.Fifth-building .specialty-buildingKAI-pic,
.Seventh-building .specialty-buildingKAI-pic,
.Eighth-building .specialty-buildingKAI-pic {
    width: 143px;
    height: 142px;
}

.specialty-all-BOXh1 {
    width: 80%;
}

.specialty-naprav-block-font-size {
    font-size: 10px;
}

.phone-haveyouQuestion_boxes {
    gap: 35px;
}

.haveyouQuestion_boxe_center {
    width: 320px;
    height: 200px;
}

.phone-boxe_h1Box_center {
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 11px;
}

.phone-question-icon {
    width: 116px;
    height: 90px;
}

.phone-haveyouQuestion_boxes3 {
    gap: 20px;
}

.phone-haveyouQuestion_article {
    border-radius: 14px;
    padding: 3.4px 3.4px 3.4px 3.4px;
}

.phone-haveyouQuestion_article div {
    font-size: 11px;
}

.phone-haveyouQuestion_boxe_h1 {
    font-weight: 800;
    font-size: 11px;
    line-height: 116.1%;
}

.phone-haveyouQuestion_boxes {
    width: 320px;
    height: 200px;
}

.phone-specialty-all-Key-naprav {
    padding: 5px;
    gap: 45px;
}

/* .phone-specialty-header-box-background {
    width: 340px;
    height: 146px;
    border-radius: 3px;
} */

.phone-box-background-ImgSVG-h2 {
    font-weight: 400;
    font-size: 10px;
    line-height: 160.1%;
}

.phone-box-background-ImgSVG-h1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 154.19%;
}

.phone-specialty-box2,
.phone-specialty-box3,
.phone-specialty-body {
    max-width: 95%;
    width: 340px;
}

.phone-specialty-building {
    grid-gap: 75px;
}

.box-background-ImgSVG-h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 154.19%;
}

.specialty-all {
    width: 90%;
    gap: 3%;
}

.specialty-all-CardLink-boxStart1,
.specialty-all-CardLink-boxStart2,
.specialty-all-CardLink-boxStart3,
.specialty-all-CardLink-boxStart4 {
    min-width: 260px;
    width: 280px;
    height: 317px;
}

.specialty-all-CardLink-boxStart-MATH,
.specialty-all-CardLink-boxStart-RUSS,
.specialty-all-CardLink-boxStart-CHEM,
.specialty-all-CardLink-boxStart-PHYS,
.specialty-all-CardLink-boxStart-SOCL,
.specialty-all-CardLink-boxStart-INFO,
.specialty-all-CardLink-boxStart-FRLN {
    /* min-width: 260px; */
    width: 66px;
    height: 64px;
    border-radius: 6px;
}

/* .specialty-all-text {
    margin-top: 25px; 
    font-weight: 400;
    font-size: 10px;
    line-height: 202.6%;
} */

.box-center {
    gap: 10%;
}

.top130 {
    margin-top: 130px;
}

.buildingKAI-text-profesion {
    border-radius: 14px;
    padding: 12px 12px 12px 12px;
}

.specialty-buildingKAI-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 152.02%;
}

.buildingKAI-text-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
}

.buildingKAI-text-profesion div {
    font-weight: 500;
    font-size: 16px;
    line-height: 123.19%;
}

.box_boxText_twoBTNBox_button {
    border-radius: 14px;
    padding: 10px 25px 10px 35px;
    margin-top: 30px;
}

.specialty-all-text2 {
    font-weight: 400;
    font-size: 10px;
}

.specialty-nb1,
.specialty-naprav-block div {
    padding: 12px 14px;
    gap: 10px;
    border-radius: 14px;
}

.specialty-all-exam{
    gap: 16px;
}

#Second-building-url{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}
}