body{
    height: 100%;
}

.headerLanguage{
    top: 79px;
    right: 20px;
}
.Phone_Body{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 23px 40px;

    background: #FFFFFF;
    border: 3px solid #000212;
    border-radius: 25px;
    margin-bottom: 29px;
}
.Phone_Body_p{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.6%;
    text-align: center;
    color: #000000;
}
.Phone_Body_p1{
    margin-bottom: 20px;
}
.Phone_bottom_box{
    background: #FFFFFF;
    border: 3px solid #4526FF;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.Phone_bottom{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.6%;
    color: #000000;
    margin: 0 75px 0 75px;
}
.headerLanguage{
    border-color: cornflowerblue;
}