.body {
    margin: 0px auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.Phone_Head {
    width: 91.67%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 20%;
    margin: 6.2% 0 0 0;

}

.Phone_Base_content {
    width: 88%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10%;
    justify-content: center;
    margin-top: 10%;
}

.base_content_slade2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.base_content_slade2 .slade1 {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}

.slide1_text {
    font-family: 'Roboto';
    /* font-style: normal; */
    font-weight: 700;
    font-size: 19px;
    line-height: 200%;
    color: #000212;
}

.slide1_button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}

.slide1_burron_Bxtex {
    padding: 10px 6px 10px 6px;

}

.slide1_burron_BxtexPodfac {
    padding: 10px 30px 10px 30px;
}

.slide1_burron_BxtexPodfac,
.slide1_burron_Bxtex{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid #000000;
}



.slide1_burron_BxtexPodfac,
.slide1_burron_Bxtex
{
    color: var(--colorText);
    font-family: var(--font-averta-cy-EB);
}

.Mtop31 {
    margin-top: 31px;
}

.phone_header_presen_ico,
.phone_header_question_ico,
.phone_header_question_ico, 
.phone_header_notice_ico,
.phone_header_home_ico,
.phone_header_home_get_ico,
.main_icon_logo_phone,
.footer_slade1_icon,
.phone_header_Ru_ico
{
    background-repeat: no-repeat;
    background-size: contain;
}


.phone_header_presen_ico {
    background-image: var(--Phone-header-presen-ico);

}

.phone_header_question_ico {
    background-image: var(--Phone-header-question-ico);
}

.phone_header_notice_ico {
    background-image: var(--Phone-header-notice-ico);

}

.phone_header_home_ico {
    background-image: var(--Phone-header-home-ico);
}

.phone_header_home_get_ico {
    background-image: var(--Phone-header-home-get-ico);
    background-position: center;
    border: none;
}

/*               chaged color  */ 
.main_icon_logo_phone {
    background-image: var(--main_icon_logo_phone);
    height: 100%;
}

.footer_slade1_icon {
    background-image: var(--main_icon_logo_phone);
}


.AircraftIndustry1_phone {
    background-image: url(../home_page/cssimg/aircraft1.svg);
}

.AircraftEngines_phone {
    background-image: url(../home_page/cssimg/dvigLetAp.svg);
}

.infocommunicationTechnologies_phone {
    background-image: url(../home_page/cssimg/infoCAMUN.svg);
}

.AircraftIndustry2_phone {
    background-image: url(../home_page/cssimg/acanomick.svg);
}

.AircraftIndustry3_phone {
    background-image: url(../home_page/cssimg/ecspluatacia1.svg);
}

.AircraftOperation1_phone {
    background-image: url(../home_page/cssimg/AircraftOperation1.svg);
}

.compositTechnologi_phone {
    background-image: url(../../img/compositTechnologi.svg);
}

.shipbuilding_phone {
    background-image: url(../../img/shipbuilding.svg);
}


.phone_header_Ru_ico{
    background-image: var(--Phone-header-home-get-ico);
    background-position: center;
    border: none;
    width: 15px;
    height: 20px;
}

.Lang-standart84_1 {
    font-weight: 700;
    line-height: 116.1%;
}

.news_KAI_phone {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.link_FM2Text_p {
    color: #B7B7B7;
    font-family: var(--font-inter);
}

.footer_FM1_text {
    color: #B7B7B7;
    font-family: var(--font-inter);
}

.main_icon_logo_phoneText {
    font-weight: 400;
    font-family: var(--font-averta-cy);
    color: #000;
    margin-left: 15px;
}

.Memo_box_textInf_text {
    font-weight: 500;
}

.helpText {
    font-weight: 400;
    line-height: 134.69%;
    text-align: right;
    letter-spacing: 0.03em;
}

.footer_mainText {
    font-weight: 500;
    line-height: 134.69%;
    text-align: right;
    letter-spacing: 0.03em;
}

.box_aboutIMO_ImgSVG_background {
    width: 100%;
}

.Lang-standart34 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 149.52%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.64);
    text-align: center;
}

.post-last4phone {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-content: space-between;
    justify-content: space-between;
}

.Lang-standart33 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    line-height: 182.1%;
    color: #383838;
}


.box_aboutIMO_text_Inf {
    align-content: flex-start;
}

.box_aboutIMO_text_boxH1 {
    margin-bottom: 5px;
}

.phone_header_center {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;

}

.phone_header_home {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.phone_footer_slade2_link a {
    font-style: normal;
    font-weight: 500;
    line-height: 134.69%;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2298FF;
}

.phone_footer_slade1_upon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.phone_footer_slade3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.phone_footer_slade3_ulisa {
    width: 100%;
}

.phone_footer_slade2_namber1,
.phone_footer_slade2_namber2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

h1 {
    margin-bottom: 0;
}


.Lang-standart27,
.Lang-standart84_1,
.Lang-standart32,
.Lang-phone-standart01 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 116.1%;
    color: var(--Phone-Lang-standart-color);
}

.news_block_img {
    border-radius: 7px;
    margin-bottom: 5px;
}

.news_title_h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 149.52%;
    color: #383838;
}

.news-KAI-block p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 149.52%;
    color: #383838;
}

.news-date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 149.52%;
    color: #383838;
}

.weHAve_new_h1 {
    text-align: center;
    margin-bottom: 10px;
}

.MargStart {
    margin-bottom: 10px;
    text-align: start;
}

.base_content_slade3 {
    width: 100%;
}

.base_content_slade5 {
    width: 91.67%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.footer_boxs_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-content: flex-end;
}

.footer_boxs_5 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer_boxs_3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer_salde5 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.Mtop100 {
    margin-top: 100px;
}

.phone_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.Mtop16 {
    margin-top: 20px;
}

.phone_footer_upon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.phone_footer_upon p {
    font-style: normal;
    font-weight: 400;
    line-height: 151.6%;
    color: #B7B7B7;
}

.phone_footer_slade3_ulisa {
    font-style: normal;
    font-weight: 500;
    line-height: 134.69%;
    text-align: right;
    letter-spacing: 0.03em;
    color: #000212;

}



.phone_footer_slade2_namber1 {
    font-style: normal;
    font-weight: 500;
    line-height: 134.69%;
    text-align: right;
    letter-spacing: 0.03em;
    color: #000212;
}

.phone_footer_slade2_namber2 {
    font-style: normal;
    font-weight: 500;
    line-height: 134.69%;
    text-align: right;
    letter-spacing: 0.03em;
    color: #000212;
}

.phone_footer_slade1_down {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.phone_footer_slade3_adres h1 {
    font-style: normal;
    font-weight: 400;
    line-height: 134.69%;
    letter-spacing: 0.03em;
    color: #40414D;
}

.phone_footer_slade2_h h1,
.phone_footer_slade2_namber1 h1,
.phone_footer_slade2_namber2 h1,
.phone_footer_slade2_namber3 h1,
.phone_footer_slade2_link h1 {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    line-height: 134.69%;
    text-align: left;
    letter-spacing: 0.03em;
    color: rgba(0, 2, 18, 0.75);
}

.phone_footer_slade2_h h1,
.phone_footer_slade2_namber1 p,
.phone_footer_slade2_namber2 p,
.phone_footer_slade2_namber3 p,
.phone_footer_slade2_link p {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    line-height: 134.69%;
    text-align: left;
    letter-spacing: 0.03em;
    color: rgba(0, 2, 18, 0.75);
}

.footer_slade1_icon_text {
    text-align: left;
}

.footer_slade1_icon_text h1 {
    font-style: normal;
    font-weight: 700;
    line-height: 134.6%;
    color: #000212;
}

.phone_footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

.phone_footer_slade2_h {
    max-width: 100%;
}

.footer_slade1_icon {
    /* width: 100%; */
}

.phone_footer_slade1_down {
    max-width: 100%;
    gap: 20%;
}

.phone_footer_slade2_link {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.slade1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
}

.slade1_text {
    text-align: left;
    color: var(--colorText);
}

.base_content_slade4 {
    width: 100%;
}


/* ################################### */

.specialty_box_phone {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.specialty_box_displayFlex_phone {
    width: 100%;
}

.specialty_box_displayFlex_litleBox_phone {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.standartStyleForimgSp_phone {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    transition: 0.4s;
    margin-bottom: 20px;

}

.specialty_box_picture_text_phone {
    font-family: var(--font-averta-cy-EB);
    color: var(--ColorTextForProgrammStadyPlashca);
    text-align: center;
}

/* 
@media screen and (max-width:480px) {
    .AircraftIndustry1_phone {
        width: 240px;
        height: 100px;
    }

    .AircraftEngines_phone {
        width: 144px;
        height: 100px;
    }

    .infocommunicationTechnologies_phone {
        width: 144px;
        height: 100px;
    }

    .AircraftIndustry2_phone {
        width: 240px;
        height: 100px;
    }

    .AircraftIndustry3_phone {
        width: 240px;
        height: 100px;
    }

    .AircraftOperation1_phone {
        width: 144px;
        height: 100px;
    }

    .compositTechnologi_phone {
        width: 144px;
        height: 100px;
    }

    .shipbuilding_phone {
        width: 240px;
        height: 100px;
    }

    /* text-size    */
/*
    .specialty_box_picture_text_phone {
        font-size: 14px;
    }

    #collapse {
        width: 230px;
        height: 50px;
        margin-top: 190px;
        margin-right: 140px;
    }

    .faq_content_phone {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .faq_block1_phone {
        padding-top: 50px;
        text-align: center;
    }

    .faq_form h1 {
        font-size: 28px;
        text-align: center;
    }

    .faq_form p {
        text-align: center;
        font-size: 12px;
    }

    .verification-mail_phone {
        margin-top: 25px;
        margin-bottom: 25px;

    }

    .verification-mail-field_phone {
        font-size: 15px;
        width: 280px;
        height: 50px;
    }
} */



.verification-mail-field_phone {
    border-radius: 15px;
    text-align: center;
    border-color: rgba(224, 224, 224, 1);
    border-style: solid;
    font-size: 15px;
}

.verification-mail_phone {
    display: flex;

    align-items: center;
    flex-direction: column;
}

.faq_content_phone {
    width: 100%;
}


.showhide_phone {
    width: 90%;
    border-radius: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chageColor_phone {
    background-image: url(../../img/phone_sun.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.chageColor_phone_click {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}



#collapse {
    position: absolute;
    padding: 10px 10px 90px 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px -3px 8px -3px rgba(0, 0, 0, 0.25);
    background-size: cover;
    transition: all 0.5s;
    border-radius: 26px;
}

/* (B) HIDE */
#collapse.hide {
    height: 0;
    opacity: 0;
    overflow: hidden;
    display: none;
}

/* (B) HIDE animated  */
.phone_header_animated_left{
    transform: rotate(90deg);
    transition: 0.5s;
}

.slide_SunGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px;
    position: relative;
    padding: 0.5px;

}

.slide_MoonGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px;
    position: relative;
    padding: 0.5px;
    margin-right: 5px;
    color: var(--colorText);
}

.slide_inside_text{
    position: relative;
    font-size: 13px;
    font-family: 'Averta Demo PE';
font-style: normal;
font-weight: 400;
/* color: var(--slider_inside_text); */

}
.slide_moon .slide_inside_text{
    color: var(--slider_inside_text);

}


.buttonsInHeader_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2px;
}

.phone-specialty-box2-title-text {
    font-family: var(--font-averta-cy-W01);
    font-style: normal;
}

.specialty-naprav-block{
    font-family: var(--font-inter);
    font-style: normal;
}

.phone-specialty-box3-card{
    width: 94.5%;
}

.phone-specialty-box2-TextCard{
    gap: 2%;
}



.Pamyatka_Inostransa,
.Profil{
    background-repeat: no-repeat;
    background-size: contain;
}


.Profil-p, 
.Pamyatka_Inostransa-p, 
#lang, 
.slide_inside_text{
    font-family: var(--font-averta-demo-PE);
    font-style: normal;
}


.AircraftIndustry1_phone,
.AircraftIndustry2_phone,
.AircraftIndustry3_phone,
.shipbuilding_phone  {
    width: 50%;
}

.AircraftEngines_phone,
.infocommunicationTechnologies_phone,
.AircraftOperation1_phone,
.compositTechnologi_phone {
    width: 30%;
}

#phone_hend{
    margin-top: 20%;
}

.phone_main_block_form {
    width: 84.5%;
    align-self: center;
    margin-top: 12%;
}

.phone_main_block_form_InformationalText {
    font-size: 90%;
}

#TextLogin {
    font-size: 197%;
}

.phone_main_block_form_flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.phone_content_text_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5%;
}

.phone_content_text_form_name {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8%;
    padding-top: 5%;
}

.phone_child_element_flex {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
    /* background-color: #4526FF; */

}

.phone_main_block_form_input_1 {
    width: 100%;
    font-size: 120%;
    border: 2px solid #D7D7D7;
    border-radius: 13px;
    /* font-size: 20px; */
    padding: 14px 25px;
    font-family: var(--font-inter);
    /* background-color: #4526FF; */
    /* cursor: var(--hand-cursor-w);*/
}

.phone_.main_box_but_form_Iamastud {
    /* width: auto; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone_main_block_form_textPassword_box {
    position: relative;
    width: 100%;
    /* height: 67px; */
    margin: 5% 0;
}

#phone_regesterText {
    color: var(--colorText);
    font-family: var(--font-inter);
    cursor: var(--hand-cursor-w);
}

.phone_main_block_form_textName_flexBox {
    width: 100%;
}
.footer_slade1_icon_text h1,
.phone_footer_slade2{
    font-family: var(--font-inter);
    font-style: normal;
}
@media screen and (width: 320px) {
    #phone_hend {
        width: 320px;
    }

    #phone_regesterText {
        font-size: 12px;
    }

    .phone_register_size {
        font-size: 12px;
    }
}

@media screen and (width: 360px) {
    #phone_hend {
        width: 360px;
    }
}

.main_block_footer_blockFlex{
    margin-top: 10%;
}
