{% extends 'mainsite/base.html' %} {% block content %} {% load static %}{% load i18n %}

<body class="body">
    <div class="headerTwoEnteringImo">
        <div class="headerTwoEnteringImo_place">
            <div class="headerTwoEnteringImo_box_h1">
                <h1 class="headerTwoEnteringImo_notbox_h1">
                    {% translate "LangStaticname48" %}
                </h1>
            </div>
        </div>
    </div>
    <div class="headerTwoEnteringImo_Information">
        <div class="headerTwoEnteringImo_column_box borderTop">
            <div class="headerTwoEnteringImo_column_box_p_box_flex">
                <a href="https://abiturientu.kai.ru/normativnye-dokumenty" class="headerTwoEnteringImo_column_box_p">{% translate "LangStaticname49" %}</a>
            </div>
            <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
        </div>
        <div class="headerTwoEnteringImo_column_box borderTop borderLR">
            <div class="headerTwoEnteringImo_column_box_p_box_flex">
                <a href="https://abiturientu.kai.ru/prohodnye-bally" class="headerTwoEnteringImo_column_box_p">{% translate "LangStaticname50" %}</a>
            </div>
            <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
        </div>
        <div class="headerTwoEnteringImo_column_box borderBottomAndTop borderLR">
            <div class="headerTwoEnteringImo_column_box_p_box_flex">
                <a href="{% url 'mainsite:home_page' %}" class="headerTwoEnteringImo_column_box_p">{% translate "LangStaticname51" %}</a>
            </div>
            <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box img_link_boxEnd" alt="noImg"
                id="img_link_box">
        </div>
        <div class="headerTwoEnteringImo_column_box borderTop">
            <div class="headerTwoEnteringImo_column_box_p_box_flex">
                <a href="https://abiturientu.kai.ru/bakalavriat" class="headerTwoEnteringImo_column_box_p">{% translate "LangStaticname52" %}</a>
            </div>
            <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
        </div>
        <div class="headerTwoEnteringImo_column_box borderTop">
            <div class="headerTwoEnteringImo_column_box_p_box_flex">
                <a href="https://www.who.int/ru/emergencies/diseases/novel-coronavirus-2019"
                    class="headerTwoEnteringImo_column_box_p">{% translate "LangStaticname53" %}</a>
            </div>
            <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
        </div>
        <div class="headerTwoEnteringImo_column_box borderBottomAndTop">
            <div class="headerTwoEnteringImo_column_box_p_box_flex">
                <a href="https://abiturientu.kai.ru/kalendar-priema" class="headerTwoEnteringImo_column_box_p">{% translate "LangStaticname54" %}</a>
            </div>
            <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box img_link_boxEnd" alt="noImg"
                id="img_link_box">
        </div>
    </div>
    <div class="live_in_sharaga">
        <div class="live_in_sharaga_boxIMG live_in_sharaga_boxIMG_img1 cursor" onclick="location.href='/aboutkazan'">
            <a class="live_in_sharaga_boxIMG_a">
                {% translate "LangStaticname55" %}
            </a>
        </div>
        <div class="live_in_sharaga_boxIMG_bottom">
        </div>
    </div>
    <div class="weHAve_new_BOXh1">
        <h1 class="weHAve_new_h1">{% translate "LangStaticname56" %}</h1>
    </div>
    <div class="post-last4">
        {% for news in last_4 %}
        <a class="news_list_a" href="{% url 'mainsite:post' pk=news.pk %}">
            <div class="news_block">
                {% if news.cover_image %}
                <img src="{{ news.cover_image.url }}" class="news_block_img" />
                {% endif %}
                <div class="news_image">
                </div>
                <div class="news_info">
                    <div class="news_title">
                        <h3 class="news_title_h3">{{ news.title }}</h3>
                    </div>
                    <div class="news_addititonal_info">
                        <div class="news_KAI">
                            <div class="news-KAI-block">
                                <img src="{% static 'mainsite/img/Subtract.svg' %}" alt="" class="news-KAI-block-IMG">
                                <p>{% translate "LangStaticname29" %}</p>
                            </div>
                            <div class="news-date">
                                {{ news.published_date }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <div class="mainSerchON">
        <div class="serchON">

        </div>
        <div class="serchON_box">
            <img src='{% static "mainsite/img/search.svg" %}' class="serchON_box_img" id="serchOnBoxImg">
            <input type="text" class="serchON_box_input" id="serchONBoxInput"
                placeholder="{% translate 'LangStaticname47' %}">
        </div>
    </div>
    <script src='{% static "mainsite/js/home_page/hidden_block_mainPage.js" %}'></script>
</body>    
{% endblock %}