{% extends 'mainsite/base.html' %} {% block content %} {% load static %}

<body class="body">
    <div class="header_placeColor">
        <div class="header">
            <div class="main_icon_logo">
            </div>
            <div class="menu_links_boxs">
                <div class="menu_links_box_displayWhere700px">
                    <div class="menu_links_box_iconWhereDisplay700px">
                        <div class="menu_links_box_iconWhereDisplay700pxImgsvg"></div>
                    </div>
                    <div class="menu_links_box_text700px_box">
                        <p class="menu_links_box_text700px">Меню</p>
                    </div>
                </div>
                <div class="menu_links_boxs_links">
                    <div class="menu_links_boxs_links_link">
                        <div class="menu_links_boxs_links_link_icon">
                            <div class="standartStyleForimg books"></div>
                        </div>
                        <div class="menu_links_boxs_links_link_iconText_box">
                            <p class="menu_links_boxs_links_link_iconText">#поступающим</p>
                        </div>
                    </div>
                    <div class="menu_links_boxs_links_link">
                        <div class="menu_links_boxs_links_link_icon">
                            <div class="standartStyleForimg palette"></div>
                        </div>
                        <div class="menu_links_boxs_links_link_iconText_box">
                            <p class="menu_links_boxs_links_link_iconText">#обучение</p>
                        </div>
                    </div>
                    <div class="menu_links_boxs_links_link">
                        <div class="menu_links_boxs_links_link_icon">
                            <div class="standartStyleForimg riveting"></div>
                        </div>
                        <div class="menu_links_boxs_links_link_iconText_box">
                            <p class="menu_links_boxs_links_link_iconText">#студентам</p>
                        </div>
                    </div>
                    <div class="menu_links_boxs_links_link">
                        <div class="menu_links_boxs_links_link_icon">
                            <div class="standartStyleForimg key"></div>
                        </div>
                        <div class="menu_links_boxs_links_link_iconText_box">
                            <p class="menu_links_boxs_links_link_iconText">вопрос-ответ</p>
                        </div>
                    </div>
                    <div class="menu_links_boxs_links_link">
                        <div class="menu_links_boxs_links_link_icon">
                            <div class="standartStyleForimg gun"></div>
                        </div>
                        <div class="menu_links_boxs_links_link_iconText_box">
                            <p class="menu_links_boxs_links_link_iconText">#новости</p>
                        </div>
                    </div>
                    <div class="buttonsInHeader_box displayNoneWhere displayon clickOnserch">
                        <input type="button" class="buttonsInHeader_box_search noStyelButt cursorP" id="search">
                        <div class="buttonsInHeader_box_search_TextBox">
                            <p class="buttonsInHeader_box_search_Text">Поиск</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttonsInHeader">
                <div class="buttonsInHeader_box displayNoneWhere displayof clickOnserch">
                    <input type="button" class="buttonsInHeader_box_search noStyelButt cursorP" id="search">
                </div>
                <div class="buttonsInHeader_box">
                    <input type="button" class="buttonsInHeader_box_lang noStyelButt cursorP" id="lang" value="RU">
                </div>
                <div class="buttonsInHeader_box">
                    <input type="button" class="buttonsInHeader_box_usButton noStyelButt cursorP" id="usButton">
                </div>
                <div class="hideMenu_in_Proffil">
                    <div class="hideMenu_in_Proffil_litleBlock">
                        <div class="hideMenu_in_Proffil_box hideMenu_in_Proffil_boxMURGBOTT">

                            <img src='{% static "mainsite/img/birdKurlik.svg" %}' alt="img" id="" class="hideMenu_in_Proffil_boxIMG ">
                            <div class="hideMenu_in_Proffil_box_INF">
                                <div class="hideMenu_in_Proffil_box_INF_p marginbottom10px">
                                    <p class="hideMenu_in_Proffil_boxNAME textstule" id="Name">Сидоров Евгений</p>
                                </div>
                                <div class="hideMenu_in_Proffil_box_INF_p">
                                    <p class="hideMenu_in_Proffil_boxEmail textstule" id="Email">sidorovevgenii@stud.kai.ru</p>
                                </div>
                            </div>
                        </div>
                        <div class="hideMenu_in_Proffil_box">
                            <div class="hideMenu_in_Proffil_LCProf_boximg hideMenu_in_Proffil_boxIMG">
                                <img src='{% static "mainsite/img/home-alt.svg" %}' alt="noIMG" class="hideMenu_in_Proffil_LCProf_img">

                            </div>
                            <div class="hideMenu_in_Proffil_LCProf_boxp">
                                <p class="hideMenu_in_Proffil_LCProf_p textstule">Личный кабинет</p>
                            </div>
                        </div>
                        <div class="hideMenu_in_Proffil_box">
                            <div class="hideMenu_in_Proffil_LCProf_boximg hideMenu_in_Proffil_boxIMG">

                                <img src='{% static "mainsite/img/Union.svg" %}' alt="noIMG" class="hideMenu_in_Proffil_LCProf_img">
                            </div>
                            <div class="hideMenu_in_Proffil_LCProf_boxp">
                                <p class="hideMenu_in_Proffil_LCProf_p textstule">Подать заявку </p>
                            </div>
                        </div>
                        <div class="hideMenu_in_Proffil_box">
                            <div class="hideMenu_in_Proffil_LCProf_boximg hideMenu_in_Proffil_boxIMG">

                                <img src='{% static "mainsite/img/bell.svg" %}' alt="noIMG" class="hideMenu_in_Proffil_LCProf_img" width="18px">
                            </div>
                            <div class="hideMenu_in_Proffil_LCProf_boxp">
                                <p class="hideMenu_in_Proffil_LCProf_p textstule">Уведомления</p>
                            </div>
                        </div>
                        <div class="footer_boxHR noMargin">
                            <hr class="footer_hr" />
                        </div>
                        <div class="hideMenu_in_Proffil_box">
                            <div class="hideMenu_in_Proffil_LCProf_boximg hideMenu_in_Proffil_boxIMG">

                                <img src='{% static "mainsite/img/log-in.svg" %}' alt="noIMG" class="hideMenu_in_Proffil_LCProf_img">
                            </div>
                            <div class="hideMenu_in_Proffil_LCProf_boxp">
                                <p class="hideMenu_in_Proffil_LCProf_p textstule">Выйти</p>
                            </div>
                        </div>

                        <!-- кнопка смены темы -->
                        <div class="hideMenu_in_Proffil_box_buttHThem">

                        </div>
                    </div>
                </div>
                <!-- <div class="buttonsInHeader_box">
                        <div class="buttonsInHeader_box_notifications" id="notifications"></div>
                    </div> -->
            </div>
        </div>
    </div>
    <div class="headerTwoEnteringImo">
        <div class="headerTwoEnteringImo_place">
            <div class="headerTwoEnteringImo_links">
                <div class="headerTwoEnteringImo_link_butExit">
                    <img src="../../../static/mainsite/img/arrow_1.svg" alt="noimg" class="headerTwoEnteringImo_link_butExit_imgarrow">
                    <p class="headerTwoEnteringImo_link_butExit_text">Назад</p>
                </div>
                <div class="headerTwoEnteringImo_link_butExit">
                    <p class="headerTwoEnteringImo_link_butExit_text">Главная</p>
                    <img src="../../../static/mainsite/img/arrowtwonumb.svg" alt="noimg" class="headerTwoEnteringImo_link_butExit_imgarrow">
                </div>
                <div class="headerTwoEnteringImo_link_butExit">
                    <p class="headerTwoEnteringImo_link_butExit_text">Поступающим</p>
                    <img src="../../../static/mainsite/img/arrowtwonumb.svg" alt="noimg" class="headerTwoEnteringImo_link_butExit_imgarrow">
                </div>
            </div>
            <div class="headerTwoEnteringImo_box_h1">
                <h1 class="headerTwoEnteringImo_notbox_h1">
                    Поступающим в ИМО
                </h1>
            </div>
        </div>
    </div>

    <div class="headerTwoEnteringImo_Information">
        <div class="headerTwoEnteringImo_column">
            <div class="headerTwoEnteringImo_column_box borderTop">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
            </div>
            <div class="headerTwoEnteringImo_column_box borderTop">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
            </div>
            <div class="headerTwoEnteringImo_column_box borderTop">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
            </div>
            <div class="headerTwoEnteringImo_column_box borderTop">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
            </div>
            <div class="headerTwoEnteringImo_column_box borderBottomAndTop">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box img_link_boxEnd" alt="noImg" id="img_link_box">
            </div>
        </div>
        <div class="headerTwoEnteringImo_column ">
            <div class="headerTwoEnteringImo_column_box borderTop borderLR">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p fontSize28px">Как происходит поступление в ИМО?</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
            </div>
            <div class="headerTwoEnteringImo_column_box borderTop borderLR">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
            </div>
            <div class="headerTwoEnteringImo_column_box borderTop borderLR">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
            </div>
            <div class="headerTwoEnteringImo_column_box borderTop borderLR">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
            </div>
            <div class="headerTwoEnteringImo_column_box borderBottomAndTop borderLR">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box img_link_boxEnd" alt="noImg" id="img_link_box">
            </div>
        </div>
        <div class="headerTwoEnteringImo_column">
            <div class="headerTwoEnteringImo_column_box borderTop">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
            </div>
            <div class="headerTwoEnteringImo_column_box borderTop">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
            </div>
            <div class="headerTwoEnteringImo_column_box borderTop">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
            </div>
            <div class="headerTwoEnteringImo_column_box borderTop">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box" alt="noImg" id="img_link_box">
            </div>
            <div class="headerTwoEnteringImo_column_box borderBottomAndTop">
                <div class="headerTwoEnteringImo_column_box_p_box_flex">
                    <a href="#" class="headerTwoEnteringImo_column_box_p">Как идет зачисление в институт</a>
                </div>
                <img src="../../../static/mainsite/img/arrowLinkBox.svg" class="img_link_box img_link_boxEnd" alt="noImg" id="img_link_box">
            </div>
        </div>
    </div>
    <div class="live_in_sharaga">
        <div class="live_in_sharaga_h1_text">
            <h1 class="live_in_sharaga_h1_text_h1">
                Жизнь в Университете
            </h1>
        </div>
        <div class="live_in_sharaga_boxIMG live_in_sharaga_boxIMG_img1">
            <a class="live_in_sharaga_boxIMG_a" href="#">
                О Казани
            </a>
        </div>
        <div class="live_in_sharaga_boxIMG live_in_sharaga_boxIMG_img2">
            <a class="live_in_sharaga_boxIMG_a" href="#">
                Об Университете
            </a>
        </div>
        <div class="live_in_sharaga_boxIMG live_in_sharaga_boxIMG_img3">
            <a class="live_in_sharaga_boxIMG_a" href="#">
                Что можно посетить в городе
            </a>
        </div>
        <div class="live_in_sharaga_boxIMG_bottom">
            <div class="live_in_sharaga_boxIMG_bottomItem live_in_sharaga_boxIMG_img4">
                <a class="live_in_sharaga_boxIMG_a" href="#">
                    Спортивная жизнь в городе
                </a>
            </div>
            <div class="live_in_sharaga_boxIMG_bottomItem live_in_sharaga_boxIMG_img5">
                <a class="live_in_sharaga_boxIMG_a" href="#">
                    Студенческая жизнь
                </a>
            </div>
            <div class="live_in_sharaga_boxIMG_bottomItem live_in_sharaga_boxIMG_img6">
                <a class="live_in_sharaga_boxIMG_a" href="#">
                    Национальная кухня
                </a>
            </div>
        </div>
    </div>
    <div class="GetAdvice">
        <div class="GetAdvice_Box1">
            <div class="GetAdvice_Box1_boxh1">
                <h1 class="GetAdvice_Box1_h1">Получите консультацию</h1>
            </div>
            <div class="GetAdvice_Box1_boxp">
                <p class="GetAdvice_Box1_p">Мы свяжемся с Вами в ближайшее время</p>
            </div>
        </div>
        <form class="GetAdvice_Box2" action="" method="">
            <div class="GetAdvice_Box2_box_INPUT">
                <input type="text" class="GetAdvice_Box2_box_INPUTboxItem GetAdvice_Box2_box_INPUT1" id="" placeholder="Как к Вам обращаться?">
            </div>
            <div class="GetAdvice_Box2_FLEX_wrap">
                <div class="GetAdvice_Box2_box_INPUT GetAdvice_Box2_box_INPUTdasdad">
                    <input type="tel" class="GetAdvice_Box2_box_INPUTboxItem GetAdvice_Box2_box_INPUT2" id="" placeholder="Ваш номер телефона">
                </div>
                <div class="GetAdvice_Box2_box_INPUT GetAdvice_Box2_box_INPUT_BOXsize">
                    <input type="email" class="GetAdvice_Box2_box_INPUTboxItem GetAdvice_Box2_box_INPUT3" id="" placeholder="Адрес вашей электронной почты">
                </div>
            </div>
            <div class="GetAdvice_Box2_box_INPUT GetAdvice_Box2_box_INPUT_displayTest">
                <div class="GetAdvice_Box2_box_INPUT_displayTest2">
                    <div class="GetAdvice_Box2_box_INPUT GetAdvice_Box2_box_INPUT_MARGIN">
                        <input type="checkbox" class="GetAdvice_Box2_box_INPUTboxItem GetAdvice_Box2_box_INPUT4" id="">
                    </div>
                    <div class="GetAdvice_Box2_box_INPUTboxP">
                        <p class="GetAdvice_Box2_box_P">Нажимая на кнопку, Вы соглашаетесь на обработку персональных данных и с Правилами пользования Платформой</p>
                    </div>
                </div>
                <div class="GetAdvice_Box2_box_INPUT">
                    <input type="submit" class="GetAdvice_Box2_box_INPUT_Submit" id="" value="Отправить">
                </div>
            </div>

        </form>
    </div>
    <div class="weHAve_new">
        <div class="weHAve_new_BOXh1">
            <h1 class="weHAve_new_h1">А вот что у нас нового</h1>
        </div>
        <div class="weHAve_new_boxStart">
            <div class="weHAve_new_boxStart_img  weHAve_new_boxStart_img1">

            </div>
            <div class="weHAve_new_boxStart_Inf">
                <div class="weHAve_new_boxStart_Inf_boxh3">
                    <h3 class="weHAve_new_boxStart_Inf_h3">Консультация с профессионалами из IT</h3>
                </div>
                <div class="weHAve_new_boxStart_Inf_boxINFimg">
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/calendar.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">12.01.2021</p>
                    </div>
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/show.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">1455</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="weHAve_new_CardLink">
            <div class="weHAve_new_CardLinkBox">
                <div class="weHAve_new_boxStart_img shadowH weHAve_new_CardLink_boxStart_img2 sizeBox">

                </div>
                <div class="weHAve_new_CardLink_Inf_boxh3">
                    <h3 class="weHAve_new_CardLink_Inf_h3">Консультация с профессионалами из IT</h3>
                </div>
                <div class="weHAve_new_boxStart_Inf_boxINFimg">
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/calendar.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">12.01.2021</p>
                    </div>
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/show.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">1455</p>
                    </div>
                </div>
            </div>
            <div class="weHAve_new_CardLinkBox">
                <div class="weHAve_new_boxStart_img shadowH weHAve_new_CardLink_boxStart_img3 sizeBox">

                </div>
                <div class="weHAve_new_CardLink_Inf_boxh3">
                    <h3 class="weHAve_new_CardLink_Inf_h3">Консультация с профессионалами из IT</h3>
                </div>
                <div class="weHAve_new_boxStart_Inf_boxINFimg">
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/calendar.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">12.01.2021</p>
                    </div>
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/show.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">1455</p>
                    </div>
                </div>
            </div>
            <div class="weHAve_new_CardLinkBox">
                <div class="weHAve_new_boxStart_img shadowH weHAve_new_CardLink_boxStart_img4 sizeBox">

                </div>
                <div class="weHAve_new_CardLink_Inf_boxh3">
                    <h3 class="weHAve_new_CardLink_Inf_h3">Консультация с профессионалами из IT</h3>
                </div>
                <div class="weHAve_new_boxStart_Inf_boxINFimg">
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/calendar.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">12.01.2021</p>
                    </div>
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/show.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">1455</p>
                    </div>
                </div>
            </div>
            <div class="weHAve_new_CardLinkBox">
                <div class="weHAve_new_boxStart_img shadowH weHAve_new_CardLink_boxStart_img5 sizeBox">

                </div>
                <div class="weHAve_new_CardLink_Inf_boxh3">
                    <h3 class="weHAve_new_CardLink_Inf_h3">Консультация с профессионалами из IT</h3>
                </div>
                <div class="weHAve_new_boxStart_Inf_boxINFimg">
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/calendar.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">12.01.2021</p>
                    </div>
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/show.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">1455</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_boxHR">
        <hr class="footer_hr" />
    </div>
    <div class="footer">
        <div class="footer_boxs_1 footer_boxs">
            <div class="footer_boxs_boxH3">
                <h3 class="footer_boxs_H3">Образование</h3>
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Высшее образование</p>

                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Среднее профессиональное образование</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Дополнительное образование</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Высшее образование</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Электронная информационно-образовательная среда</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Научно-техническая библиотека</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Военный учебный центр</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Грант «Новые кадры ОПК»</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Инклюзивное образование</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
        </div>
        <div class="footer_boxs_2 footer_boxs">
            <div class="footer_boxs_boxH3">
                <h3 class="footer_boxs_H3">Университет</h3>
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">История</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">О КНИТУ-КАИ</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">КНИТУ-КАИ в рейтингах</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Структура</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Документы</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Безопасность</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Брендбук КНИТУ-КАИ</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Сведения об образовательной организации</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">Контакты</p>
                <img src='{% static "mainsite/img/iconLing.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
        </div>
        <div class="footer_boxs_3 footer_boxs">
            <div class="footer_boxs_boxH3">
                <h3 class="footer_boxs_H3">Контактная информация</h3>
            </div>
            <div class="footer_boxs_textadr">
                <p class="footer_boxs_textadrp">Юридический адрес: 420111 г. Казань, ул. К. Маркса, 10</p>
            </div>
            <div class="footer_boxs_textadr">
                <p class="footer_boxs_textadrp">Адрес приёмной комиссии и приёма документов: 420015, г. Казань, ул. Б. Красная, 55</p>
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">minobrnauki.gov.ru</p>

                <img src='{% static "mainsite/img/iconLink.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
            <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
                <p class="Memo_box_textInf_p nowVW">edu.gov.ru</p>
                <img src='{% static "mainsite/img/iconLink.svg" %}' width="21px" height="21px" class="Memo_box_iconLinkSvg" alt="not_imglink">
            </div>
        </div>
        <div class="footer_boxs_4 footer_boxs">
            <div class="footer_boxs_boxH3">
                <h3 class="footer_boxs_H3">+7 (843) 231-01-09</h3>
            </div>
            <div class="footer_boxs_boxP">
                <p class="footer_boxs_P">Телефон приемной комиссии</p>
            </div>
            <div class="footer_boxs_boxH3">
                <h3 class="footer_boxs_H3">pk@kai.ru</h3>
            </div>
            <div class="footer_boxs_boxP">
                <p class="footer_boxs_P">Электронная почта</p>
            </div>
            <div class="footer_boxs_links_box">
                <div class="footer_boxs_links_box_l footer_boxs_links_box_l1 cursorP"></div>
                <div class="footer_boxs_links_box_l footer_boxs_links_box_l2 cursorP"></div>
                <div class="footer_boxs_links_box_l footer_boxs_links_box_l3 cursorP"></div>
                <div class="footer_boxs_links_box_l footer_boxs_links_box_l4 cursorP"></div>
                <div class="footer_boxs_links_box_l footer_boxs_links_box_l5 cursorP"></div>
            </div>
        </div>
        <div class="footer_boxHR marginTOP_70px">
            <hr class="footer_hr" />
        </div>
        <div class="footer_FM">
            <div class="footer_FM1">
                <div class="footer_FM1_Logo">

                </div>
                <div class="footer_FM1_boxp">
                    <p class="footer_FM1_p">Институт международного образования КНИТУ-КАИ
                    </p>
                </div>
            </div>
            <div class="footer_FM2">
                <div class="footer_FM2 link_FM2 cursorP">
                    <p class="link_FM2Text">Политика конфидециальности</p>
                </div>
                <div class="footer_FM2 link_FM2 cursorP">
                    <p class="link_FM2Text">Правила использования</p>
                </div>
                <div class="footer_FM2 link_FM2 cursorP">
                    <p class="link_FM2Text">Помощь</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mainSerchON">
        <div class="serchON">

        </div>
        <div class="serchON_box">

            <img src='{% static "mainsite/img/search.svg" %}' class="serchON_box_img" id="serchOnBoxImg">
            <input type="text" class="serchON_box_input" id="serchONBoxInput" placeholder="|Напишите что-нибудь...">
        </div>
    </div>
    <script src='{% static "mainsite/js/home_page/hidden_block_mainPage.js" %}'></script>
    {% endblock %}