{% extends 'mainsite/base.html' %} {% block content %} {% load static %}

<body class="body">
    <div class="headerTwoEnteringImo">
        <div class="headerTwoEnteringImo_place">
            <div class="headerTwoEnteringImo_links">
                <div class="headerTwoEnteringImo_link_butExit">
                    <img src="../../../static/mainsite/img/arrow_1.svg" alt="noimg" class="headerTwoEnteringImo_link_butExit_imgarrow">
                    <p class="headerTwoEnteringImo_link_butExit_text">Назад</p>
                </div>
                <div class="headerTwoEnteringImo_link_butExit">
                    <p class="headerTwoEnteringImo_link_butExit_text">Главная</p>
                    <img src="../../../static/mainsite/img/arrowtwonumb.svg" alt="noimg" class="headerTwoEnteringImo_link_butExit_imgarrow">
                </div>
                <div class="headerTwoEnteringImo_link_butExit">
                    <p class="headerTwoEnteringImo_link_butExit_text">Поступающим</p>
                    <img src="../../../static/mainsite/img/arrowtwonumb.svg" alt="noimg" class="headerTwoEnteringImo_link_butExit_imgarrow">
                </div>
            </div>
            <div class="headerTwoEnteringImo_box_h1">
                <h1 class="headerTwoEnteringImo_notbox_h1">
                    Нормативные документы
                </h1>
            </div>
        </div>
    </div>

    <div class="This_DocInfMain">
        <div class="This_DocInfMain_boxOfH3">
            <h3 class="This_DocInfMain_boxOf_H3">Какой-то текст</h3>
        </div>
        <div class="This_DocInfMain_boxOfP">
            <p class="This_DocInfMain_boxOf_P">     Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании дальнейших направлений развитая системы массового участия. Равным образом курс на социально-ориентированный национальный проект позволяет оценить значение системы обучения кадров, соответствующей насущным потребностям. 

    Дорогие друзья, социально-экономическое развитие требует от нас системного анализа позиций, занимаемых участниками в отношении поставленных задач! 
                
    Значимость этих проблем настолько очевидна, что курс на социально-ориентированный национальный проект играет важную роль в формировании системы обучения кадров, соответствующей насущным потребностям.  </p>
        </div>
        <div class="This_DocInfMain_boxOfBox This_DocInfMain_boxOfBox_start">
            <img src="../../../static/mainsite/img/linkLogo.svg" alt="NoImg" class="This_DocInfMain_boxOfBox_img">
            <div class="This_DocInfMain_boxOfBox_boxOfBox">
                <p class="This_DocInfMain_boxOfBox_boxOfBox_p">Лицензия и свидетельство</p>
            </div>
        </div>
        <div class="This_DocInfMain_boxOfBox">
            <img src="../../../static/mainsite/img/pdf.svg" alt="NoImg" class="This_DocInfMain_boxOfBox_img">
            <div class="This_DocInfMain_boxOfBox_boxOfBox">
                <p class="This_DocInfMain_boxOfBox_boxOfBox_p">Устав КНИТУ-КАИ</p>
            </div>
        </div>
        <div class="This_DocInfMain_boxOfBox">
            <img src="../../../static/mainsite/img/linkLogo.svg" alt="NoImg" class="This_DocInfMain_boxOfBox_img">
            <div class="This_DocInfMain_boxOfBox_boxOfBox">
                <p class="This_DocInfMain_boxOfBox_boxOfBox_p">Образцы документов об образовании</p>
            </div>
        </div>
        <div class="This_DocInfMain_boxOfBox">
            <img src="../../../static/mainsite/img/pdf.svg" alt="NoImg" class="This_DocInfMain_boxOfBox_img">
            <div class="This_DocInfMain_boxOfBox_boxOfBox">
                <p class="This_DocInfMain_boxOfBox_boxOfBox_p">Положение об экзаменационной комиссии</p>
            </div>
        </div>
        <div class="This_DocInfMain_boxOfBox">
            <img src="../../../static/mainsite/img/linkLogo.svg" alt="NoImg" class="This_DocInfMain_boxOfBox_img">
            <div class="This_DocInfMain_boxOfBox_boxOfBox">
                <p class="This_DocInfMain_boxOfBox_boxOfBox_p">Образцы документов об образовании</p>
            </div>
        </div>
        <div class="This_DocInfMain_boxOfBox">
            <img src="../../../static/mainsite/img/pdf.svg" alt="NoImg" class="This_DocInfMain_boxOfBox_img">
            <div class="This_DocInfMain_boxOfBox_boxOfBox">
                <p class="This_DocInfMain_boxOfBox_boxOfBox_p">Положение о целевом обучении по образовательным программам среднего профессионального и высшего образования в КНИТУ-КАИ</p>
            </div>
        </div>
        <div class="Thee_cercle">
            <div class="cercle"></div>
            <div class="cercle"></div>
            <div class="cercle"></div>
        </div>
    </div>
    
    <div class="weHAve_new_BOXh1">
        <h1 class="weHAve_new_h1">Наши новости</h1>
    </div>
    <div class="weHAve_new">
        <div class="weHAve_new_CardLink">
            <div class="weHAve_new_CardLinkBox">
                <div class="weHAve_new_boxStart_img shadowH weHAve_new_CardLink_boxStart_img2 sizeBox">

                </div>
                <div class="weHAve_new_CardLink_Inf_boxh3">
                    <h3 class="weHAve_new_CardLink_Inf_h3">Консультация с профессионалами из IT</h3>
                </div>
                <div class="weHAve_new_boxStart_Inf_boxINFimg">
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/LittleLogo.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">ИМО КНИТУ-КАИ</p>
                    </div>
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">Апрель 15, 2022</p>
                    </div>
                </div>
            </div>
            <div class="weHAve_new_CardLinkBox">
                <div class="weHAve_new_boxStart_img shadowH weHAve_new_CardLink_boxStart_img3 sizeBox">

                </div>
                <div class="weHAve_new_CardLink_Inf_boxh3">
                    <h3 class="weHAve_new_CardLink_Inf_h3">Консультация с профессионалами из IT</h3>
                </div>
                <div class="weHAve_new_boxStart_Inf_boxINFimg">
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/LittleLogo.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">ИМО КНИТУ-КАИ</p>
                    </div>
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">Апрель 15, 2022</p>
                    </div>
                </div>
            </div>
            <div class="weHAve_new_CardLinkBox">
                <div class="weHAve_new_boxStart_img shadowH weHAve_new_CardLink_boxStart_img4 sizeBox">

                </div>
                <div class="weHAve_new_CardLink_Inf_boxh3">
                    <h3 class="weHAve_new_CardLink_Inf_h3">Консультация с профессионалами из IT</h3>
                </div>
                <div class="weHAve_new_boxStart_Inf_boxINFimg">
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/LittleLogo.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">ИМО КНИТУ-КАИ</p>
                    </div>
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">Апрель 15, 2022</p>
                    </div>
                </div>
            </div>
            <div class="weHAve_new_CardLinkBox">
                <div class="weHAve_new_boxStart_img shadowH weHAve_new_CardLink_boxStart_img5 sizeBox">

                </div>
                <div class="weHAve_new_CardLink_Inf_boxh3">
                    <h3 class="weHAve_new_CardLink_Inf_h3">Консультация с профессионалами из IT</h3>
                </div>
                <div class="weHAve_new_boxStart_Inf_boxINFimg">
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext"><img src='{% static "mainsite/img/LittleLogo.svg" %}' alt="noIMG" class="weHAve_new_boxStart_Inf_boxINFimg_img">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">ИМО КНИТУ-КАИ</p>
                    </div>
                    <div class="weHAve_new_boxStart_Inf_boxINFimg_boximggtext">
                        <p class="weHAve_new_boxStart_Inf_boxINFp">Апрель 15, 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer_boxHR">
        <hr class="footer_hr" />
    </div> -->
    <div class="mainSerchON">
        <div class="serchON">

        </div>
        <div class="serchON_box">

            <img src='{% static "mainsite/img/search.svg" %}' class="serchON_box_img" id="serchOnBoxImg">
            <input type="text" class="serchON_box_input" id="serchONBoxInput" placeholder="|Напишите что-нибудь...">
        </div>
    </div>
    <script src='{% static "mainsite/js/home_page/hidden_block_mainPage.js" %}'></script>
    {% endblock %}