{% extends 'mainsite/base.html' %}{% block content %} {% load static %}{% load i18n %}

<body class="body indexEnterWindow">

    <div class="header2">
        <div class="header2_boxText">
            <div class="header2_boxText_box">
                <h1 class="header2_boxText_boxH1">{% translate "LangStaticname14" %}</h1>
            </div>
            <div class="header2_boxText_twoBTN">
                <div class="header2_boxText_twoBTNBox margin_bottom20px">
                    <button class="header2_boxText_twoBTNBox_button" onclick="location.href='/signup'">

                        <img src='{% static "mainsite/img/Playnaw.svg" %}'
                            class="header2_boxText_twoBTNBox_button_IMGSVG" id="">
                        <div>{% translate "LangStaticname15" %}</div>
                    </button>
                </div>
                <div class="header2_boxText_twoBTNBox">
                    <button class="header2_boxText_twoBTNBox_button"
                        onclick="location.href='https://www.5657.ru/s/h/hozBci'">

                        <img src='{% static "mainsite/img/podfaq.svg" %}'
                            class="header2_boxText_twoBTNBox_button_IMGSVG" id="">
                        <div>{% translate "LangStaticname16" %}</div>
                    </button>
                </div>
            </div>
            <div class="text_List_In_buttom">
                <div class="text_List_In_buttom_imgSvg">

                </div>
                <div class="text_List_In_buttom_box">
                    <p class="text_List_In_buttom_text">{% translate "LangStaticname17" %}</p>
                </div>
            </div>
        </div>
        <div class="header2_boxImgSvg_Width50">
            <img src='{% static "mainsite/img/faces.svg" %}' class="header2_boxImgSvg_Width50_IMG_fases">
        </div>
    </div>
    <div class="trainingProgram">
        <div class="trainingProgram_TextBox_displayFlex">
            <div class="trainingProgram_TextBox textAlignCenter">
                <h1 class="trainingProgram_TextBox_h1">{% translate "LangStaticname18" %}</h1>
            </div>
            <div class="trainingProgram_TextBox textAlignCenter">
                <p class="trainingProgram_TextBox_p">{% translate "LangStaticname19" %}</p>
            </div>
        </div>
        <div class="specialty_box">
            <div class="specialty_box_displayFlex">
                <div class="specialty_box_displayFlex_litleBox">
                    <div onclick="location.href='/speciality/1001'"
                        class="specialty_box_pictureSMAL AircraftIndustry1 standartStyleForimgSp">
                        <div class="specialty_box_picture_text">{% translate "LangStaticname20" %}</div>
                    </div>
                    <div onclick="location.href='/speciality/1002'"
                        class="specialty_box_picture AircraftEngines standartStyleForimgSp marginLeft20px">
                        <div class="specialty_box_picture_text">{% translate "LangStaticname21" %}</div>
                    </div>
                </div>
                <div class="specialty_box_displayFlex_litleBox">
                    <div onclick="location.href='/speciality/1003'"
                        class="specialty_box_picture infocommunicationTechnologies standartStyleForimgSp">
                        <p class="specialty_box_picture_text">{% translate "LangStaticname22" %}</p>
                    </div>
                    <div onclick="location.href='/speciality/1004'"
                        class="specialty_box_pictureSMAL AircraftIndustry2 standartStyleForimgSp marginLeft20px">
                        <p class="specialty_box_picture_text">{% translate "LangStaticname23" %}</p>
                    </div>
                </div>

                <div class="specialty_box_displayFlex_litleBox">
                    <div onclick="location.href='/speciality/1005'"
                        class="specialty_box_pictureSMAL AircraftIndustry3 standartStyleForimgSp">
                        <p class="specialty_box_picture_text">{% translate "LangStaticname24" %}</p>
                    </div>
                    <div onclick="location.href='/speciality/1006'"
                        class="specialty_box_picture AircraftOperation1 standartStyleForimgSp marginLeft20px">
                        <p class="specialty_box_picture_text">{% translate "LangStaticname25" %}</p>
                    </div>
                </div>
                <div class="specialty_box_displayFlex_litleBox ">
                    <div onclick="location.href='/speciality/1008'"
                        class="specialty_box_picture compositTechnologi standartStyleForimgSp marginLeft20px">
                        <p class="specialty_box_picture_text colorfff">{% translate "LangStaticname26" %}</p>
                    </div>
                    <div onclick="location.href='/speciality/1007'"
                        class="specialty_box_pictureSMAL shipbuilding standartStyleForimgSp marginLeft20px">
                        <p class="specialty_box_picture_text colorfff">{% translate "LangStaticname27" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weHAve_new">
        <div class="weHAve_new_BOXh1">
            <h1 class="weHAve_new_h1">{% translate "LangStaticname28" %}</h1>
        </div>

        <div class="post-last4">
            {% for news in last_4 %}
            <a class="news_list_a" href="{% url 'mainsite:post' pk=news.pk %}">
                <div class="news_block">
                    {% if news.cover_image %}
                    <img src="{{ news.cover_image.url }}" class="news_block_img" />
                    {% endif %}
                    <div class="news_image">

                    </div>
                    <div class="news_info">
                        <div class="news_title">
                            <h3 class="news_title_h3">{{ news.title }}</h3>
                        </div>
                        <div class="news_addititonal_info">
                            <div class="news_KAI">
                                <div class="news-KAI-block">
                                    <img src="{% static 'mainsite/img/Subtract.svg' %}" alt=""
                                        class="news-KAI-block-IMG">
                                    <p>{% translate "LangStaticname29" %}</p>
                                </div>
                                <div class="news-date">
                                    {{ news.published_date }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="about_IMO">
            <div class="box_aboutIMO_text_Inf">
                <div class="box_aboutIMO_text_Infmain">
                    <div class="box_aboutIMO_text_boxH1">
                        <h1 class="box_aboutIMO_text_H1 Memo_boxContentH1">{% translate "LangStaticname30" %}</h1>
                    </div>
                    <div class="box_aboutIMO_text_boxp">
                        <p class="box_aboutIMO_text_p Memo_box_Ph">{% translate "LangStaticname31" %}
                        </p>
                    </div>
                </div>
                <div class="box_aboutIMO_text_Inf_INGSVG">

                </div>
            </div>
            <div class="box_aboutIMO_ImgSVG">
                <div class="box_aboutIMO_ImgSVG_background">
                    <div class="box_aboutIMO_ImgSVG_h1CLONE">
                        <h1 class="box_aboutIMO_ImgSVG_h1">
                            {% translate "LangStaticname32" %}
                        </h1>
                    </div>
                </div>
            </div>

        </div>
        <div class="imo_advantage">
            <div class="imo_advantage_BOXtext">
                <div class="imo_advantage_h1BOX box1">
                    <h1 class="imo_advantage_h1">{% translate "LangStaticname33" %}</h1>
                </div>
                <div class="imo_advantage_pBOX box2">
                    <p class="imo_advantage_p">{% translate "LangStaticname34" %}</p>
                </div>
            </div>
            <div class="imo_advantage_Boxinf_gridBox">
                <div class="imo_advantage_Boxinf box3">
                    <div class="imo_advantage_Boxinf_imgbox imo_advantage_Boxinf_imgHOVER cursorN">
                        <img src='{% static "mainsite/img/box1.svg" %}' alt="noo_img" class="imo_advantage_Boxinf_img">
                    </div>
                    <div class="imo_advantage_Boxinf_boxh3">
                        <h3 class="imo_advantage_Boxinf_3">{% translate "LangStaticname35" %}</h3>
                    </div>
                    <div class="imo_advantage_Boxinf_pbox">
                        <p class="imo_advantage_Boxinf_p">{% translate "LangStaticname36" %}</p>
                    </div>
                </div>
                <div class="imo_advantage_Boxinf box4">
                    <div class="imo_advantage_Boxinf_imgbox imo_advantage_Boxinf_imgHOVER cursorN">
                        <img src='{% static "mainsite/img/box2.svg" %}' alt="noo_img" class="imo_advantage_Boxinf_img">
                    </div>
                    <div class="imo_advantage_Boxinf_boxh3">
                        <h3 class="imo_advantage_Boxinf_3">{% translate "LangStaticname37" %}</h3>
                    </div>
                    <div class="imo_advantage_Boxinf_pbox">
                        <p class="imo_advantage_Boxinf_p">{% translate "LangStaticname38" %}</p>
                    </div>
                </div>
                <div class="imo_advantage_Boxinf box5">
                    <div class="imo_advantage_Boxinf_imgbox imo_advantage_Boxinf_imgHOVER cursorN">
                        <img src='{% static "mainsite/img/box3.svg" %}' alt="noo_img" class="imo_advantage_Boxinf_img">
                    </div>
                    <div class="imo_advantage_Boxinf_boxh3">
                        <h3 class="imo_advantage_Boxinf_3">{% translate "LangStaticname39" %}</h3>
                    </div>
                    <div class="imo_advantage_Boxinf_pbox">
                        <p class="imo_advantage_Boxinf_p">{% translate "LangStaticname40" %}</p>
                    </div>
                </div>
                <div class="imo_advantage_Boxinf box6">
                    <div class="imo_advantage_Boxinf_imgbox imo_advantage_Boxinf_imgHOVER cursorN">
                        <img src='{% static "mainsite/img/box4.svg" %}' alt="noo_img" class="imo_advantage_Boxinf_img">
                    </div>
                    <div class="imo_advantage_Boxinf_boxh3">
                        <h3 class="imo_advantage_Boxinf_3">{% translate "LangStaticname41" %}</h3>
                    </div>
                    <div class="imo_advantage_Boxinf_pbox">
                        <p class="imo_advantage_Boxinf_p">{% translate "LangStaticname42" %}</p>
                    </div>
                </div>
                <div class="imo_advantage_Boxinf box7">
                    <div class="imo_advantage_Boxinf_imgbox imo_advantage_Boxinf_imgHOVER cursorN">
                        <img src='{% static "mainsite/img/box5.svg" %}' alt="noo_img" class="imo_advantage_Boxinf_img">
                    </div>
                    <div class="imo_advantage_Boxinf_boxh3">
                        <h3 class="imo_advantage_Boxinf_3">{% translate "LangStaticname43" %}</h3>
                    </div>
                    <div class="imo_advantage_Boxinf_pbox">
                        <p class="imo_advantage_Boxinf_p">{% translate "LangStaticname44" %}</p>
                    </div>
                </div>
                <div class="imo_advantage_Boxinf box8">
                    <div class="imo_advantage_Boxinf_imgbox imo_advantage_Boxinf_imgHOVER cursorN">
                        <img src='{% static "mainsite/img/box6.svg" %}' alt="noo_img" class="imo_advantage_Boxinf_img">
                    </div>
                    <div class="imo_advantage_Boxinf_boxh3">
                        <h3 class="imo_advantage_Boxinf_3">{% translate "LangStaticname45" %}</h3>
                    </div>
                    <div class="imo_advantage_Boxinf_pbox">
                        <p class="imo_advantage_Boxinf_p">{% translate "LangStaticname46" %}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_boxHR">
            <hr class="footer_hr" />
        </div>

        <div class="mainSerchON">
            <div class="serchON">

            </div>
            <div class="serchON_box">

                <img src='{% static "mainsite/img/search_white.svg" %}' class="serchON_box_img" id="serchOnBoxImg">
                <input type="text" class="serchON_box_input Lang-standartPlaceholder83" id="serchONBoxInput"
                    placeholder="{% translate 'LangStaticname47' %}">
            </div>
        </div>
        <script src='{% static "mainsite/js/home_page/hidden_block_mainPage.js" %}'>
        </script>
        <script src='{% static "mainsite/js/home_page/locationFile.js" %}'>
        </script>
        <script src="{% static 'mainsite/js/registration/translate.js' %}">
        </script>
        <script src="{% static 'mainsite/js/registration/hidden_block_leng.js' %}">
        </script>
        {% endblock %}