{% extends 'mainsite/base.html' %}{% block content %}
{% load static %}

    <body class="body">
        <!-- gi -->
        <div class="main_PrivacyPolicy">
            <div class="main_PrivacyPolicy_title">
                <h1 class="main_PrivacyPolicy_h1">
                    Политика конфидециальности
                </h1>
            </div>
            <div class="main_PrivacyPolicy_box_h2">
                <h2 class="main_PrivacyPolicy_h2">
                    Мы с вами договорились о следующем
                </h2>
            </div>
            <div class="main_PrivacyPolicy_box_p">
                <p class="main_PrivacyPolicy_p margin_top50px">
                    Не следует, однако, забывать о том, что постоянное информационно-техническое обеспечение нашей деятельности обеспечивает актуальность новых предложений! Не следует, однако, забывать о том, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм воздействия? 
                </p>
                <p class="main_PrivacyPolicy_p margin_top50px">
                    Повседневная практика показывает, что начало повседневной работы по формированию позиции создаёт предпосылки качественно новых шагов для экономической целесообразности принимаемых решений. Соображения высшего порядка, а также сложившаяся структура организации напрямую зависит от позиций, занимаемых участниками в отношении поставленных задач. 
                </p>
                <p class="main_PrivacyPolicy_p margin_top50px">
                    С другой стороны повышение уровня гражданского сознания способствует повышению актуальности позиций, занимаемых участниками в отношении поставленных задач! Разнообразный и богатый опыт реализация намеченного плана развития требует определения и уточнения ключевых компонентов планируемого обновления. Соображения высшего порядка, а также сложившаяся структура организации играет важную роль в формировании системы обучения кадров, соответствующей насущным потребностям. Повседневная практика показывает, что новая модель организационной деятельности требует от нас анализа соответствующих условий активизации.
                </p>
                <p class="main_PrivacyPolicy_p margin_top50px">
                    Практический опыт показывает, что дальнейшее развитие различных форм деятельности требует от нас анализа соответствующих условий активизации. Дорогие друзья, постоянный количественный рост и сфера нашей активности позволяет выполнить важнейшие задания по разработке ключевых компонентов планируемого обновления. 
                </p>
                <p class="main_PrivacyPolicy_p margin_top50px">
                    Таким образом, новая модель организационной деятельности в значительной степени обуславливает создание системы масштабного изменения ряда параметров! Задача организации, в особенности же выбранный нами инновационный путь требует от нас анализа новых предложений. Не следует, однако, забывать о том, что курс на социально-ориентированный национальный проект влечет за собой процесс внедрения и модернизации форм воздействия. Задача организации, в особенности же постоянное информационно-техническое обеспечение нашей деятельности обеспечивает актуальность дальнейших направлений развитая системы массового участия? Повседневная практика показывает, что реализация намеченного плана развития создаёт предпосылки качественно новых шагов для новых предложений. Практический опыт показывает, что сложившаяся структура организации создаёт предпосылки качественно новых шагов для существующих финансовых и административных условий. 
                </p>
                <p class="main_PrivacyPolicy_p margin_top50px">
                    Дорогие друзья, реализация намеченного плана развития обеспечивает широкому кругу специалистов участие в формировании всесторонне сбалансированных нововведений. Значимость этих проблем настолько очевидна, что постоянное информационно-техническое обеспечение нашей деятельности обеспечивает широкому кругу специалистов участие в формировании системы масштабного изменения ряда параметров? 
                </p>
                <p class="main_PrivacyPolicy_p margin_top50px">
                    Не следует, однако, забывать о том, что реализация намеченного плана развития обеспечивает актуальность направлений прогрессивного развития.
                </p>
                <!-- <p class="main_PrivacyPolicy_p">

                </p> -->
            </div>
            <div class="main_PrivacyPolicy_box_h2">
                <h2 class="main_PrivacyPolicy_h2 margin_top70px">
                    1. Общие положения
                </h2>
            </div>
            <div class="main_PrivacyPolicy_box_p">
                <p class="main_PrivacyPolicy_p margin_top50px">
                    Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании дальнейших направлений развитая системы массового участия. Равным образом курс на социально-ориентированный национальный проект позволяет оценить значение системы обучения кадров, соответствующей насущным потребностям. 
                </p>
                <p class="main_PrivacyPolicy_p margin_top50px">
                    Дорогие друзья, социально-экономическое развитие требует от нас системного анализа позиций, занимаемых участниками в отношении поставленных задач!
                </p>
                <p class="main_PrivacyPolicy_p margin_top50px">
                    Значимость этих проблем настолько очевидна, что курс на социально-ориентированный национальный проект играет важную роль в формировании системы обучения кадров, соответствующей насущным потребностям. 
                </p>
                <p class="main_PrivacyPolicy_p margin_top50px">
                    Не следует, однако, забывать о том, что постоянное информационно-техническое обеспечение нашей деятельности обеспечивает актуальность новых предложений! Не следует, однако, забывать о том, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм воздействия? 
                </p>
                <p class="main_PrivacyPolicy_p margin_top50px">
                    Повседневная практика показывает, что начало повседневной работы по формированию позиции создаёт предпосылки качественно новых шагов для экономической целесообразности принимаемых решений. Соображения высшего порядка, а также сложившаяся структура организации напрямую зависит от позиций, занимаемых участниками в отношении поставленных задач. 
                </p>
            </div>
            <div class="main_PrivacyPolicy_box_h2">
                <h2 class="main_PrivacyPolicy_h2 margin_top70px">
                    2. Обучающие программы.
                </h2>
            </div>
            <div class="main_PrivacyPolicy_box_p">
                <p class="main_PrivacyPolicy_p margin_top50px">
                    Не следует, однако, забывать о том, что постоянное информационно-техническое обеспечение нашей деятельности обеспечивает актуальность новых предложений! Не следует, однако, забывать о том, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм воздействия? 
                </p>
                <div class="main_PrivacyPolicy_box_h3">
                    <h3 class="main_PrivacyPolicy_h3 margin_top70px">
                        2.1. Экзамен.
                    </h2>
                </div>
                <p class="main_PrivacyPolicy_p">
                    Повседневная практика показывает, что начало повседневной работы по формированию позиции создаёт предпосылки качественно новых шагов для экономической целесообразности принимаемых решений. Соображения высшего порядка, а также сложившаяся структура организации напрямую зависит от позиций, занимаемых участниками в отношении поставленных задач. 
                </p>
                <div class="main_PrivacyPolicy_box_h3">
                    <h3 class="main_PrivacyPolicy_h3 margin_top70px">
                        2.2. Экзамен.
                    </h2>
                </div>
                <p class="main_PrivacyPolicy_p">
                    Повседневная практика показывает, что начало повседневной работы по формированию позиции создаёт предпосылки качественно новых шагов для экономической целесообразности принимаемых решений. Соображения высшего порядка, а также сложившаяся структура организации напрямую зависит от позиций, занимаемых участниками в отношении поставленных задач. 
                </p>
            </div>
            <div class="main_PrivacyPolicy_box_h2">
                <h2 class="main_PrivacyPolicy_h2 margin_top70px">
                    Какие документы требуются для поступления?
                </h2>
            </div>
            <div class="main_PrivacyPolicy_box_p">
                <p class="main_PrivacyPolicy_p margin_top50px">
                    Не следует, однако, забывать о том, что постоянное информационно-техническое обеспечение нашей деятельности обеспечивает актуальность новых предложений! Не следует, однако, забывать о том, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм воздействия? 
                </p>
            </div>
            <div class="main_PrivacyPolicy_list_box">
                <div class="main_PrivacyPolicy_list_box_item margin_top50px">
                    <img src="../../../static/mainsite/img/notes.svg" alt="noImg" class="main_PrivacyPolicy_list_box_item_img">
                    <p class="main_PrivacyPolicy_list_box_item_p main_PrivacyPolicy_p">Заявление абитуриента (подается онлайн).</p>
                </div>
                <div class="main_PrivacyPolicy_list_box_item">
                    <img src="../../../static/mainsite/img/notes.svg" alt="noImg" class="main_PrivacyPolicy_list_box_item_img">
                    <p class="main_PrivacyPolicy_list_box_item_p main_PrivacyPolicy_p">Скан-копия паспорта и его нотариально заверенный перевод на русский язык (прикрепляется при подаче заявления).</p>
                </div>
                <div class="main_PrivacyPolicy_list_box_item">
                    <img src="../../../static/mainsite/img/notes.svg" alt="noImg" class="main_PrivacyPolicy_list_box_item_img">
                    <p class="main_PrivacyPolicy_list_box_item_p main_PrivacyPolicy_p">Скан-копия документа о предыдущем образовании с приложением и его нотариально заверенный перевод на русский язык (прикрепляется при подаче заявления).</p>
                </div>
                <div class="main_PrivacyPolicy_list_box_item">
                    <img src="../../../static/mainsite/img/notes.svg" alt="noImg" class="main_PrivacyPolicy_list_box_item_img">
                    <p class="main_PrivacyPolicy_list_box_item_p main_PrivacyPolicy_p">Скан-копии документов об образовании с указанием изученных предметов и полученных по ним оценок (баллов); учащиеся школ представляют справку об обучении в выпускном классе с оценками за последнее полугодие.</p>
                </div>
                <div class="main_PrivacyPolicy_list_box_item">
                    <img src="../../../static/mainsite/img/notes.svg" alt="noImg" class="main_PrivacyPolicy_list_box_item_img">
                    <p class="main_PrivacyPolicy_list_box_item_p main_PrivacyPolicy_p">Скан-копии свидетельств о рождении абитуриента и одного из родителя (соотечественники).</p>
                </div>
            </div>
            <div class="main_PrivacyPolicy_bootoms">
                <div class="main_PrivacyPolicy_bootom_item">
                    <img src="../../../static/mainsite/img/print.svg" alt="" class="main_PrivacyPolicy_bootom_item_img">
                    <p class="main_PrivacyPolicy_bootom_item_p main_PrivacyPolicy_p">Печатать</p>
                </div>
                <div class="main_PrivacyPolicy_bootom_item margin_left20px">
                    <img src="../../../static/mainsite/img/download.svg" alt="" class="main_PrivacyPolicy_bootom_item_img">
                    <p class="main_PrivacyPolicy_bootom_item_p main_PrivacyPolicy_p">Скачать</p>
                </div>
            </div>
            <div class="main_PrivacyPolicy_list_box">
                <div class="main_PrivacyPolicy_list_box_item margin_top50px">
                    <img src="../../../static/mainsite/img/worning.svg" alt="noImg" class="main_PrivacyPolicy_list_box_item_img">
                    <p class="main_PrivacyPolicy_list_box_item_p main_PrivacyPolicy_p">Нарушение требований охраны труда, содержащихся в федеральных законах
                        и иных нормативных правовых актах, предусматривает штраф от 50 000 руб. до 80 000 руб.</p>
                </div>
                <div class="main_PrivacyPolicy_list_box_item">
                    <img src="../../../static/mainsite/img/worning.svg" alt="noImg" class="main_PrivacyPolicy_list_box_item_img">
                    <p class="main_PrivacyPolicy_list_box_item_p main_PrivacyPolicy_p">При допуске сотрудника к исполнению трудовых обязанностей без прохождения обучения и проверки знаний по охране труда на компанию налагается штраф от 110 000 руб. до 130 000 руб. за каждого необученного сотрудника.</p>
                </div>
                <div class="main_PrivacyPolicy_list_box_item">
                    <img src="../../../static/mainsite/img/worning.svg" alt="noImg" class="main_PrivacyPolicy_list_box_item_img">
                    <p class="main_PrivacyPolicy_list_box_item_p main_PrivacyPolicy_p">Нарушение порядка проведения оценки условий труда на рабочих местах или её непроведение грозит штрафом от 
                        60 000 руб. до 80 000 руб. за каждое рабочее место.</p>
                </div>
                <div class="main_PrivacyPolicy_list_box_item">
                    <img src="../../../static/mainsite/img/worning.svg" alt="noImg" class="main_PrivacyPolicy_list_box_item_img">
                    <p class="main_PrivacyPolicy_list_box_item_p main_PrivacyPolicy_p">Необеспечение работников средствами индивидуальной защиты предусматривает штраф от 130 000 руб. до 150 000 руб.</p>
                </div>
                <div class="main_PrivacyPolicy_list_box_item">
                    <img src="../../../static/mainsite/img/worning.svg" alt="noImg" class="main_PrivacyPolicy_list_box_item_img">
                    <p class="main_PrivacyPolicy_list_box_item_p main_PrivacyPolicy_p">При отсутствии оценки профессиональных рисков на рабочих местах в организации, выписывается штраф от 50 000 руб. до 80 000 руб.</p>
                </div>
            </div>
        </div>
        <div class="mainSerchON">
            <div class="serchON">

            </div>
            <div class="serchON_box">

                <img src='{% static "mainsite/img/search.svg" %}' class="serchON_box_img" id="serchOnBoxImg">
                <input type="text" class="serchON_box_input" id="serchONBoxInput" placeholder="|Напишите что-нибудь...">
            </div>
        </div>
        <script src='{% static "mainsite/js/home_page/hidden_block_mainPage.js" %}'></script>

        <script src='{% static "mainsite/js/home_page/locationFile.js" %}'></script>

        <script src="{% static 'mainsite/js/registration/translate.js' %}">
        </script>
        
        <script src="{% static 'mainsite/js/registration/hidden_block_leng.js' %}">
        </script>
{% endblock  %}