{% load static %}{% load i18n %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>IMO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href='{% static "mainsite/img/Icon.svg" %}' />
    <link href='{% static "mainsite/css/registration/login_base_style.css" %}' rel="stylesheet">

    <link href='{% static "mainsite/css/registration/style_1.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_2.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/Phonepage.css" %}' rel="stylesheet">

    <link href="{% static 'mainsite/css/phonepage_/phone_page.css' %}" rel="stylesheet">
    <link href="{% static 'mainsite/css/phonepage_/phone_content.css' %}" rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/ChangeColor.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/phone_incoming.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/phone_page280.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/phone_page320.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/phone_page360.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/phone_page375.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/phone_page425.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/phone_page460.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/phone_page480.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/phone_page500.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/phone_page550.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/phone_page590.css" %}' rel="stylesheet">

    <link href='{% static "mainsite/css/phonepage_/phone_page768.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/phone_page1024.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/phonepage_/phone_profile.css" %}' rel="stylesheet">


    <link href='https://fonts.google.com/specimen/Inter#standard-styles' rel="stylesheet" />
    <link href="//db.onlinewebfonts.com/c/3114dbb517b7c67b80e322545c5f565f?family=Averta+Demo+PE" rel="stylesheet"
        type="text/css" />
    <link href="//db.onlinewebfonts.com/c/ace51fb0e489a977bed8a67511865c11?family=Averta+CY+W01" rel="stylesheet"
        type="text/css" />
    <link href="//db.onlinewebfonts.com/c/4c3697c646c9c9999fb64b9eced81f3a?family=TsangerTQXK+W01" rel="stylesheet"
        type="text/css" />
    <link href='{% static "mainsite/css/news/news.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/news/news_list.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/preloader.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/profile/profile.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_3.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_4.css" %}' rel="stylesheet">


    <!-- <link href='{% static "mainsite/css/registration/preloader.css" %}' rel="stylesheet"> -->

    <script src="{% static 'mainsite/js/registration/hidden_block_leng.js' %}"></script>
    <script src="{% static 'mainsite/js/home_page/hidden_block_mainPage.js' %}"></script>
    <script src='{% static "mainsite/js/them/them.js" %}'></script>
    <script src=' {% static "mainsite/js/registration/Them.js" %}'></script>
    <script src="{% static 'mainsite/js/registration/ChangeEay.js' %}">
    </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->

</head>
<!-- <header>
<div class="preloader">
    <div class="preloader__row">
        <div class="spinner preloader__item"></div>
    </div>
</div>
</header> -->

<body class="body indexEnterWindow">
    <div class="content">
        <div class="Phone_Head">
            <div class="main_icon_logo_flexbox">
                <div class="main_icon_logo_phone" onclick="location.href='/'"></div>
            </div>
            <div class="phone_header_center">
                <div class="phone_header_presen">
                    <div class="phone_header_presen_ico" onclick="location.href='/enteringimo'"></div>
                </div>

                <div class="phone_header_question">
                    <div class="phone_header_question_ico" onclick="location.href='/faq'"></div>
                </div>

                <div class="phone_header_notice">
                    <div class="phone_header_notice_ico"></div>
                </div>
            </div>
            <div class="phone_header_home" onclick="toggle()">
                <div class="phone_header_home_ico"></div>
                <div class="phone_header_home_get_ico" id="phone_header_animated"></div>
                <div id="collapse" class="show hide">
                    <div class="showhide_phone">
                        <!-- тут функция перемени цвета -->
                        <div class="chageColor_phone_click">
                            <div class="theme-switch-wrapper">
                                <label class="theme-switch" for="checkbox">
                                    <input type="checkbox" id="checkbox" />
                                    <div class="slider round">
                                        <div class="slide_inside">
                                            <div class="slide_SunGroup">
                                                <div class="slide_sun"></div>
                                                <p class="slide_inside_text">Light</p>
                                            </div>
                                            <div class="slide_MoonGroup">
                                                <div class="slide_moon"></div>
                                                <p class="slide_inside_text">Dark</p>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <!-- тут функция перевода  -->
                        <div class="chageLanguage">
                            <div class="buttonsInHeader_box">
                                <input type="button" class="buttonsInHeader_box_lang noStyelButt cursorP Lang-name"
                                    id="lang" value="Ru">
                                <div class="phone_header_Ru_ico"></div>
                                <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Ru
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% get_available_languages as LANGUAGES %}
                                            {% get_language_info_list for LANGUAGES as languages %}

                                            {% for lang in languages %}
                                            <li>
                                                <a class="dropdown-item" href="/{{ lang.code }}/">
                                                    {{ lang.name_local }}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul> -->
                            </div>
                        </div>

                    </div>
                    <hr size="1px" width="220px" align="center" class="Hr">
                    <div class="phone_headerProfilandPamyat">
                        <div class="pop-up_form-down">
                            {% if request.user.is_authenticated %}
                            {% if request.user.profile %}
                            <div class="pop-up_Profil" onclick="location.href='/profile'">
                                <div class="Profil"></div>
                                <p class="Profil-p">Профиль</p>
                            </div>
                            {% else %}
                            <div class="pop-up_Profil" onclick="location.href='/extra'">
                                <div class="Profil"></div>
                                <p class="Profil-p">Профиль</p>
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="pop-up_Profil" onclick="location.href='/signup'">
                                <div class="Profil"></div>
                                <p class="Profil-p">Профиль</p>
                            </div>
                            {% endif %}
                            <div class="pop-up_PamyatkaInost">
                                <div class="Pamyatka_Inostransa"></div>
                                <p class="Pamyatka_Inostransa-p">Памятка иностранцу</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block content %} {% endblock %}
        <footer class="base_content_slade5 Mtop16">
            <div class="phone_footer">
                <div class="phone_footer_slade1">
                    <div class="phone_footer_slade1_upon">
                        <div class="footer_slade1_icon"></div>
                        <div class="footer_slade1_icon_text">
                            <h1>Институт Международного образования КАИ</h1>
                        </div>
                    </div>
                    <div class="phone_footer_slade1_down">
                        <div class="footer_boxs_links_box_plot" style="background-color: rgb(242, 242, 242);">
                            <div class="phone_footer_boxs_links_box_l footer_boxs_links_box_l2 cursorP"></div>
                        </div>
                        <div class="footer_boxs_links_box_plot" style="background-color: rgb(242, 242, 242);">
                            <div class="phone_footer_boxs_links_box_l footer_boxs_links_box_l3 cursorP"></div>
                        </div>
                        <div class="footer_boxs_links_box_plot" style="background-color: rgb(242, 242, 242);">
                            <div class="phone_footer_boxs_links_box_l footer_boxs_links_box_l4 cursorP"></div>
                        </div>
                    </div>
                </div>
                <div class="phone_footer_slade2">
                    <div class="phone_footer_slade2_h">
                        <h1>Приемная комиссия КНИТУ-КАИ:</h1>
                    </div>
                    <div class="phone_footer_slade2_namber1">
                        <h1>Адрес: 420015, г. Казань, ул. Большая Красная, д. 55</h1>
                    </div>
                    <div class="phone_footer_slade2_namber2">
                        <h1>Телефон:</h1>
                        <p>+7(843)231 00 90</p>
                    </div>
                    <div class="phone_footer_slade2_link">
                        <h1>Эл. почта:</a>
                        <a href="">pk@kai.ru</a>
                    </div>
                </div>
                <div class="phone_footer_slade3">
                    <div class="phone_footer_slade3_adres">
                        <h1>Адресс</h1>
                    </div>
                    <div class="phone_footer_slade3_ulisa">
                        г. Казань, ул. Большая Красная, д. 55
                    </div>
                </div>
            </div>
            <div class="phone_footer_upon Mtop16" style="margin-top: 16px;">
                <p>© Институт международного образования КНИТУ-КАИ Все права защищены 2022</p>
                <p>© КНИТУ-КАИ Все права защищены 2022</p>
            </div>
        </footer>
    </div>
</body>

<style>
    h1 {
        margin-bottom: 0;
    }
</style>
<script>
    function toggle() {
        document.getElementById("collapse").classList.toggle("hide");
        document.getElementById("phone_header_animated").classList.toggle("phone_header_animated_left")
    }
</script>
<script>
    const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
    const currentTheme = localStorage.getItem('theme');

    if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);

        if (currentTheme === 'dark') {
            toggleSwitch.checked = true;
        }
    }

    function switchTheme(e) {
        if (e.target.checked) {
            document.documentElement.setAttribute('data-theme', 'dark');
            localStorage.setItem('theme', 'dark');
        }
        else {
            document.documentElement.setAttribute('data-theme', 'light');
            localStorage.setItem('theme', 'light');
        }
    }

    toggleSwitch.addEventListener('change', switchTheme, false);
</script>
<script>
    const sec = document.querySelector('.sec');
    const toggle = document.querySelector('.toggle');
    toggle.onclick = function () {
        sec.classList.toggle('dark')

    };
</script>

</html>