{% extends 'mainsite/PhonePage/home_page.html' %}{% block content %}{% load i18n %}
{% load static %}
<style>
    .base_content_slade5 {
        display: none;
    }
</style>
<body class="body indexEnterWindow">
    <div id="phone_hend">
        <div class="main_block" id="main_block">
            <form method="POST" action="" class="phone_main_block_form">
                {% csrf_token %}
                <div class="main_block_form_flex_">
                    <div class="main_box_but_form_Iamastud_main FormBlockHideFunction FormBlockHideFunctionMainBtExit"
                        id="FormBlockHideFunction" style="display: block;">
                        <div class="phone_main_box_but_form_Iamastud" id="but_form_Iamastud1">
                            <!-- <div class="main_box_but_form_Iamastud_FORM"> -->
                            <div class="phone_main_block_form_flex">
                                <div class="phone_content_text_form">
                                    <h1 id="TextLogin" class="LengText-registration">Регистрация</h1>
                                    <p class="phone_main_block_form_InformationalText">Введите учетные данные</p>
                                </div>
                                {% for field in form %}
                                {{ field.errors.as_ul }}
                                {% endfor %}
                                <div class="phone_content_text_form_name">
                                    <div class="phone_main_block_form_textName_flexBox">
                                        {{ form.username}}
                                    </div>
                                    <div class="main_block_form_textPassword_box_flexBox">
                                        <div class="phone_main_block_form_textPassword_box">
                                            {{ form.password1}}
                                            <a class="informationEay" id="informationEay"
                                                onclick="ChangeEay(this, document.querySelector('#id_password1'))"></a>
                                        </div>
                                    </div>

                                    <div class="phone_child_element_flex">
                                        <input type="submit"
                                            class="main_block_form_button1 phone_main_block_form_input_1 trueChangePass1"
                                            value="Дальше"
                                            onclick="FormBlockHideFunction(1,this,boxes = document.querySelectorAll('.FormBlockHideFunction') )">
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </form>
            <div class="main_block_form_TextSelection">
                <div class="main_block_form_TextSelection_block">
                    <hr class="main_block_form_TextSelection_HR" id="clorHR_B81">
                    <p class="main_block_form_TextSelection_text LengText-TwoDashes" id="clorHR_B80">или</p>
                    <hr class="main_block_form_TextSelection_HR" id="clorHR_B82">
                </div>
            </div>
            <div class="regesterText_box">
                <p id="phone_regesterText" class="LengText-Question-uEctProf">Уже есть профиль?</p>
                <div style="margin-left:5px;">
                    <a id="" href="/login/"
                        class="phone_register_size regesterTextLink LengText-LoginSentence-Auto">Авторизуйтесь</a>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock %}