{% extends 'mainsite/PhonePage/home_page.html' %}{% block content %}{% load i18n %}
{% load static %}

<body class="body indexEnterWindow">
    <div class="phone-specialty-body">
        <div class="phone-specialty-header">
            <div class="phone-specialty-header-box-background">
                <div class="box-background-ImgSVG-h2CLONE">
                    <h2 class="phone-box-background-ImgSVG-h2" id="id_title">{{ speciality.faculty }}</h2>
                </div>
                <div class="box-background-ImgSVG-h1CLONE">
                    <h1 class="phone-box-background-ImgSVG-h1">{{ speciality.title}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="phone-specialty-box2">
        <div class="phone-specialty-box2-title">
            <div class="phone-specialty-box2-title-text">Общие сведения о направлении</div>
        </div>
        <div class="phone-specialty-box2-TextCard">
            <div class="phone-specialty-box2-text">
                <p> Значимость этих проблем настолько очевидна, что консультация с профессионалами из IT требует
                    определения и уточнения системы обучения кадров, соответствующей насущным потребностям. Соображения
                    высшего порядка, а также реализация намеченного плана развития требует определения и уточнения
                    экономической целесообразности принимаемых решений.</p>
            </div>
            <div class="phone-specialty-all-CardLink">
                <div class=" ">
                    <div class="shadowH phone-specialty-all-CardLink-boxStart1 sizeBox box-center">
                        <div class="LangText-incomig-specialty2">
                            {% translate "LangStaticname64" %}
                        </div>
                        <div class="phone-specialty-all-CardLink-grey-answer">
                            <h1>{{ speciality.time_edu}}</h1>
                        </div>
                    </div>
                </div>
                <div class=" ">
                    <div class="shadowH phone-specialty-all-CardLink-boxStart1 sizeBox box-center">
                        <div class="LangText-incomig-specialty3">
                            {% translate "LangStaticname65" %}
                        </div>
                        <div class="phone-specialty-all-CardLink-grey-answer">
                            <h1>{{ speciality.type_edu }}</h1>
                        </div>
                    </div>
                </div>
                <div class=" ">
                    <div class="shadowH phone-specialty-all-CardLink-boxStart1 sizeBox box-center">
                        <div class="LangText-incomig-specialty4">
                            {% translate "LangStaticname66" %}
                        </div>
                        <div class="phone-specialty-all-CardLink-grey-answer">
                            <h1>{{ speciality.day_tipe }}</h1>
                        </div>
                    </div>
                </div>
                <div class=" ">
                    <div class="shadowH phone-specialty-all-CardLink-boxStart1 sizeBox box-center">
                        <div class="LangText-incomig-specialty5">
                            {% translate "LangStaticname67" %}
                        </div>
                        <div class="phone-specialty-all-CardLink-grey-answer">
                            <h1>{{ speciality.price }}{% translate "LangStaticname68" %}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="phone-specialty-box2-title">
        <div class="phone-specialty-box2-title-text">{% translate "LangStaticname69" %}</div>
    </div>
    <div class="phone-specialty-box3-card">
        <div class="phone-specialty-all-BOXh1">
            <div class="specialty-all-exam">
                <div class="specialty-all-exam-content">
                    <div class="ProgramVstuplenie-phone" alt=""></div>
                    <a class="phone-specialty-three-cards"
                        href="https://abiturientu.kai.ru/programmy-vstupitel-nyh-ispytanij">
                        {% translate "LangStaticname70" %}</a>
                </div>
                <div class="specialty-all-exam-content">
                    <div alt="" class="DemoTest-phone"></div>
                    <a class="phone-specialty-three-cards" href="https://abiturientu.kai.ru/demo-versii-testov">
                        {% translate "LangStaticname71" %}</a>
                </div>
                <div class="specialty-all-exam-content">
                    <div alt="" class="RaspisanieIspit-phone"></div>
                    <a class="phone-specialty-three-cards"
                        href="https://abiturientu.kai.ru/raspisanie-vstupitel-nyh-ispytanij">
                        {% translate "LangStaticname72" %}</a>
                </div>
            </div>
        </div>
        <div class="specialty-all-CardLink">
            <div class="one">
                {% if speciality.exam_one == "MATH" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-MATH sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp ">
                        <h1 class="LangText-incomig-specialty8"> {% translate "LangStaticname73" %}</h1>
                    </div>
                </div>
                {% elif speciality.exam_one == "RUSS" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-RUSS sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp text-cart-center">
                        <h1 class="LangText-incomig-specialty9"> {% translate "LangStaticname74" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_one == "CHEM" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-CHEM sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty10"> {% translate "LangStaticname75" %}</h1>
                    </div>
                </div>
                {% elif speciality.exam_one == "PHYS" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-PHYS sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty11"> {% translate "LangStaticname76" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_one == "SOCL" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-SOCL sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty12"> {% translate "LangStaticname77" %}</h1>
                    </div>
                </div>
                {% elif speciality.exam_one == "INFO" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-INFO  sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty13"> {% translate "LangStaticname78" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_one == "FRLN" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-FRLN  sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp text-cart-center">
                        <h1 class="LangText-incomig-specialty14"> {% translate "LangStaticname79" %} </h1>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="two">
                {% if speciality.exam_two == "MATH" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-MATH sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp ">
                        <h1 class="LangText-incomig-specialty8"> {% translate "LangStaticname73" %}</h1>
                    </div>
                </div>
                {% elif speciality.exam_two == "RUSS" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-RUSS sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp text-cart-center">
                        <h1 class="LangText-incomig-specialty9"> {% translate "LangStaticname74" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_two == "CHEM" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-CHEM sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty10"> {% translate "LangStaticname75" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_two == "PHYS" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-PHYS sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty11"> {% translate "LangStaticname76" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_two == "SOCL" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-SOCL sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty12"> {% translate "LangStaticname77" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_two == "INFO" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-INFO  sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty13"> {% translate "LangStaticname78" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_two == "FRLN" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-FRLN  sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp text-cart-center">
                        <h1 class="LangText-incomig-specialty14"> {% translate "LangStaticname79" %} </h1>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="three">
                {% if speciality.exam_three == "MATH" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-MATH sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp ">
                        <h1 class="LangText-incomig-specialty8"> {% translate "LangStaticname73" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_three == "RUSS" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-RUSS sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp text-cart-center">
                        <h1 class="LangText-incomig-specialty9"> {% translate "LangStaticname74" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_three == "CHEM" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-CHEM sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty10"> {% translate "LangStaticname75" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_three == "PHYS" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-PHYS sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty11"> {% translate "LangStaticname76" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_three == "SOCL" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-SOCL sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty12"> {% translate "LangStaticname77" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_three == "INFO" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-INFO  sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp">
                        <h1 class="LangText-incomig-specialty13"> {% translate "LangStaticname78" %} </h1>
                    </div>
                </div>
                {% elif speciality.exam_three == "FRLN" %}
                <div
                    class="phone-weHAve_new_boxStart_img shadowH specialty-all-CardLink-boxStart-FRLN  sizeBox box-center">
                    <div class="specialty-all-CardLink-grey-answerUp text-cart-center">
                        <h1 class="LangText-incomig-specialty14"> {% translate "LangStaticname79" %} </h1>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="phone-specialty-box2-title">
        <div class="phone-specialty-box2-title-text">{% translate "LangStaticname250" %}</div>
    </div>
    <div class="phone-specialty-all">
        <div class="specialty-all-BOXh1">
            <div>
                <div class="specialty-all-text LangText-incomig-specialty16">
                    {% translate "LangStaticname200" %}
                </div>
            </div>
            <div class="specialty-all-text2">
                <div>{% translate "LangStaticname80" %}</div>
                <div class="specialty-naprav-block">
                    <div class="{{ speciality.direction_choice }}-specialty">
                        №3; ул. Толстого, 15, ауд. 508
                    </div>
                </div>
            </div>
            <div class="specialty-all-text2">
                <div>{% translate "LangStaticname81" %}</div>
                <div class="specialty-naprav-block">
                    <div class="{{ speciality.direction_choice }}-specialty-kafed">
                        {{ speciality.graduate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="phone-specialty-building">
            <div class="{{ speciality.direction_choice }} specialty-buildingKAI cursor">
                <div class="specialty-buildingKAI-picture">
                    <div class="specialty-buildingKAI-pic"></div>
                    <div class="specialty-buildingKAI-title">
                        {% if speciality.direction_choice == "First-building" %}
                            <div class="{{ speciality.direction_choice }}-specialty-place">
                                {% translate "LangStaticname251" %}
                            </div>
                        {% elif speciality.direction_choice == "Second-building" %}    
                            <div class="{{ speciality.direction_choice }}-specialty-place">
                                {% translate "LangStaticname252" %}
                            </div>
                        {% elif speciality.direction_choice == "Third-building" %}    
                            <div class="{{ speciality.direction_choice }}-specialty-place">
                                {% translate "LangStaticname253" %}
                            </div>
                        {% elif speciality.direction_choice == "Fifth-building" %}    
                            <div class="{{ speciality.direction_choice }}-specialty-place">
                                {% translate "LangStaticname254" %}
                            </div>
                        {% elif speciality.direction_choice == "Seveth-building" %}    
                            <div class="{{ speciality.direction_choice }}-specialty-place">
                                {% translate "LangStaticname255" %}
                            </div>
                        {% elif speciality.direction_choice == "Eighth-building" %}    
                            <div class="{{ speciality.direction_choice }}-specialty-place">
                                {% translate "LangStaticname256" %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="specialty-buildingKAI-mapAdress">
                        <a id="{{ speciality.direction_choice }}-url">{% translate "LangStaticname82" %}
                            <img src='{% static "mainsite/img/incoming/incoming-left.svg" %}' alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="specialty-all specialty-all-Key-disiplin">
        <div class="specialty-all-BOXh1">
            <div class="phone-specialty-box2-title">
                <div class="phone-specialty-box2-title-text">{% translate "LangStaticname83" %}</div>
            </div>
        </div>
        <div class="specialty-all-BOXh1">
            {% for triadkey in last_n %}
            <div class="phone-specialty-all-Key-naprav">
                <div class="specialty-naprav-block">
                    <div class="Second-building-specialty-kafed specialty-naprav-block-font-size">{{ triadkey.title }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="haveyouQuestion-phone">
        <div class="phone-specialty-box2-title">
            <div class="phone-specialty-box2-title-text">{% translate "LangStaticname84" %}</div>
        </div>
        <div class="phone-haveyouQuestion_boxes">

            <div class="haveyouQuestion_boxe_center haveyouQuestion_boxes3 cursor phone-haveyouQuestion_boxe_center"
                onclick="location.href='/faq'">
                <div class="haveyouQuestion_boxe_h1Box phone-boxe_h1Box_center">
                    <div class="phone-question-icon"></div>
                    <h3 class="haveyouQuestion_boxe_h1 Lang-standart51 specialty-question-text-color">
                        {% translate "LangStaticname85" %}
                        <br>{% translate "LangStaticname86" %}
                    </h3>
                </div>
                <div class="phone-haveyouQuestion_boxes3 cursor phone-haveyouQuestion_boxe_center-down">
                    <div class="phone-haveyouQuestion_boxe_h1">
                        <div class="specialty-question-text-color">
                            {% translate "LangStaticname87" %}<br>{% translate "LangStaticname88" %}
                            <br>{% translate "LangStaticname89" %} <br>{% translate "LangStaticname90" %}
                        </div>
                    </div>
                    <div>
                        <button class="phone-haveyouQuestion_article">
                            <div>{% translate "LangStaticname91" %}</div>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <script src="{% static 'mainsite/js/registration/UrlmapsAdress.js' %}"></script>
        <script>
            var x = "{{ speciality.direction_choice }}-url";

            switch (x) {
                case ("First-building-url"):
                    document.getElementById("First-building-url").href = "https://go.2gis.com/01zrow";
                    console.log("Первое Здание!");
                    break;
                case ("Second-building-url"):
                    document.getElementById("Second-building-url").href = "https://go.2gis.com/obc5vy";
                    console.log("Второе Здание!");
                    break;
                case ("Third-building-url"):
                    document.getElementById("Third-building-url").href = "https://go.2gis.com/cyfft9";
                    console.log("Второе Здание!");
                    break;
                case ("Fifth-building-url"):
                    document.getElementById("Fifth-building-url").href = "https://go.2gis.com/ku84vh";

                    console.log("Второе Здание!");
                    break;
                case ("Seven-building-url"):
                    document.getElementById("Seven-building-url").href = "https://go.2gis.com/f4pcs";
                    console.log("Второе Здание!");
                    break;
                case ("Eighth-building-url"):
                    document.getElementById("Eighth-building-url").href = "https://go.2gis.com/ywdjjo";
                    console.log("Второе Здание!");
                    break;
                default:
                    console.log("Ошибка!");
                    break;
            }
        </script>
    </div>

    <script src="{% static 'mainsite/js/registration/UrlmapsAdress.js' %}"></script>
    <script>
        var x = "{{ speciality.direction_choice }}-url";

        switch (x) {
            case ("First-building-url"):
                document.getElementById("First-building-url").href = "https://go.2gis.com/01zrow";
                console.log("Первое Здание!");
                break;
            case ("Second-building-url"):
                document.getElementById("Second-building-url").href = "https://go.2gis.com/obc5vy";
                console.log("Второе Здание!");
                break;
            case ("Third-building-url"):
                document.getElementById("Third-building-url").href = "https://go.2gis.com/cyfft9";
                console.log("Второе Здание!");
                break;
            case ("Fifth-building-url"):
                document.getElementById("Fifth-building-url").href = "https://go.2gis.com/ku84vh";

                console.log("Второе Здание!");
                break;
            case ("Seven-building-url"):
                document.getElementById("Seven-building-url").href = "https://go.2gis.com/f4pcs";
                console.log("Второе Здание!");
                break;
            case ("Eighth-building-url"):
                document.getElementById("Eighth-building-url").href = "https://go.2gis.com/ywdjjo";
                console.log("Второе Здание!");
                break;
            default:
                console.log("Ошибка!");
                break;
        }
    </script>
</body>
{% endblock %}