{% load static %}{% load i18n %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% translate "LangStaticname1" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href='{% static "mainsite/img/Icon.svg" %}' />
    <link href='{% static "mainsite/css/registration/login_base_style.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_1.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_2.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/profile/profile.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_3.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_4.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/faq/faq.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/news/news.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/news/news_list.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/incoming/incoming.css" %}' rel="stylesheet">
    <link href='https://fonts.google.com/specimen/Inter#standard-styles' rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href='{% static "mainsite/css/registration/preloader.css" %}' rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="{% static 'mainsite/js/registration/Them.js' %}">
    </script>
    <script src="{% static 'mainsite/js/registration/ChangeEay.js' %}">
    </script>
    <script src="{% static 'mainsite/js/registration/mouseChange.js' %}">
    </script>
    <script src="{% static 'mainsite/js/registration/changePass.js' %}">
    </script>
    <script src="{% static 'mainsite/js/registration/regesterBUT.js' %}">
    </script>
    <script src="{% static 'mainsite/js/registration/phoneinput.js' %}">
    </script>
    <script src="{% static 'mainsite/js/registration/preloader.js' %}">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
    <script src="{% static 'mainsite/js/them/them.js' %}">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr">
    </script>
    <script>
        flatpickr("#myID", {});
    </script>
</head>


<div class="preloader">
    <div class="preloader__row">
        <div class="spinner preloader__item"></div>
    </div>
</div>


<header class="header">
    <a href="{% url 'mainsite:home_page' %}">
        <div class="main_icon_logo_flexbox">
            <div class="main_icon_logo">
            </div>
            <p class="main_icon_logo_text">
                {% translate "LangStaticname2" %}
            </p>
        </div>
    </a>

    <div class="menu_links_boxs">
        <div class="menu_links_box_displayWhere700px">
            <div class="menu_links_box_iconWhereDisplay700px">
                <div class="menu_links_box_iconWhereDisplay700pxImgsvg"></div>
            </div>
            <div class="menu_links_box_text700px_box">
                <p class="menu_links_box_text700px">{% translate "LangStaticname3" %}</p>
            </div>
        </div>
        <div class="menu_links_boxs_links">
            <a href="{% url 'mainsite:enteringimo' %}">
                <div class="menu_links_boxs_links_link">
                    <div class="menu_links_boxs_links_link_icon">
                        <div class="standartStyleForimg books"></div>
                    </div>
                    <div class="menu_links_boxs_links_link_iconText_box">
                        <p class="menu_links_boxs_links_link_iconText">#{% translate "LangStaticname4" %}</p>
                    </div>
                </div>
            </a>

            <a href="{% url 'mainsite:faq' %}">
                <div class="menu_links_boxs_links_link">
                    <div class="menu_links_boxs_links_link_icon">
                        <div class="standartStyleForimg key"></div>
                    </div>
                    <div class="menu_links_boxs_links_link_iconText_box">
                        <p class="menu_links_boxs_links_link_iconText">#{% translate "LangStaticname5" %}</p>
                    </div>
                </div>
            </a>

            <a href="{% url 'mainsite:news_list' %}">
                <div class="menu_links_boxs_links_link">
                    <div class="menu_links_boxs_links_link_icon">
                        <div class="standartStyleForimg gun"></div>
                    </div>
                    <div class="menu_links_boxs_links_link_iconText_box">
                        <p class="menu_links_boxs_links_link_iconText">#{% translate "LangStaticname6" %}</p>
                    </div>
                </div>
            </a>

            <div class="buttonsInHeader_box displayNoneWhere displayon clickOnserch">
                <input type="button" class="buttonsInHeader_box_search noStyelButt cursorP" id="search">
                <div class="buttonsInHeader_box_search_TextBox">
                    <p class="buttonsInHeader_box_search_Text">{% translate "LangStaticname7" %}</p>
                </div>
            </div>
            <div class=""><!--buttonsInHeader_box displayNoneWhere clickOnserch-->
                <div class="form-check form-switch">
                    <input class="form-check-input cursor" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>
        </div>
    </div>
    <div class="buttonsInHeader">
        <div class="buttonsInHeader_box displayNoneWhere displayof clickOnserch">
            <input type="button" class="buttonsInHeader_box_search noStyelButt cursorP" id="search">
        </div>
        <nav class="navbar navbar-expand-lg navbar-light btg-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Ru
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% get_current_language as LANGUAGE_CODE %}
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
          
                      {% for lang in languages %}
                        <li>
                        <a class="dropdown-item" href="/{{ lang.code }}/">
                            {{ lang.name_local }}
                        </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <!-- <div class="buttonsInHeader_box"> 
            <input type="button" class="buttonsInHeader_box_lang noStyelButt cursorP Lang-name" id="lang" value="Ru">
        </div> -->
        <div class="headerLanguage" id="hidden_block">
            <div class="russ headerLanguage_flexbox" id="Ru"
                onclick="defineLang(this,document.querySelector('.Lang-name'))">
                <div class="img_active change">
                    <img src='{% static "mainsite/img/ru.png" %}' alt="">
                </div>
                <div class="russ_txt">
                    <p class="defineText">Русский</p>
                </div>
            </div>
            <div class="eng headerLanguage_flexbox" id="Eng"
                onclick="defineLang(this,document.querySelector('.Lang-name'))">
                <div class="img_no_active change">
                    <img src='{% static "mainsite/img/eng.png" %}' alt="">
                </div>
                <div class="eng_txt">
                    <p class="defineText">English</p>
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
            {% if request.user.profile %}
                <div class="buttonsInHeader_box">
                    <input type="button" class="buttonsInHeader_box_usButton noStyelButt cursorP" id="usButton"
                        onclick="location.href='/profile'">
                </div>
            {% else %}
                <div class="buttonsInHeader_box">
                    <input type="button" class="buttonsInHeader_box_usButton noStyelButt cursorP" id="usButton"
                        onclick="location.href='/extra'">
                </div>
            {% endif %}    
        {% else %} 

        <div class="buttonsInHeader_box">
            <input type="button" class="buttonsInHeader_box_usButton noStyelButt cursorP" id="usButton"
                onclick="location.href='/signup'">
        </div>

        {% endif %}
    </div>
</header>
<body>
    {% block content %} {% endblock %}

</body>
<div class="footer" style="margin-top: 100px;">
    <div class="footer_boxs_1 footer_boxs">
        <div class="main_icon_logo_flexbox">
            <div class="main_icon_logo">
            </div>
            <p class="main_icon_logo_text">
                {% translate "LangStaticname2" %}
            </p>
        </div>
        <div class="footer_boxs_links_box">
            <div class="footer_boxs_links_box_plot">
                <div class="footer_boxs_links_box_l footer_boxs_links_box_l1 cursorP"></div>
            </div>
            <div class="footer_boxs_links_box_plot">
                <div class="footer_boxs_links_box_l footer_boxs_links_box_l2 cursorP"></div>
            </div>
            <div class="footer_boxs_links_box_plot">
                <div class="footer_boxs_links_box_l footer_boxs_links_box_l3 cursorP"></div>
            </div>
            <div class="footer_boxs_links_box_plot">
                <div class="footer_boxs_links_box_l footer_boxs_links_box_l4 cursorP"></div>
            </div>
        </div>
    </div>

    <div class="footer_boxs_2 footer_boxs">
        <div class="footer_boxs_boxH3">
            <p class="helpText">{% translate "LangStaticname8" %}</p>
        </div>
        <div class="footer_boxs_textadr">
            <p class="footer_mainText">{% translate "LangStaticname9" %}</p>
        </div>
    </div>
    <div class="footer_boxs_3 footer_boxs">
        <div class="footer_boxs_boxP">
            <p class="helpText">{% translate "LangStaticname10" %}</p>
        </div>
        <div class="footer_boxs_boxH3">
            <h3 class="footer_mainText">+7(843)231-00-27</h3>
        </div>
    </div>
    <div class="footer_boxs_4 footer_boxs">
        <div class="footer_boxs_boxP">
            <p class="helpText">{% translate "LangStaticname11" %}</p>
        </div>
        <div class="footer_boxs_boxH3">
            <h3 class="footer_mainText">+7(843)231-01-58</h3>
        </div>
    </div>
    <div class="footer_boxs_5 footer_boxs">
        <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
            <p class="Memo_box_textInf_p nowVW">pk@kai.ru</p>
        </div>
        <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
            <p class="Memo_box_textInf_p nowVW">international@kai.ru</p>
        </div>
    </div>
    <div class="footer_boxHR marginTOP_70px">
        <hr class="footer_hr" />
    </div>

    <div class="footer_FM">
        <div class="footer_FM1">
            <!-- <div class="footer_FM1_Logo">

                </div> -->
            <div class="footer_FM1_boxp">
                <p class="footer_FM1_p">© {% translate "LangStaticname12" %} 2022
                </p>
            </div>
        </div>
        <div class="footer_FM2">
            <div class="footer_FM2 link_FM2 cursorN">
                <p class="link_FM2Text">© {% translate "LangStaticname13" %} 2022</p>
            </div>
        </div>
    </div>
</div>
</html>