{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='{% static "mainsite/css/registration/login_base_style.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_1.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_2.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/profile/profile.css" %}' rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href='{% static "mainsite/img/Icon.svg" %}'/>

    <script src="{% static 'mainsite/js/registration/hidden_block_leng.js' %}"> </script>
    <script src="{% static 'mainsite/js/registration/Them.js' %}"> </script>
    <script src="{% static 'mainsite/js/registration/ChangeEay.js' %}"> </script>
    <script src="{% static 'mainsite/js/registration/mouseChange.js' %}"> </script>
    <script src="{% static 'mainsite/js/registration/translate.js' %}"> </script>
    <script src="{% static 'mainsite/js/registration/changePass.js' %}"> </script>
    <script src="{% static 'mainsite/js/registration/regesterBUT.js' %}"> </script> 
</head>
<body>
{% block content %}

{% endblock  %}

</body>
</html>