{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='{% static "mainsite/css/registration/login_base_style.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_1.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_2.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/profile/profile.css" %}' rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href='{% static "mainsite/img/Icon.svg" %}'/>

    <script src="{% static 'mainsite/js/registration/hidden_block_leng.js' %}"> </script>
    <script src="{% static 'mainsite/js/registration/Them.js' %}"> </script>
    <script src="{% static 'mainsite/js/registration/ChangeEay.js' %}"> </script>
    <script src="{% static 'mainsite/js/registration/mouseChange.js' %}"> </script>
    <script src="{% static 'mainsite/js/registration/translate.js' %}"> </script>
    <script src="{% static 'mainsite/js/registration/changePass.js' %}"> </script>
    <script src="{% static 'mainsite/js/registration/regesterBUT.js' %}"> </script>

    <link href=’https://fonts.google.com/specimen/Inter#standard-styles’ rel=’stylesheet’/>
</head>
<header class="body">
            <div class="header">
            <div class="main_icon_logo">
            </div>
            <div class="menu_links_boxs">
                <div class="menu_links_box_displayWhere700px">
                    <div class="menu_links_box_iconWhereDisplay700px"><div class="menu_links_box_iconWhereDisplay700pxImgsvg"></div></div>
                    <div class="menu_links_box_text700px_box"><p class="menu_links_box_text700px">Меню</p></div>
                </div>
                <div class="menu_links_boxs_links">
                    <div class="menu_links_boxs_links_link">
                        <div class="menu_links_boxs_links_link_icon"> <div class="standartStyleForimg books"></div></div>
                        <div class="menu_links_boxs_links_link_iconText_box"><p class="menu_links_boxs_links_link_iconText">#поступающим</p></div>
                    </div>
                    <div class="menu_links_boxs_links_link">
                        <div class="menu_links_boxs_links_link_icon"><div class="standartStyleForimg palette"></div></div>
                        <div class="menu_links_boxs_links_link_iconText_box"><p class="menu_links_boxs_links_link_iconText">#обучение</p></div>
                    </div>
                    <div class="menu_links_boxs_links_link">
                        <div class="menu_links_boxs_links_link_icon"><div class="standartStyleForimg riveting"></div></div>
                        <div class="menu_links_boxs_links_link_iconText_box"><p class="menu_links_boxs_links_link_iconText">#студентам</p></div>
                    </div>
                    <div class="menu_links_boxs_links_link">
                        <div class="menu_links_boxs_links_link_icon"><div class="standartStyleForimg key"></div></div>
                        <div class="menu_links_boxs_links_link_iconText_box"><p class="menu_links_boxs_links_link_iconText">вопрос-ответ</p></div>
                    </div>
                    <div class="menu_links_boxs_links_link">
                        <div class="menu_links_boxs_links_link_icon"><div class="standartStyleForimg gun"></div></div>
                        <div class="menu_links_boxs_links_link_iconText_box"><p class="menu_links_boxs_links_link_iconText">#новости</p></div>
                    </div>
                    <div class="buttonsInHeader_box displayNoneWhere displayon clickOnserch">
                        <input type="button" class="buttonsInHeader_box_search noStyelButt cursorP" id="search" >
                        <div class="buttonsInHeader_box_search_TextBox">
                            <p class="buttonsInHeader_box_search_Text">Поиск</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttonsInHeader">
                <div class="buttonsInHeader_box displayNoneWhere displayof clickOnserch">
                    <input type="button" class="buttonsInHeader_box_search noStyelButt cursorP" id="search" >
                </div>
                <div class="buttonsInHeader_box">
                    <input type="button" class="buttonsInHeader_box_lang noStyelButt cursorP" id="lang" value="RU">
                </div>
                <div class="buttonsInHeader_box">
                    <input type="button" class="buttonsInHeader_box_usButton noStyelButt cursorP" id="usButton">
                </div>
                <div class="hideMenu_in_Proffil">
                    <div class="hideMenu_in_Proffil_litleBlock">
                        <div class="hideMenu_in_Proffil_box hideMenu_in_Proffil_boxMURGBOTT">

                            <img src='{% static "mainsite/img/birdKurlik.svg" %}' alt="img" id="" class="hideMenu_in_Proffil_boxIMG ">
                            <div class="hideMenu_in_Proffil_box_INF">
                                <div class="hideMenu_in_Proffil_box_INF_p marginbottom10px">
                                    <p class="hideMenu_in_Proffil_boxNAME textstule" id="Name">Сидоров Евгений</p>
                                </div>
                                <div class="hideMenu_in_Proffil_box_INF_p">
                                    <p class="hideMenu_in_Proffil_boxEmail textstule" id="Email">sidorovevgenii@stud.kai.ru</p>
                                </div>
                            </div>
                        </div>
                        <div class="hideMenu_in_Proffil_box">
                            <div class="hideMenu_in_Proffil_LCProf_boximg hideMenu_in_Proffil_boxIMG">
                                <img src='{% static "mainsite/img/home-alt.svg" %}' alt="noIMG" class="hideMenu_in_Proffil_LCProf_img">

                            </div>
                            <div class="hideMenu_in_Proffil_LCProf_boxp">
                                <p class="hideMenu_in_Proffil_LCProf_p textstule">Личный кабинет</p>
                            </div>
                        </div>
                        <div class="hideMenu_in_Proffil_box">
                            <div class="hideMenu_in_Proffil_LCProf_boximg hideMenu_in_Proffil_boxIMG">

                                <img src='{% static "mainsite/img/Union.svg" %}' alt="noIMG" class="hideMenu_in_Proffil_LCProf_img">
                            </div>
                            <div class="hideMenu_in_Proffil_LCProf_boxp">
                                <p class="hideMenu_in_Proffil_LCProf_p textstule">Подать заявку </p>
                            </div>
                        </div>
                        <div class="hideMenu_in_Proffil_box">
                            <div class="hideMenu_in_Proffil_LCProf_boximg hideMenu_in_Proffil_boxIMG">

                                <img src='{% static "mainsite/img/bell.svg" %}' alt="noIMG" class="hideMenu_in_Proffil_LCProf_img" width="18px">
                            </div>
                            <div class="hideMenu_in_Proffil_LCProf_boxp">
                                <p class="hideMenu_in_Proffil_LCProf_p textstule">Уведомления</p>
                            </div>
                        </div>
                        <div class="footer_boxHR noMargin">
                            <hr class="footer_hr"/>
                        </div>
                        <div class="hideMenu_in_Proffil_box">
                            <div class="hideMenu_in_Proffil_LCProf_boximg hideMenu_in_Proffil_boxIMG">

                                <img src='{% static "mainsite/img/log-in.svg" %}' alt="noIMG" class="hideMenu_in_Proffil_LCProf_img">
                            </div>
                            <div class="hideMenu_in_Proffil_LCProf_boxp">
                                <p class="hideMenu_in_Proffil_LCProf_p textstule">Выйти</p>
                            </div>
                        </div>

                    <!-- кнопка смены темы -->
                        <div class="hideMenu_in_Proffil_box_buttHThem">

                        </div>
                    </div>
                </div>
                <!-- py<div class="buttonsInHeader_box">
                    <div class="buttonsInHeader_box_notifications" id="notifications"></div>
                </div> -->

            </div>
        </div>

</header>
<body>
{% block content %}

{% endblock  %}

</body>
</html>