{% extends 'mainsite/base.html' %}{% block content %} {% load static %}{% load i18n %}
<body class="body">
<div class="faq_content" >
    <div class="faq_block1" style="padding-top: 150px; text-align: center;">
        <h1>{% translate "LangStaticname57" %}</h1>
    </div>
    {% for question in questions %}
    <div class="faq_question">
        <h3 class="faq_header">
           {{ question.title }}
        </h3>

        <div class="faq_text">
            {{ question.question }}
        </div>

    </div>

    {% endfor %}
    <div class="faq_form">
        <h1>
           {% translate "LangStaticname58" %}
        </h1>
        <p>{% translate "LangStaticname59" %}</p>
        <div class="verification-mail" style="margin-left: 25%">
            <div >
                <input class="verification-mail-field" type="text" value="imokai@bb.kai.ru" id="myInput" readonly>
            </div>
            <button class="verification-mail-btn" onclick="myFunction()" >{% translate "LangStaticname60" %}</button>
        </div>
    </div>

</div>
</body>
<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
}
</script>
{% endblock %}