* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--backgroundColor);
}

:root {
    /********************************COLOR*******************************************************/

    --hand-cursor-w: pointer;
    --hand-cursor-d: default;
    --font-inter: 'Inter';
    --font-inter-Bold: 'Inter Bold';
    --font-averta-cy: 'Averta CY';
    --font-averta-cy-EB: 'Averta CY EB';
    --font-averta-cy-W01: 'Averta CY W01';
    --font-averta-demo-PE: 'Averta Demo PE';

    --pointerHand-cursor: pointer;
    --colorText: #000000;
    --colorText-black-blue:#001A34;
    --backgroundColor: #fff;
    --hiddenHederBlockColorNameOfText: #000;
    --hiddenHederBlockColorText: #595959;
    --hiddenHederBlockColorHr: #F3F3F3;
    --menu_links_box_displayWhere700px: #f7f7f7;
    --hideMenu_in_Proffil: #F3F3F3;
    --buttonsInHeader_box_usButtonHover: #4526FF;
    --ColorTextforProgrammStady: #383838;
    --ColorTextForProgrammStadyPlashca: #fff;
    --bs-white:#FFF;
    --bs-grey:#F2F2F2;
    --Profile-list-BackBackground:#fff;
    --Profile-list-changeBackground:#F2F2F2;
    --phone-header-collapse:#FFFFFF;
    --Profil-p:#000212;
    --phone-slider:#ccc;
    --phone-slider-border:#000;
    --phone-Hr:#000;
    --slider_inside_text:#000212;
    --phone-input-checkbox-color:#fff;
    --Phone-Lang-standart-color:#000212;
    --phone-button-color:#383838;


    /********************************IMG*******************************************************/
    --hand-cursor-b: url("../home_page/cssimg/cursor_b.svg") 2 2, auto;
    --main-logo: url("../home_page/cssimg/mainICON_1.svg");
    --phone-profil-ico-color: url("../../img/white-web/Profil.svg");
    --text_List_In_buttom_imgSvg: url("../home_page/cssimg/circlePlasArrow.svg");
    --ProgramVstuplenie: url("/static/mainsite/img/ProgramVstuplenie-phone-white.svg");
    --DemoTest: url("/static/mainsite/img/DemoTest-phone-white.svg");
    --RaspisanieIspit: url("/static/mainsite/img/RaspisanieIspit-phone-white.svg");
    --main_icon_logo_phone: url("../home_page/cssimg/mainICON_1.svg");
    /* url(../../img/Profile.svg) */
    --Phone-header-presen-ico:url("../../img/white-web/phone_header_presen.svg");
    --Phone-header-question-ico:url("../../img/white-web/phone_header_question.svg");
    --Phone-header-notice-ico:url("../../img/white-web/phone_header_notice.svg");
    --Phone-header-home-ico:url("../../img/white-web/phone_header_home.svg");
    --Phone-header-home-get-ico: url("../../img/white-web/phome_imo_down.svg");
    /* background-image: url(../../img/PamyatkaInost.svg); */
    --Phone-header-PamyatkaInost: url("../../img/white-web/PamyatkaInost.svg");

    --phone-specialty-naprav-block: none;


}   

[data-theme="dark"] {
    /********************************COLOR*******************************************************/

    --Profile-list-BackBackground:#242730;
    --Profile-list-changeBackground:#14161D;
    --phone-header-collapse:#000212;
    --Profil-p:#F4F4F4;
    --phone-button-color:#383838;
    --phone-slider:#616161;
    --phone-slider-border:#616161;
    --phone-Hr:#EFEAEA;
    --slider_inside_text:#fff;
    --phone-input-checkbox-color:#343434;
    --Phone-Lang-standart-color:#DDDCE2;
    --colorText: #F3F3F3;
    --colorText-black-blue:#F3F3F3;

    /********************************IMG*******************************************************/
    --phone-profil-ico-color: url("../../img/black-web/Profil.svg");
    --text_List_In_buttom_imgSvg: url("/static/mainsite/img/pic-listdown.svg");
    --ProgramVstuplenie: url("/static/mainsite/img/ProgramVstuplenie-phone-black.svg");
    --DemoTest: url("/static/mainsite/img/DemoTest-phone-black.svg");
    --RaspisanieIspit: url("/static/mainsite/img/RaspisanieIspit-phone-black.svg");
    --main_icon_logo_phone: url("../home_page/cssimg/mainICON_2.svg");
     /* url(../../img/Profile.svg) */
     --Phone-header-presen-ico:url("../../img/black-web/phone_header_presen.svg");
     --Phone-header-question-ico:url("../../img/black-web/phone_header_question.svg");
     --Phone-header-notice-ico:url("../../img/black-web/phone_header_notice.svg");
     --Phone-header-home-ico:url("../../img/black-web/phone_header_home.svg");
     --Phone-header-home-get-ico: url("../../img/black-web/phome_imo_down.svg");
     --Phone-header-PamyatkaInost: url("../../img/black-web/PamyatkaInost.svg");
    
     --phone-specialty-naprav-block: .5px solid #F3F3F3;

}
/* $(".:root").css("var(--Profile-list-BackBackground)", "#14161D");
$(".:root").css("var(--Profile-list-BackBackground)", "#242730"); */

@font-face {
    font-family: 'Averta CY';
    /*a name to be used later*/
    src: url('../home_page/cssstyle/Averta Cyrillic Regular.otf');
    /*URL to font*/
}

@font-face {
    font-family: 'Averta CY EB';
    /*a name to be used later*/
    src: url('../home_page/cssstyle/Averta Cyrillic Bold.otf');
    /*URL to font*/
}

@font-face {
    font-family: 'Averta CY SB';
    /*a name to be used later*/
    src: url('../home_page/cssstyle/Averta Cyrillic SemiBold.otf');
    /*URL to font*/
}

@font-face {
    font-family: 'Inter Bold';
    /*a name to be used later*/
    src: url('../home_page/cssstyle/Inter-Bold.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'Inter';
    /*a name to be used later*/
    src: url('../home_page/cssstyle/Inter-Medium.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'Inter SemiBold';
    /*a name to be used later*/
    src: url('../home_page/cssstyle/Inter-SemiBold.ttf');
    /*URL to font*/
}

li {
    list-style: none;
    cursor: var(--hand-cursor-w);
}