.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    z-index: 8;
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 20px 42px -1px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    padding: 17px 30px;
    position: fixed;
}

.header a{
    text-decoration: none;
}


#search {
    display: none;
}
.main_icon_logo {
    width: 56px;
    height: 40px;
    background-image: url('../home_page/cssimg/mainICON_1.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.main_icon_logo_flexbox {
    display: flex;
    align-items: center;
    /* margin-bottom: 31px; */
}

.main_icon_logo_text {
    font-size: 14px;
    font-family: var(--font-averta-cy);
    color: #000;
    margin-left: 15px;
}

.menu_links_boxs {
    left: 2%;

}
.menu_links_boxs{
    margin-left: 100px;
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
}

.menu_links_box_displayWhere700px {
    width: 97px;
    height: 36px;
    background-color: var(--menu_links_box_displayWhere700px);
    border-radius: 27px;
    display: none;
    align-items: center;
    justify-content: center;
}

.menu_links_box_iconWhereDisplay700px {
    width: 28px;
    height: 28px;
    background-color: #424242;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_links_box_iconWhereDisplay700pxImgsvg {
    width: 11px;
    height: 9px;
    background-image: url('../home_page/cssimg/menuBut700px.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.menu_links_box_text700px_box {
    margin-left: 6px;
}

.menu_links_box_text700px {
    color: var(--colorText);
    font-family: var(--font-averta-cy-EB);
    font-size: 14px;
}

.menu_links_boxs_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu_links_boxs_links_link {
    height: 44px;
    border-radius: 30px;
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 4px;
}

.menu_links_boxs_links_link_icon {
    width: 34px;
    height: 34px;
    background-color: #DEDEDE;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}

.menu_links_boxs_links_link_iconText_box {
    margin-left: 6px;
    margin-right: 6px;
}

.menu_links_boxs_links_link_iconText {
    color: var(--colorText);
    font-family: var(--font-averta-cy-EB);
    font-size: 15px;
}

.standartStyleForimg {
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 19px;
}

.books {
    background-image: url('../home_page/cssimg/book.svg');
}

.palette {
    background-image: url('../home_page/cssimg/palitra.svg');
}

.riveting {
    background-image: url('../home_page/cssimg/klepka.svg');
}

.key {
    background-image: url('../home_page/cssimg/key.svg');
}

.gun {
    background-image: url('../home_page/cssimg/gun.svg');
}

.menu_links_boxs_links_link:hover {
    background-color: #a19f9f;
    transition: 0.4s;
    cursor: pointer;
}

.hideMenu_in_Proffil_box:hover .testhange2 {
    stroke: #000;
    fill: #000;
}

.hideMenu_in_Proffil_box:hover .textstule {
    color: #000;
}

.buttonsInHeader {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonsInHeader_box_search {
    width: 21px;
    height: 21px;
    background-image: url('../home_page/cssimg/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.buttonsInHeader_box_lang {
    height: 40px;
    font-family: var(--font-averta-cy-EB);
    font-size: 26px;
    color: var(--colorText);
    transition: 1s;
}

.buttonsInHeader_box_lang:hover {
    color: var(--buttonsInHeader_box_usButtonHover);
}

.buttonsInHeader_box_usButton {
    width: 26px;
    height: 26px;
    background-image: url('../home_page/cssimg/kubsMenu.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s;
}

.buttonsInHeader_box_usButton:hover {
    background-image: url('../home_page/cssimg/kubsMenu_hover.svg');
    transform: scale(1.80);
}

.buttonsInHeader_box_usButton:hover {
    cursor: pointer;
}

.noStyelButt {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.header2 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 184px;
}

.header2_boxText {
    width: 40%;
    /* margin-left: 10%; */
    display: flex;
    flex-direction: column;
}

.header2_boxText_box {
    width: 100%;
    margin-bottom: 60px;
}

.header2_boxText_boxH1 {
    font-family: var(--font-averta-cy-EB);
    color: var(--colorText);
    font-size: 400%;
}

.header2_boxText_twoBTN {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2_boxText_twoBTNBox_button {
    border-radius: 64px;
    /* border: 2px solid #000212; */
    background-color: rgba(0, 0, 0, 0);
    color: var(--colorText);
    font-family: var(--font-averta-cy-EB);
    padding: 10px 25px 10px 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.text_List_In_buttom_imgSvg {
    background-image: var(--text_List_In_buttom_imgSvg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;
}

.text_List_In_buttom_text {
    color: var(--colorText);
    font-family: var(--font-averta-cy);
    font-weight: 20px;
}

.header2_boxImgSvg_Width50 {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.text_List_In_buttom {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 115px;
}

.text_List_In_buttom_box {
    margin-left: 35px;
}

.header2_boxText_twoBTNBox_button_IMGSVG {
    vertical-align: middle;
    margin-right: 5px;
}

.header2_boxText_twoBTNBox {
    width: 70%;
}

.header2_boxImgSvg {
    width: 410px;
    height: 420px;
    background-image: url('../home_page/cssimg/faces.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header2_boxImgSvg_Width50_IMG_fases {
    width: 100%;
}

.trainingProgram {
    margin-top: 108px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.trainingProgram_TextBox_displayFlex {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.trainingProgram_TextBox {
    width: 25%;
}

.trainingProgram_TextBox_h1 {
    font-family: var(--font-averta-cy-EB);
    font-size: 300%;
    color: var(--colorText);
}

.trainingProgram_TextBox_p {
    text-align: left;
    font-family: var(--font-inter);
    /* font-size: 28px; */
    color: var(--ColorTextforProgrammStady);
    margin-top: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 182.1%;
}

.specialty_box {
    margin-top: 80px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.specialty_box_displayFlex {
    width: 100%;
}

.specialty_box_displayFlex_litleBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.specialty_box_picture_text {
    font-family: var(--font-averta-cy-EB);
    color: var(--ColorTextForProgrammStadyPlashca);
    font-size: 2.3vw;
    /* text-align: center;
    vertical-align: middle; */
}

.shipbuilding {
    text-align: center;
    background-image: url(../../img/shipbuilding.svg);
}

.compositTechnologi {
    text-align: center;
    background-image: url(../../img/compositTechnologi.svg);
}

.colorfff {
    color: var(--ColorTextForProgrammStadyPlashca);
}

.specialty_box_pictureSMAL {
    width: 33%;
}

.specialty_box_picture {
    width: 67%;
}

.standartStyleForimgSp {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    transition: 0.4s;
    margin-bottom: 20px;
}

.AircraftIndustry1 {
    background-image: url('../home_page/cssimg/aircraft1.svg');
}

.AircraftIndustry2 {
    background-image: url('../home_page/cssimg/acanomick.svg');
}

.AircraftIndustry3 {
    background-image: url('../home_page/cssimg/ecspluatacia1.svg');
}

.AircraftEngines {
    background-image: url('../home_page/cssimg/dvigLetAp.svg');
}

.infocommunicationTechnologies {
    background-image: url('../home_page/cssimg/infoCAMUN.svg');
}

.AircraftOperation1 {
    background-image: url('../home_page/cssimg/AircraftOperation1.svg');
}

.AircraftOperation2 {
    background-image: url('../home_page/cssimg/ecspluatacia2.svg');
}

.SeeAllPrograms {
    background-image: url('../home_page/cssimg/seeallspecialist.svg');
    text-align: center;
}

.standartStyleForimgSp:hover {
    box-shadow: 0px 18px 42px 11px rgba(255, 255, 255, 0.09);
    margin: 0px 10px;
    cursor: pointer;
}

.imo_advantage_Boxinf_imgHOVER:hover {
    box-shadow: 0px 18px 42px 11px rgba(255, 255, 255, 0.09);
    /* margin: 0px 10px; */
    /* cursor: pointer; */
    /* transition: 0.3s; */
}

.cursorP:hover {
    cursor: pointer;
}

.color000000 {
    color: #000000;
}

.marginLeft20px {
    margin-left: 20px;
}

.Memo {
    width: 90%;
    background-color: #13141C;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-top: 130px;
}

.Memo_Display_flexblock {
    width: 90%;
}

.Memo_textTitleAndImgSvg {
    display: flex;
    justify-content: space-around;
}

.Memo_textTitle {
    display: flex;
    flex-direction: column;
}

.Memo_ImgSvg {
    background-image: url(../home_page/cssimg/blueLemon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 537px;
}

.MEmo_boxes_of_informations_MAin {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}

.Memo_boxes_of_informations1 {
    width: 100%;
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Memo_box_textInf {
    display: flex;
    flex-direction: column;
}

.Memo_boxContentH1 {
    font-size: 2.7vw;
    font-family: var(--font-inter);
    color: var(--colorText);
}

.Memo_box_Ph {
    font-size: 1.3vw;
    font-family: var(--font-inter);
    color: #8B8C90;
}

.Memo_box_textInf_contentTextsALinks_displayFlexflexdirectionColumn {
    display: flex;
    flex-direction: column;
}

.Memo_box_textInf_contentPh {
    margin-top: 17px;
    margin-bottom: 24px;
}

.Memo_box_textInf_p {
    font-size: 1.4vw;
    font-family: var(--font-inter);
    color: #2298FF;
}

.Memo_box_textInf_contentTextsALinks_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Memo_box_textInf_marginLEftandRight {
    margin: 0px 12px;
}

.trainingProgram_TextBox_pMEmo {
    text-align: left;
    font-family: var(--font-inter);
    font-size: 2.5vw;
    color: #D9D9DB;
    margin-top: 40px;
}

.trainingProgram_TextBox_h1MEmo {
    font-family: var(--font-averta-cy-EB);
    font-size: 3.9vw;
    color: var(--colorText);
}

.MarginBottom {
    margin-bottom: 57px;
}

.colorfff {
    color: #fff;
}

.conteinfor {
    background-color: #2B2C31;
    border-radius: 12px;
    justify-content: normal;
    padding: 10px 30px 10px 35px;
}

.marginLeft5px {
    margin-left: 15px;
}

.about_IMO {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.box_aboutIMO_text_Inf {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_aboutIMO_text_Infmain {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.box_aboutIMO_text_boxH1 {
    margin-bottom: 30px;
}

.box_aboutIMO_text_Inf_INGSVG {
    width: 200px;
    height: 200px;
    background-image: var(--main_icon_logo_phone);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.box_aboutIMO_ImgSVG {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.box_aboutIMO_ImgSVG_background {
    width: 100%;
    height: 300px;
    background-image: url('../home_page/cssimg/wathercirc.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_aboutIMO_ImgSVG_h1 {
    font-size: 35px;
    font-family: var(--font-averta-cy-EB);
    color: var(--ColorTextForProgrammStadyPlashca);
}

.imo_advantage_pBOX {
    width: 50%;
}

.box_aboutIMO_C_B_imgBIG {
    width: 100%;
    /* height: 90%; */
    max-width: 755px;
    max-height: 885px;
}

.box_aboutIMO_C_B_img {
    width: 100%;
    /* height: 90%; */
    max-width: 755px;
    max-height: 620px;
    object-fit: cover;
}

.testABOUT {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.box_aboutIMO_width100p {
    width: 90%;
    display: flex;
    justify-content: start;
    margin: 100px 0px;
}

.box_aboutIMO_C_B_h3 {
    margin-bottom: 17px;
    margin-top: 30px;
}

.box_aboutIMO_content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 10px;
    row-gap: 30px;
}

.box_aboutIMO_C_B {
    width: 90%;
}

.imo_advantage {
    margin-top: 150px;
    width: 90%;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

.imo_advantage_Boxinf_gridBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 20px; */
    margin-top: 100px;
}

.imo_advantage_Boxinf_gridBoxcopi {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 20px;
    margin-top: 100px;
}

.imo_advantage_Boxinf_img {
    width: 50%;
    object-fit: cover;
}

.imo_advantage_Boxinf {
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imo_advantage_Boxinf_imgbox {
    width: 100%;
    height: 450px;
    background-color: #F9F9F9;
    border-radius: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    margin-bottom: 70px;
}

.imo_advantage_Boxinf_boxh3 {
    margin-top: 38px;
    margin-bottom: 9px;
}

.imo_advantage_Boxinf_3 {
    color: var(--colorText);
    font-family: var(--font-inter);
    font-size: 30px;
}

.imo_advantage_Boxinf_p {
    color: #000212;
    font-size: 18px;
    font-family: var(--font-inter);
}

.imo_advantage_h1 {
    font-family: var(--font-averta-cy-EB);
    font-size: 50px;
    color: var(--colorText);
}

.imo_advantage_p {
    font-family: var(--font-inter);
    font-size: 20px;
    color: #383838;
}

.doYOUHAVEQUES {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.doYOUHAVEQUES_h1 {
    font-family: var(--font-averta-cy-EB);
    font-size: 50px;
    color: var(--colorText);
    margin-bottom: 70px;
}

.doYOUHAVEQUES_boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.doYOUHAVEQUES_boxe {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.doYOUHAVEQUES_boxe_h1 {
    font-family: var(--font-averta-cy-EB);
    font-size: 23px;
    color: var(--ColorTextForProgrammStadyPlashca);
}

.doYOUHAVEQUES_boxes1 {
    background-image: url(../home_page/cssimg/doYOUHAVEQUES1.svg);
}

.doYOUHAVEQUES_boxes2 {
    background-image: url(../home_page/cssimg/doYOUHAVEQUES2.svg);
}

.doYOUHAVEQUES_boxes3 {
    background-image: url(../home_page/cssimg/doYOUHAVEQUES3.svg);
}

.GetAdvice {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #14161D;
    border-radius: 27px;
    margin-top: 130px;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 90px;
    padding-left: 10px;
}

.GetAdvice_Box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.GetAdvice_Box1_h1 {
    font-family: var(--font-inter);
    color: #fff;
    font-size: 40px;
    margin-bottom: 19px;
}

.GetAdvice_Box1_p {
    font-family: var(--font-inter);
    color: #fff;
    font-size: 20px;
}

.GetAdvice_Box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}


/* .GetAdvice_Box2_box_INPUTdasdad{
    width: 43%;
}
.GetAdvice_Box2_box_INPUT2{
    width: 100%;
} */

.GetAdvice_Box2_box_INPUTboxItem {
    border: 2px solid #26282F;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 9px;
    height: 57px;
    vertical-align: middle;
    padding: 0 10px 0 18px;
    color: #646464;
    font-size: 16px;
    font-family: var(--font-inter);
}

.GetAdvice_Box2_FLEX_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 91%;
    row-gap: 20px;
}

.GetAdvice_Box2_box_INPUT1 {
    width: 88%;
}

.GetAdvice_Box2_box_INPUT_BOXsize {
    width: 56%;
}

.GetAdvice_Box2_box_INPUT3 {
    width: 100%;
}

.GetAdvice_Box2_box_INPUT {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    align-items: center;
}

.GetAdvice_Box2_box_INPUT4 {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
}

.GetAdvice_Box2_box_P {
    color: #fff;
    font-size: 13px;
    font-family: var(--font-inter);
}

.GetAdvice_Box2_box_INPUT_Submit {
    color: #A0A0A0;
    font-size: 20px;
    font-family: var(--font-inter);
    padding: 11px 57px 10px 57px;
    background-color: #36393F;
    border: none;
    border-radius: 9px;
}

.GetAdvice_Box2_box_INPUT_displayTest {
    display: flex;
    justify-content: center;
    align-items: center;
}

.GetAdvice_Box2_box_INPUT_displayTest2 {
    display: flex;
    margin-bottom: 30px;
    margin-right: 20px;
}

.GetAdvice_Box2_box_INPUT_MARGIN {
    margin-right: 10px;
}

.weHAve_new {
    width: 80%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* margin-top: 150px; */
}

.weHAve_new_BOXh1 {
    margin-bottom: 70px;
    width: 80%;
}

.weHAve_new_h1 {
    color: var(--colorText);
    font-size: 50px;
    font-family: var(--font-averta-cy-EB);
    text-align: start;
}

.weHAve_new_boxStart {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-bottom: 30px;
}

.weHAve_new_boxStart_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
}

.weHAve_new_boxStart_img1 {
    width: 100%;
    height: 544px;
    background-image: url(../home_page/cssimg/Roket.svg);
}

.weHAve_new_boxStart_Inf {
    display: flex;
    justify-content: start;
    width: 100%;
    flex-direction: column;
}

.weHAve_new_boxStart_Inf_h3 {
    color: var(--colorText);
    font-size: 30px;
    font-family: var(--font-inter);
}

.weHAve_new_boxStart_Inf_boxh3 {
    margin-bottom: 18px;
    margin-top: 40px;
}

.weHAve_new_boxStart_Inf_boxINFimg {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 10px;
}

.weHAve_new_boxStart_Inf_boxINFimg_boximggtext {
    display: flex;
    align-items: center;
}

.weHAve_new_boxStart_Inf_boxINFp {
    margin-left: 24px;
    color: var(--colorText);
    font-size: 16px;
    font-family: var(--font-inter);
}

.weHAve_new_CardLink {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 15px;
    row-gap: 15px;
}

.weHAve_new_CardLinkBox {
    /* min-width: 320px; */
    width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.shadowH {
    transition: 0.2s;
}

.shadowH:hover {
    box-shadow: 0px 18px 42px 11px rgba(255, 255, 255, 0.09);
    margin-top: 5px;
    margin-bottom: 25px;
}

.weHAve_new_CardLink_boxStart_img2 {
    min-width: 320px;
    width: 376px;
    height: 387px;
    background-image: url(../home_page/cssimg/r2.svg);
    margin-bottom: 30px;
}

.weHAve_new_CardLink_boxStart_img3 {
    min-width: 320px;
    width: 376px;
    height: 387px;
    background-image: url(../home_page/cssimg/r3.svg);
    margin-bottom: 30px;
}

.weHAve_new_CardLink_boxStart_img4 {
    min-width: 320px;
    width: 376px;
    height: 387px;
    background-image: url(../home_page/cssimg/r4.svg);
    margin-bottom: 30px;
}

.weHAve_new_CardLink_boxStart_img5 {
    min-width: 320px;
    width: 376px;
    height: 387px;
    background-image: url(../home_page/cssimg/r5.svg);
    margin-bottom: 30px;
}

.weHAve_new_CardLink_Inf_h3 {
    color: var(--colorText);
    font-size: 16px;
    font-family: var(--font-inter);
}

.weHAve_new_CardLink_Inf_boxh3 {
    margin-bottom: 10px;
}

.footer_boxHR {
    width: 100%;
    /* margin: 200px 0 50px 0; */
}

.footer_hr {
    width: 100%;
    border: 0px;
    height: 2px;
    background-color: var();
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer_boxs_boxH3 {
    /* margin-bottom: 15px; */
}

.footer_boxs_H3 {
    color: var(--colorText);
    font-size: 16px;
    font-family: var(--font-inter);
}

.nowVW {
    font-size: 15px;
}

.marginTOP_70px {
    /* margin-top: 70px; */
}

.footer_boxs_textadrp {
    color: var(--colorText);
    font-size: 14px;
    font-family: var(--font-inter);
    margin-bottom: 10px;
}

.footer_boxs_3 {
    /* width: 50%; */
}

.footer_boxs_P {
    color: var(--colorText);
    font-size: 13px;
    font-family: var(--font-inter);
    margin-bottom: 10px;
}

.footer_boxs_links_box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: -20px;

}

.footer_boxs_links_box_l {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}
.footer_boxs_links_box_plot{
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2; 
    border-radius: 10px;
}

.footer_boxs_links_box_l1 {
    background-image: url(../home_page/cssimg/tvit.svg);
}

.footer_boxs_links_box_l2 {
    background-image: url(../home_page/cssimg/vk.svg);
}

.footer_boxs_links_box_l3 {
    background-image: url(../home_page/cssimg/watsap.svg);
}

.footer_boxs_links_box_l4 {
    background-image: url(../home_page/cssimg/Artboard.svg);
}

.footer_FM {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    height: 70px;
}

.footer_FM1 {
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer_FM1_Logo {
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../home_page/cssimg/footerLOGO.svg);
    margin-right: 20px;
}

.footer_FM1_p {
    color: #B7B7B7;
    font-size: 16px;
    font-family: var(--font-inter);
}

.footer_FM2 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
}

.link_FM2Text {
    color: #B7B7B7;
    font-size: 16px;
    font-family: var(--font-inter);
}

.hideMenu_in_Proffil {
    position: absolute;
    top: 95px;
    right: 10%;
    width: 344px;
    /* height: 348px; */
    padding-top: 20px;
    background: var(--backgroundColor);
    border: 1px solid var(--hideMenu_in_Proffil);
    box-sizing: border-box;
    box-shadow: 0px 37px 50px -21px rgba(0, 0, 0, 0.14);
    border-radius: 17.79px;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu_links_box_displayWhere700px {
    cursor: pointer;
}

.hideMenu_in_Proffil_litleBlock {
    width: 80%;
}

.noMargin {
    margin: 20px 0;
}

.hideMenu_in_Proffil_box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hideMenu_in_Proffil_boxIMG {
    margin-right: 13px;
}

.marginbottom10px {
    margin-bottom: 10px;
}

.textstule {
    color: var(--hiddenHederBlockColorText);
    font-size: 14px;
    font-family: var(--font-inter);
}

.hideMenu_in_Proffil_boxNAME {
    color: var(--hiddenHederBlockColorNameOfText);
}

.hideMenu_in_Proffil_boxEmail {
    font-size: 12px;
}

.hideMenu_in_Proffil_box_buttHThem {
    height: 50px;
}

.hideMenu_in_Proffil_boxMURGBOTT {
    margin-bottom: 20px;
}

.displayon {
    display: none;
    margin-left: 5px;
    margin-top: 10px;
}

.buttonsInHeader_box_search_Text {
    color: #fff;
    font-size: 14px;
    font-family: var(--font-inter);
    margin-left: 5px;
}

.serchON {
    cursor: pointer;
    z-index: 8;
    position: fixed;
    top: -102px;
    left: 0px;
    width: 100%;
    height: 0%;
    background-color: #000212;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSerchON {
    width: 100%;
}

.serchON_box {
    z-index: 8;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    grid-area: b0;
    position: fixed;
    top: 50%;
    /* left: 30%; */
}

.serchON_box_input {
    height: 20px;
    width: 50%;
    padding: 25px 10px 27px 50px;
    border: 1px solid #31303C;
    border-radius: 93px;
    color: #fff;
    font-size: 20px;
    font-family: var(--font-inter);
    background-color: rgba(0, 0, 0, 0);
}

.serchON_box_img {
    position: relative;
    left: 40px;
}

.headerLanguage {
    width: 164px;
    height: 137px;
    position: absolute;
    display: none;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    background-color: var(--backgroundColor);
    border: 1px solid var(--hideMenu_in_Proffil);
    border-radius: 17px;
    top: 110px;
    padding: 20px 0px 0px 25px;
}

.img_active {
    padding: 4px;
    background-color: #000;
    border-radius: 4px;
}

.img_no_active {
    padding: 4px;
    background-color: #F5F5F5;
    border-radius: 4px;
}

.headerLanguage_flexbox {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.defineText {
    color: var(--colorText);
    font-size: 16px;
    font-family: var(--font-inter);
}

@media screen and (min-width:1900px) {
    .doYOUHAVEQUES_boxe {
        width: 530px;
        height: 440px;
    }
}

@media screen and (max-width:1170px) {
    .header2_boxImgSvg_Width50 {
        display: none;
    }
    .header2 {
        justify-content: center;
    }
    .header2_boxText {
        width: 62%;
        text-align: center;
        margin-left: 0px;
    }
}

@media screen and (min-width:1062) {
    .menu_links_boxs_links {
        display: flex;
    }
}

@media screen and (max-width:1062px) {
    .menu_links_box_displayWhere700px {
        display: flex;
    }
    .menu_links_boxs_links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        width: 180px;
        border: 1px solid #F3F3F3;
        border-radius: 5px;
        background-color: var(--backgroundColor);
        padding: 5px;
        align-items: baseline;
        transition: 1s;
    }
    .menu_links_boxs_links_link {
        margin: 5px 0px;
    }
    .buttonsInHeader {
        width: 30%;
    }
    .menu_links_boxs {
        width: 70%;
    }
    .specialty_box_displayFlex_litleBox {
        flex-direction: column;
        align-items: center;
    }
    .standartStyleForimgSp {
        width: 300px;
    }
    .marginLeft20px {
        margin-left: 0px;
    }
    .trainingProgram_TextBox_displayFlex {
        align-items: center;
    }
    .textAlignCenter {
        text-align: center;
    }
    .specialty_box_picture_text {
        text-align: center;
    }
    .Memo_ImgSvg {
        display: none;
    }
    .Memo_boxes_of_informations1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
    }
    .MEmo_boxes_of_informations_MAin {
        margin-top: 60px;
    }
    .Memo_box_textInf_marginLEftandRight {
        margin: 40px 12px;
    }
}

@media screen and (max-width:900px) {
    .specialty_box_picture_text {
        font-size: 2.7vw;
    }
    .Memo_box_textInf_p {
        font-size: 2.9vw;
    }
    .Memo_box_Ph {
        font-size: 2.5vw;
    }
    .Memo_boxContentH1 {
        font-size: 2.7vw;
    }
}

@media screen and (max-width:782px) {
    .header2_boxText_twoBTN {
        flex-direction: column;
    }
    .header2_boxText {
        width: 100%;
    }
    .margin_bottom20px {
        margin-bottom: 20px;
    }
    .header2_boxText_twoBTNBox {
        width: 100%;
    }
}

@media screen and (max-width:700px) {
    .main_icon_logo {
        left: 2%;
        width: 46px;
        height: 46px;
    }
    .menu_links_boxs {
        justify-content: center;
    }
}

@media screen and (max-width:590px) {
    .header2_boxText_boxH1 {
        font-size: 300%;
    }
    .text_List_In_buttom {
        display: none;
    }
    .trainingProgram_TextBox {
        width: auto;
    }
}

@media screen and (max-width:480px) {
    .specialty_box_picture_text {
        font-size: 5vw;
    }
}

@media screen and (max-width:450px) {
    .header2_boxText_boxH1 {
        font-size: 250%;
    }
    .sizeBox {
        width: 300px;
    }
    .hideMenu_in_Proffil {
        width: 280px;
        height: 290px;
    }
}

@media screen and (max-width:370px) {
    .header2_boxText_boxH1 {
        font-size: 200%;
    }
}

@media screen and (max-width:320px) {
    .sizeBox {
        width: 288px;
    }
}

@media screen and (max-width:500px) {
    .displayof {
        display: none;
    }
    .displayon {
        display: flex;
    }
    .menu_links_boxs {
        width: auto;
    }
}


/* @media screen and (min-width:) {
    
} */

.nowVW {
    font-size: 15px;
    text-decoration-line: underline;
}


/* Cursor  */
.cursor{
    cursor: var(--hand-cursor-w);
}

.cursorN{
    cursor: var(--hand-cursor-d);
}

div p {
    margin-bottom: 0;
}

.imo_advantage_BOXtext{
    display: grid;
    justify-content: start;
    align-content: center;
}