.headerTwoEnteringImo {
    width: 100%;
    background-color: #fff;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 114px;
}

.headerTwoEnteringImo_place {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.headerTwoEnteringImo_links {
    display: flex;
}

.headerTwoEnteringImo_link_butExit {
    display: flex;
    align-items: center;
    margin-right: 19px;
}

.headerTwoEnteringImo_link_butExit_imgarrow {
    margin: 0px 10px;
}

.headerTwoEnteringImo_link_butExit_text {
    color: #6D6F72;
    font-family: "inter";
    font-size: 15px;
}

.headerTwoEnteringImo_notbox_h1 {
    color: #000000;
    font-family: "inter";
    font-size: 60px;
}

.header_placeColor {
    width: 100%;
    background-color: #0E1016;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    flex-direction: column;
}

.headerTwoEnteringImo_Information {
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.headerTwoEnteringImo_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 510px;
}

.borderLR {
    border-left: 2px solid #21232E;
    border-right: 2px solid #21232E;
}

.headerTwoEnteringImo_column_box {
    width: 510px;
    height: 225px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    flex-direction: column;
    cursor: pointer;
}

/* .borderBottomAndTop {
    border-top: 2px solid #21232E;
    border-bottom: 2px solid #21232E;
} */

/* .borderTop {
    border-top: 2px solid #21232E;
} */

.headerTwoEnteringImo_column_box_p {
    color: #000212;
    font-family: var(--font-averta-cy);
    font-size: 26px;
    text-decoration: none;
}

.headerTwoEnteringImo_column_item {
    height: 200px;
    border: 0px;
    width: 2px;
    background-color: #21232E;
    border-top: 1px solid #21232E;
    margin: 10px;
}

.headerTwoEnteringImo_columnCI {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.marginbottom40px {
    margin-bottom: 20px;
    margin-top: 30px;
}

.headerTwoEnteringImo_column_box_p_box_flex {
    width: 80%;
    height: 40%;
}

.fontSize28px {
    font-size: 28px;
}

.img_link_box {
    position: relative;
    bottom: -16px;
    left: -192px;
}

.img_link_boxEnd {
    /* bottom: -100px; */
}

.live_in_sharaga {
    margin-top: 100px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.live_in_sharaga_h1_text {
    width: 90%;
    margin-bottom: 40px;
}

.live_in_sharaga_h1_text_h1 {
    font-size: 40px;
    font-family: var(--font-averta-cy);
    color: #fff;
}

.live_in_sharaga_boxIMG {
    width: 90%;
    height: 261px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 35px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-bottom: 42px;
    box-shadow: inset 0px -120px 49px rgba(0, 0, 0, 0.5);
}

.live_in_sharaga_boxIMG_bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    row-gap: 40px;
}

.live_in_sharaga_boxIMG_bottomItem {
    width: 460px;
    height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 35px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    box-shadow: inset 0px -120px 49px rgba(0, 0, 0, 0.5);
}

.live_in_sharaga_boxIMG_img1 {
    background-image: url(../../img/imgAboutKAzan.svg);
}

.live_in_sharaga_boxIMG_img2 {
    background-image: url(../../img/imgAboutSharaga.svg);
}

.live_in_sharaga_boxIMG_img3 {
    background-image: url(../../img/Whatyoucanvisitinthecity.svg);
}

.live_in_sharaga_boxIMG_img4 {
    background-image: url(../../img/sportStyleimg.svg);
}

.live_in_sharaga_boxIMG_img5 {
    background-image: url(../../img/studLifeStyle.svg);
}

.live_in_sharaga_boxIMG_img6 {
    background-image: url(../../img/nationalFod.svg);
}

.live_in_sharaga_boxIMG_a {
    margin: 0 0 50px 50px;
    font-size: 40px;
    font-family: var(--font-averta-cy-EB);
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width:555px) {
    .headerTwoEnteringImo_notbox_h1 {
        font-size: 40px;
    }
    .headerTwoEnteringImo_links {
        flex-wrap: wrap;
    }
}


#id_phone_0{
    width: 30%;
}

#id_phone_1{
    width: 70%;
}

.phone-number-field{
    gap: 5%;
    display: flex;
}

.ProgramVstuplenie{
    background-repeat: no-repeat;
    width: 42px;
    height: 41px;
}

.DemoTest{
    background-repeat: no-repeat;
    width: 44px;
    height: 37px;
}

.RaspisanieIspit{
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
}